$esp-height: 70vh;
$esp-header-height: 40px;

.emojiPicker {
  height: calc(#{$esp-height} - #{$esp-header-height});
}

.appPickerContainer {
  position: fixed;
  z-index: 10;
  width: 56%;
  height: 70vh;
  right: 13px;
  bottom: 50px;
  background-color: var(--bgPrimary);
  border-radius: var(--picker-BorderRadius);
  overflow: hidden;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .0901960784);
  @media (max-width: 900px) {
    width: 40%;
  }

  @media (max-width: 720px) {
    width: 100%;
    right: 0px;
  }
}

.appPicker {
  position: relative;
}
