.reactions {
  cursor: pointer;
  margin-inline-end: 10px;
  position: relative;
  line-height: 1; // So that it doesn't change the message height.
  top: 16px;
}

.emoji {
  background-color: var(--messageIncomingBg);
  border-radius: 24px;
  border: solid 1px rgba(100, 100, 100, 0.3);
  font-size: 16px;
  padding: 2px 6px;

  & ~ & {
    margin-inline-start: 2px;
  }

  &.isFromSelf {
    background-color: var(--messageOutgoingBg);
  }

  &.showMore {
    color: var(--messageText);

    &::after {
      content: '⋯';
      display: inline-block;
      position: relative;
      top: 1px;
    }
  }
}

.emojiCount {
  bottom: 1px;
  color: var(--messageText);
  font-size: 12px;
  margin-inline-start: 3px;
  margin-inline-end: 1px;
  position: relative;
}

.openReactionsListDialogButton {
  // Fill the parent.
  position: absolute;
  inset: 0;
  border: none;
  background: transparent;
}
