.emoji-container {
  margin-bottom: -1px;
  font-size: 1.25em;
  line-height: 1em;
}

.emoji-container.small {
  font-size: 1.35em;
}
.emoji-container.medium {
  font-size: 1.75em;
}
.emoji-container.large {
  font-size: 2.5em;
}
.emoji-container.jumbo {
  font-size: 3em;
}

// we need these, or we'll make conversation items too big in the left-nav
.conversations {
  .emoji-container.small, .emoji-container.medium, .emoji-container.large, .emoji-container.jumbo {
    font-size: 1em;
  }
}

button.emoji {
  width: 36px;
  height: 36px;
  padding: 0;
  opacity: 0.5;
  border: none;
  background: transparent;

  &:before {
    content: '';
    display: inline-block;
    width: $button-height;
    height: $button-height;
    @include color-svg('../images/smile.svg', var(--color-grey));
  }

  &:focus,
  &:hover {
    opacity: 1;
  }
}

.emoji-mart-category-list > li {
  min-width: initial;
}
