* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: $roboto!important;
  font-size: 14px;
  color: var(--globalText);
  background-color: var(--globalBackground);
}

.window {
  height: calc(100vh - 50px);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  padding: 10px 10px;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  min-width: 200px;
}

h1, h2, h3, h4, h5, p, .bp3-button, .bp3-dialog-header, button>span, label {
  user-select: none;
}

button {
  cursor: pointer;
  font-size: inherit;
}

a {
  color: var(--globalLinkColor);
}

.SelectGroupImage {
  width: 100px;
}

.GroupImage {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.RemoveGroupImage {
  width: 100px;
  margin-bottom: 4px;
}

$unread-badge-size: 21px;

input[type='text'],
input[type='search'],
textarea {
  &:active,
  &:focus {
    outline: 1px solid $color-global-textarea-outline;
  }
}

input:focus {
  outline: 0 !important;
}

//yellow/blue border fix
button:focus  {
  outline: none;
}
button:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbarThumb);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbarThumbHover);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

code {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 0.8pt;
  padding: 0.4pt 3pt;
}

.markdown-code {
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 3pt;
  padding: 3pt 4pt;
  border: 1pt rgba(0, 0, 0, 0.35) solid;
}

.markdown-code > code{
  background-color: none;
  border-radius: 0;
  padding: none;
}

.sharp-pixel-image {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
}