.icon {
  display: block;
  width: 48px;
  height: 48px;

  &.videocamera {
    background-image: url('../images/videocamera.svg');
    background-repeat: no-repeat;
    margin: 5px;
    background-size: 38px;
  }
}

.remove-icon {
  margin-top: calc((64px - 20px) / 2);
  margin-right: 10px;
  .bp3-icon > svg {
    width: 20px;
    height: 20px;
    fill: grey;
  }
}

.remove-icon:hover {
  .bp3-icon {
    & > svg {
      fill: #bf0000;
    }
  }
}