.scrollable {
  height: 100%;
  overflow: auto;
}

.new-contact {
  display: none;
  cursor: pointer;
  opacity: 0.7;

  &.valid {
    opacity: 1;
  }
}

.index {
  .last-message {
    margin: 6px 0 0;
    font-size: $font-size-small;
  }
}
