.scrollable {
  height: 100%;
  overflow: auto;
}

.last-timestamp {
  font-size: smaller;
  float: right;
  margin: 0 10px;
  color: $color-index-last-timestamp;
}

.new-contact {
  display: none;
  cursor: pointer;
  opacity: 0.7;

  &.valid {
    opacity: 1;
  }
}

.index {
  .last-message {
    margin: 6px 0 0;
    font-size: $font-size-small;
  }
}
