$emojifonts: 'Apple Color Emoji', NotoEmoji;

$roboto: Roboto, $emojifonts, 'Helvetica Neue', Arial, Helvetica, NotoMono,
  sans-serif;
$roboto-light: Roboto-Light, $emojifonts, 'Helvetica Neue', Arial, Helvetica,
  NotoMono, sans-serif;

$nav-bar-height: 50px;
$content-height: calc(100vh - #{$nav-bar-height});
/* Theming Colors */

// Belongs to stuff we plan to remove / change anyway
// so we don't put this into theming yet
// because it will change
$color-message-detail-delete-button-border: #a4a6a9;
$color-message-detail-delete-bg: #f44336;
$color-message-detail-delete: #ffffff;

$color-global-textarea-outline: #2090ea;

// A few layout variables used cross-file
$header-height: 48px;
$button-height: 24px;

$border-radius: 5px;

$font-size: 14px;

$account-sidebar-width: 70px;