@font-face {
  font-family: 'Roboto-Light';
  src: url('fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Italic.ttf') format('truetype');
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'NotoMono';
  src: url('fonts/noto/mono/NotoMono-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'NotoEmoji';
  src: url('fonts/noto/emoji/NotoColorEmoji.ttf') format('truetype');
}

$emojifonts: 'Apple Color Emoji', NotoEmoji;

$roboto: Roboto, $emojifonts, 'Helvetica Neue', Arial, Helvetica, NotoMono, sans-serif;
$roboto-light: Roboto-Light, $emojifonts, 'Helvetica Neue', Arial, Helvetica, NotoMono, sans-serif;

/* Theming Colors */


// Belongs to stuff we plan to remove / change anyway 
// so we don't put this into theming yet
// because it will change
$color-message-detail-delete-button-border: #a4a6a9;
$color-message-detail-delete-bg: #f44336;
$color-message-detail-delete: #ffffff;

$color-chat-list-item-default-avatar-bg: #505050; //This is never used because the core allways sets the color
$color-global-textarea-outline: #2090ea;

// A few layout variables used cross-file
$header-height: 48px;
$button-height: 24px;

$border-radius: 5px;

$font-size: 14px;
