@font-face {
  font-family: 'Roboto-Light';
  src: url('fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Italic.ttf') format('truetype');
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'NotoMono';
  src: url('fonts/noto/mono/NotoMono-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'NotoEmoji';
  src: url('fonts/noto/emoji/NotoColorEmoji.ttf') format('truetype');
}

$emojifonts: 'Apple Color Emoji', NotoEmoji;

$roboto: Roboto, $emojifonts, 'Helvetica Neue', Arial, Helvetica, NotoMono, sans-serif;
$roboto-light: Roboto-Light, $emojifonts, 'Helvetica Neue', Arial, Helvetica, NotoMono, sans-serif;

// New colors

html {
  // clr stands for color to save space

  --clr-error: #f44336;
  --clr-error-variant: #f44336;
  --clr-context-item-selected: #fff;
  --clr-context-menu-text: #070c14;
  --clr-broken-media-bg: #070c14;
  --clr-broken-media-bg-text: #fff;
  --clr-message-status-icon-sending: #62656a;
  --clr-message-buttons: #8b8e91;
  --clr-message-buttons: #070c14;
  --clr-avatar-label: #fff;

}

// Theming Colors

  /* Global */
  $color-global-a: #2090ea;
  $color-global-bg: #fff;
  $color-global-text: #070c14;
  $color-global-textarea-outline: #2090ea;
  $color-global-x: #ffffff;
  $color-global-x-bg: #616161;

  $color-scrollbar-thumb: #666666;
  $color-scrollbar-thumb-hover: #606060;
  
  /* Misc */
  $color-contact-default-label: #ffffff;
  $color-contact-list-item: #62656a;
  
  $color-bp3-dialogs-bg: #ececec;
  
  $color-map-overlay-bg: #fff;
  
  /* Message Composer */
  $color-composer-emoji-btn: #616161;
  $color-composer-file-btn: #616161;

  /* ChatView (conversation) */
  $color-conversation-bg: #fff;
  $color-conversation-discussion-container-bg: #fff;
  
  /* Chat List (conversation list) */
  $color-conversation-list-has-unread: #2090ea;
  $color-conversation-list-unread-count-bg: #2090ea;
  $color-conversation-list-message-error: var(--clr-error);
  $color-conversation-list-unread-count: #ffffff;
  $color-conversation-list-avatar-text: var(--clr-avatar-label);
  
  /* Message Bubble */
  $color-message-attachment-container-bg: #ffffff;
  $color-message-attachment-filename-incomming: #ffffff;
  $color-message-attachment-filesize-incomming: #ffffff;
  $color-message-author: #ffffff;
  
  $color-message-author-default-avatar-label: var(--clr-avatar-label);
  
  $color-message-broken-image-incomming: var(--clr-broken-media-bg-text);
  $color-message-broken-video-screenshot-incomming: var(--clr-broken-media-bg-text);
  $color-message-broken-image: var(--clr-broken-media-bg);
  $color-message-broken-video-screenshot: var(--clr-broken-media-bg);
  $color-message-video-overlay-circle: #ffffff;
  $color-message-video-play: #2090ea;

  $color-message-metadata-date-incomming: rgba(#ffffff, 0.7);
  $color-message-metadata-date: #62656a;
  
  $color-message-generic-attachment-icon-extension: #070c14;
  $color-message-generic-attachment-filename: #070c14;
  $color-message-generic-attachment-filesize: #070c14;
  $color-message-text: #070c14;
  $color-message-text-underline: #070c14;
  
  $color-message-metadata-image-no-caption: #ffffff;
  $color-message-padlock-incomming: #a4a6a9;
  $color-message-padlock-outgoing: #4caf50;
  
  $color-message-button-download: var(--clr-message-buttons);
  $color-message-button-reply: var(--clr-message-buttons);
  $color-message-button-menu: var(--clr-message-buttons);
  $color-message-button-download-hover: var(--clr-message-buttons);
  $color-message-button-reply-hover: var(--clr-message-buttons);
  $color-message-button-menu-hover: var(--clr-message-buttons);
  
  $color-message-icon-error: #ffffff;
  
  /* Context menu */
  $color-context-menu-border: #efefef;
  $color-context-menu-bg: #f9fafa;
  $color-context-menu-text: var(--clr-context-menu-text);
  $color-context-menu-selected-bg: #a4a6a9;
  $color-context-menu-selected-text: var(--clr-context-item-selected);
  
  /* Message Status */
  $color-msg-status-icon-sent: #a4a6a9;
  $color-msg-status-icon-delivered: #a4a6a9;
  $color-msg-status-icon-read: #a4a6a9;
  $color-msg-status-icon-error:$color-conversation-list-message-error;
  $color-msg-status-icon-sending: var(--clr-message-status-icon-sending);
  

// Belongs to stuff we plan to remove / change anyway 
// so we don't put this into theming yet
// because it will change
$color-message-detail-delete-button-border: #a4a6a9;
$color-message-detail-delete-bg: #f44336;
$color-message-detail-delete: #ffffff;

$color-conversation-list-item-default-avatar-bg: #505050; //This is never used because the core allways sets the color

/* 

Todo:
0. sort them by group/module ✔️
1. cleanup
- check for usused style/colors
- check for colors/ styles that get allways overwritten by styled components
- check for typos
4. make css vars
5. fix indent
6. bring them in js

*/



// A few layout variables used cross-file

$header-height: 48px;
$button-height: 24px;

$border-radius: 5px;

$font-size: 14px;
$font-size-small: (13/14) + em;
