// Using BEM syntax explained here: https://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/

// Global Settings, Variables, and Mixins
@import 'variables';
@import 'mixins';
@import 'global';

// Components
@import 'emoji';

// Chat
@import 'chat/_chat-list-item';
@import 'chat/_chat-list';

// Composer
@import 'composer/_composer';
@import 'composer/_emoji-sticker-picker';

// Contact
@import 'contact/_contact-list';
@import 'contact/_contact';

// Gallery (media view)
@import 'gallery/attachment-view';

// Dialogs
@import 'dialogs/_forward-message';
@import 'dialogs/_settings';
@import 'dialogs/_about';

// Login
@import 'login/_login.scss';

// Map
@import 'map/_map';

// Message
@import 'message/_message-detail';
@import 'message/_message-list';
@import 'message/_message';
@import 'message/_status-icon';

// Overwrites for third party node modules
@import 'overwrites/_bp3-overwrites';
@import 'overwrites/_react-context-menu-overwrites';
