@import '../node_modules/mapbox-gl/dist/mapbox-gl.css';

$color-map-overlay-bg: var(--mapOverlayBg);

.map-wrapper {
  margin-left: 30vw;
  position: absolute;
}

#map {
  margin-top: 50px;
  height: calc(100vh - 50px);
  width: 70vw;
}

.mapboxgl-canvas {
  width: 100% !important;
  height: 100% !important;
}

.marker-icon {
  font-size: 36px;
  font-weight: bold;
  color: red;
  text-shadow: 4px 4px 5px #999;
}

div.context-menu {
  width: 200px;
  background-color: var(--mapMessageBg);
  label {
    display: block;
    font-size: 13px;
    padding: 2px;
  }
  input {
    height: 24px;
    font-size: 16px;
    padding: 3px;
    width: 160px;
    border-width: 0 0 1px 0;
    border-color: #666;
    border-style: solid;
  }
  div.send-button-wrapper {
    width: 32px;
    height: 32px;
    float: right;
    margin-top: 14px;
    margin-bottom: 4px;
    margin-right: 5px;
    background-color: #415e6b;
    border-radius: 180px;
    cursor: pointer;
    button {
      height: 24px;
      width: 24px;
      margin: 4px;
      padding-left: 16px;
      border: none;
      background-image: url(../images/send-button.png);
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: 3px 1px;
      background-size: contain;
      vertical-align: middle;
    }
  }
}

.mapboxgl-marker {
  cursor: pointer;
}

.map-overlay {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: fixed;
  width: 160px;
  top: 80px;
  right: 20px;
  padding: 10px;
  background-color: $color-map-overlay-bg;
  z-index: 1;
  border-radius: 5px;
}

#controls {
  h3 {
    margin-bottom: 0;
    clear: both;
  }

  button.collapse-control {
    padding-left: 0;
  }
  button.toggle-path {
    padding-left: 0;
  }

  .bp4-slider {
    margin-top: 10px;
  }

  .bp4-slider-handle:focus {
    outline: none;
  }

  .bp4-slider-label {
    width: 80px;
  }

  #menu {
    margin-top: 5pt;
    clear: both;
    div {
      width: 50%;
      float: left;

      input {
        margin-right: 4px;
      }
    }
  }

  .bp4-button.bp4-minimal:hover {
    background: none;
  }

  .contactFilter {
    padding-top: 10px;
    label {
      padding-left: 5px;
    }
  }
}

.map-popup {
  font-family: $roboto; // fix that emojis get displayed right in the popups
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: var(--mapMessageBg);
}

.mapboxgl-popup-content {
  background-color: var(--mapMessageBg);
}

.mapboxgl-popup-close-button {
  color: var(--globalText);
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  margin: 0;
  position: fixed;
  float: right;
  right: 20px;
  bottom: 40px;
}
