@use '../../../../scss/mixins';
@use '../../../../scss/main_screen/_navbar';

// FYI there is also `_main_screen.scss`.

// `!important` because `react-resizable-panels` sets `display` prop inline.
// Though it might be more proper to use the `collapsed` prop
// of `react-resizable-panels`.
:global(.main-screen.small-screen.chat-view-open) {
  :global(#chatList) {
    display: none !important;
  }
}
:global(.main-screen.small-screen:not(.chat-view-open)) {
  :global(#chatView) {
    display: none !important;
  }
}
:global(.main-screen.small-screen) .chatListResizeHandle {
  display: none;
}

.chatListAndHeaderAndAudioPlayer {
  display: flex;
  flex-direction: column;

  .chatListAndHeader {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .chatListHeader {
    @include navbar.navbar;
    display: flex;
    align-items: center;
    padding: 0px 10px;

    > button {
      margin-inline-start: 8px;
    }

    .highlight {
      align-items: center;
      justify-content: center;
      color: var(--navBarText);
      border-radius: 10px;
      height: 24px;
      min-width: 24px;
      padding-block: 0;
      padding-inline: 1px 0;

      &:hover {
        background-color: var(--navBarButtonHover);
      }
    }

    .archivedChatsTitle {
      flex: 1 1 auto;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 18px;
      user-select: none;
    }
  }
}
.chatListResizeHandle {
  width: 0;
  // So the outline doesn't get covered by the panels, see
  // https://react-resizable-panels.vercel.app/examples/overflow.
  z-index: 1;

  &:focus-visible {
    // Seems to be needed, otherwise it's invisible.
    outline-style: solid;
  }
}
