@use '../../../../scss/mixins';
@use '../../../../scss/main_screen/_navbar';

// FYI there is also `_main_screen.scss`.

:global(.main-screen.small-screen.chat-view-open) {
  .chatListAndHeaderAndAudioPlayer {
    display: none;
  }
}
:global(.main-screen.small-screen:not(.chat-view-open)) {
  .chatView {
    display: none;
  }
}

$chatListFraction: 3;
$chatViewFraction: 8;
$widthPixelsEstimate: 1000px;
.chatListAndHeaderAndAudioPlayer {
  display: flex;
  flex-direction: column;

  resize: horizontal;
  // Resize won't actually work without this.
  overflow-x: hidden;

  // `width` will be overridden by the `element.style.width`
  // when the user resizes it.
  //
  // Note that due to the fact that we use `flex-grow` and `flex-shrink`,
  // the `width` property value does not equal the actual width of the elements,
  // but rather just their relative sizes.
  // The downside is that the size doesn't actually follow the user's cursor
  // when they resize the chat list,
  // and the width annoyingly jumps just as they start resizing it.
  // The upside is that when they resize it, they specify
  // the *relative sizes* of the two sections.
  // Unfortunately this native resizing always sets `style.width` in pixels
  // and not as a percentage or something.
  width: var(
    --initialChatListAndHeaderAndAudioPlayerWidth,
    calc(
      $widthPixelsEstimate * $chatListFraction /
        ($chatListFraction + $chatViewFraction)
    )
  );
  // `flex-grow` kicks in when the `width` of the the two sections combined
  // is smaller than that of the parent.
  // `flex-shrink` kicks in when it's smaller.
  //
  // I'm not gonna pretend like there is thorough understanding
  // and deliberate calculation behind these values,
  // but they feel pretty alright.
  flex-grow: $chatListFraction;
  flex-shrink: 1;

  // TODO this should probably depend on the avatar size and padding,
  // (and the scrollbar width?)
  // Also if the proxy icon is disabled in the header then it overflows.
  min-width: 5rem;

  .chatListAndHeader {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .chatListHeader {
    @include navbar.navbar;
    display: flex;
    align-items: center;
    padding: 0px 10px;

    > button {
      margin-inline-start: 8px;
    }

    .highlight {
      align-items: center;
      justify-content: center;
      color: var(--navBarText);
      border-radius: 10px;
      height: 24px;
      min-width: 24px;
      padding-block: 0;
      padding-inline: 1px 0;

      &:hover {
        background-color: var(--navBarButtonHover);
      }
    }

    .archivedChatsTitle {
      flex: 1 1 auto;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 18px;
      user-select: none;
    }
  }
}
:global(.main-screen.small-screen) {
  .chatListAndHeaderAndAudioPlayer {
    resize: unset;
  }
}
.chatView {
  // See above, `.chatListAndHeaderAndAudioPlayer`.
  width: calc(
    $widthPixelsEstimate * $chatViewFraction /
      ($chatListFraction + $chatViewFraction)
  );
  flex-grow: $chatViewFraction;
  flex-shrink: 1;
}
