.keyboard-shortcuts-dialog {
  .keybinding {
    display: flex;
    align-items: center;
    gap: 3px;

    .key {
      border-radius: 4px;
      border: 1px var(--keybindingKeyBorder) solid;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: 12px;
      padding: 4px;
      min-width: 20px;
      min-height: 20px;

      &.pressed {
        box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
        transform: translatey(1px);
      }

      &.isSymbol {
        font-size: 18px;
        padding: 0;
      }
    }
  }

  .shortcut-item {
    display: flex;
    justify-content: space-between;
    padding: 6px 30px;
    padding-inline-end: 12px;
    margin-bottom: 1px;
    background-color: var(--keybindingActionBackground);

    &:last-child {
      border-bottom: none;
    }

    .shortcut-title {
      font-size: 14px;
      color: var(--colorText);
      flex: 1;
    }

    .shortcut-bindings {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: flex-end;
    }
  }
}

.keyboard-shortcuts-dialog {
  .keybinding {
    font-size: 0.84em;
  }

  .dialog-body,
  .shortcuts-dialog-body {
    padding: 0;
    overflow-y: auto;
  }

  .keyboard-hint-dialog-body,
  .shortcuts-grid {
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 0;

    .shortcuts-section-title {
      margin-bottom: 1px;
      padding-inline-start: 30px;
      padding-top: 4px;
      h4 {
        margin: 10px 0;
      }
    }
  }
}
