.loading {
  margin: auto;
}

.loading > p {
  text-align: center;
}

.loading > div {
  display: flex;
  flex-direction: row;
}

.cell-row {
  display: flex;
  flex-direction: column;
}

.cell {
  height: '36px';
  width: '36px';
  border-color: '#000';
  border-width: '2px';
  border-radius: '2px';
}
