/* Message Bubble */
.message {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: stretch;

  &:hover {
    .message-buttons {
      opacity: 1;
    }
  }

  & > .author-avatar {
    align-self: flex-end;
    bottom: 0px;
    position: static;
    margin-right: 8px;
    user-select: none;

    img {
      height: 36px;
      width: 36px;
      border-radius: 18px;
      object-fit: cover;
      cursor: pointer;
    }

    &.default {
      // text letter version
      text-align: center;

      & > .label {
        user-select: none;
        color: var(--avatarLabelColor);

        top: -121px;
        left: -10px;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        font-size: 25px;
        line-height: 36px;
        cursor: pointer;
      }
    }
  }

  .message-buttons {
    position: absolute;
    top: 5px;
    right: -4px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    opacity: 0;
    z-index: 10;
    user-select: text;

    .msg-button {
      height: 24px;
      width: 24px;
      display: inline-block;
      cursor: pointer;

      &:hover {
        background-color: var(--messageButtons);
      }

      &.download {
        @include color-svg('../images/download.svg', var(--messageButtons));
      }

      &.reply {
        display: none;
        /* not used currently */
        @include color-svg('../images/reply.svg', var(--messageButtons));
        user-select: none;
      }

      &.menu {
        @include color-svg-rotated(
          '../images/ellipsis.svg',
          var(--messageButtons)
        );
        -webkit-mask-position-y: 4px;
        user-select: none;
      }
    }
  }

  .msg-container {
    position: relative;
    display: inline-block;
    border-radius: 16px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 10px;
    padding-bottom: 10px;

    & > .author {
      display: inline-block;
      max-width: 40vw;
      font-size: 13px;
      font-weight: 300;
      line-height: 18px;
      height: 18px;
      overflow-x: hidden;
      overflow-y: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
    }

    .msg-body {
      &.msg-body--clickable {
        cursor: pointer;
      }

      & > .text {
        color: var(--messageText);
        font-size: 14px;
        line-height: 18px;
        text-align: start;

        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        white-space: pre-wrap;

        a {
          text-decoration: underline;
          color: var(--messageTextLink);
        }

        margin-right: 10px;

        .double-line-break {
          height: 28px;
        }

        .line-break {
          height: 14px;
        }

        .line-break:last-child {
          height: 0px;
        }
      }
    }
  }

  .metadata {
    margin-top: 10px;
    margin-bottom: -7px;
    float: right;
  }

  .module-message__img-attachment {
    object-fit: cover;
    width: auto;
    max-width: 100%;
    min-height: unset;
  }
}

// States that modify the message buble appearance

.message.incoming {
  margin-left: 0;
  margin-right: 32px;

  .metadata:not(.with-image-no-caption) {
    & > .padlock-icon {
      @include color-svg(
        '../images/padlock.svg',
        var(--messagePadlockIncomming),
        125%
      );
    }

    & > .location-icon {
      @include color-svg(
        '../images/map-marker.svg',
        var(--messagePadlockIncomming),
        100%
      );
    }

    & > .date {
      color: var(--messageMetadataIncomming);
    }
  }

  .msg-container {
    background-color: var(--messageIncommingBg);

    &,
    .message-attachment-media {
      border-bottom-left-radius: 1px;
    }
  }
}

.message.outgoing {
  float: right;
  margin-right: 0;
  margin-left: 32px;

  .metadata {
    & > .date {
      color: var(--messageOutgoingStatusColor);
    }

    & > .padlock-icon {
      @include color-svg(
        '../images/padlock.svg',
        var(--messagePadlockOutgoing),
        125%
      );
    }

    & > .location-icon {
      @include color-svg(
        '../images/map-marker.svg',
        var(--messagePadlockOutgoing),
        100%
      );
    }

    & > .status-icon.read,
    & > .status-icon.delivered {
      background-color: var(--messageOutgoingStatusColor);
    }
  }

  .msg-container {
    background-color: var(--messageOutgoingBg);

    &,
    .message-attachment-media {
      border-bottom-right-radius: 1px;
    }
  }
}

.message.type-sticker {
  .msg-container {
    background-color: transparent !important;
  }

  .message-attachment-media {
    background-color: transparent;
    & > .attachment-content {
      margin-bottom: 20px;
    }
  }

  .metadata {
    float: right;
    padding: 4px 10px 1px 10px;
    margin-bottom: -7px;
    background-color: #01010159;
    border-radius: 4px;
    color: black;
    font-weight: bold;
  }

  .metadata {
    & > .date {
      font-size: 11px;
      color: white;
    }

    & > .padlock-icon {
      @include color-svg('../images/padlock.svg', white, 125%);
    }

    & > .location-icon {
      @include color-svg('../images/map-marker.svg', white, 100%);
    }
  }

  .status-icon.read,
  .status-icon.delivered {
    background-color: white;
  }

  &:hover {
    .msg-button.menu {
      background-color: white;
    }

    .react-contextmenu-wrapper {
      background-color: #2525258f;
      border-radius: 4px;
    }
  }
}

.message.error.incoming {
  .text {
    font-style: italic;
  }
}

.message.forwarded {
  .forwarded-indicator {
    font-weight: bold;
    font-size: 0.9em;
    margin-bottom: 3px;
    opacity: 0.86;
  }
  .message-attachment-media {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
  }
}

.setupMessage {
  .message {
    .text {
      color: var(--setupMessageText);
    }
  }
}

// Media queries (responsiveness)
// All media query widths have 300px added to account for the left pane
// And have been tweaked for smoother transitions
.hide-on-small {
  display: initial;
}

@media (max-width: 800px) {
  // To hide in small breakpoints
  .hide-on-small {
    display: none;
  }
}

/* Spec: container > 438px and container < 593px*/
@media (min-width: 800px) and (max-width: 925px) {
  .message {
    max-width: 374px;

    &.incoming {
      margin-right: auto;
    }

    &.outgoing {
      margin-left: auto;
    }
  }
}

// Spec: container > 593px
@media (min-width: 926px) {
  .message {
    max-width: 66%;

    &.incoming {
      margin-right: auto;
    }

    &.outgoing {
      margin-left: auto;
    }
  }
}
