.chat-list {
  width: 30%;
  height: calc(100vh - 50px);
  float: left;
  overflow-y: auto;
  border-right: var(--outlineProperties);
  box-shadow: 0 0 4px 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0), 0 1px 1px rgba(16, 22, 26, 0.2);
  user-select: none;
  margin-top: 50px;
}

.chatlist-item-skeleton {
  opacity: 0.1;

  & .bone {
    background: grey;
    border-radius: 3pt;
    color: grey;
  }

  .skeleton-avatar {
    position: relative;
    height: 48px;
    width: 48px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 24px;
    background-color: grey;
  }

  animation: breath 2s infinite;
}

@keyframes breath {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.12;
  }

  100% {
    opacity: 0.1;
  }
}