{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-modules-commonjs",
        "transform-classes"
      ]
    }
  }
}
