# this allows us to use env vars in scripts in package.json crossplatform
shell-emulator=true

# shorten paths in node_modules/.pnpm/<module>
# to not run into windows max length for paths (260 chars)
#
# The `pnpm pack:patch-node-modules` script needs the folder names for the stdio packages unchanged
# and longest folder name there is 49 chars currently so we sey it to 60 to be on the safe side.
virtual-store-dir-max-length=60