CONTRIBUTORS.md
CHANGELOG.md
node_modules

packages/target-electron/bundle_out
packages/target-electron/tests/compiled
packages/shared/ts-compiled-for-tests
packages/e2e-tests/test-results/*

packages/target-browser/dist
packages/target-tauri/target