sudo: true
language: node_js

node_js:
  - 10

os: 
  - osx
  - linux

addons:
  apt:
    sources:
     - ubuntu-toolchain-r-test
    packages:
      - python3-pip
      - python3.5
      - g++-7
      - libssl-dev

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export CC=gcc-7; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export CXX=g++-7; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export DISPLAY=:99.0 && sh -e /etc/init.d/xvfb start && sleep 3; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export PKG_CONFIG_PATH=/usr/local/opt/openssl/lib/pkgconfig; fi
  - ./bin/travis-before-install.sh

install:
  - npm install --verbose

script:
  - npm run build
  - npm test
  - npm run test-integration

notifications:
  email: false

deploy:
  provider: script
  script: npm run dist
  on:
    all_branches: true
  skip_cleanup: true

