.DialogBodyWithoutBottomMargin {
  margin-bottom: 0 !important;
}

.DialogBody {
  display: flex;
  flex-direction: column;
}

.List {
  padding-inline: 20px;
}

.description {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
}

.noContent {
  display: flex;
  flex-direction: column;
  margin-top: 1.25em;
  & > div {
    font-size: 17px;
    background-color: var(--infoMessageBubbleBg);
    border-radius: 10px;
    opacity: 0.76;
    color: var(--infoMessageBubbleText);
    padding: 7px 14px;
    display: inline-block;
    align-self: center;
  }
}

ol.infoMessageList {
  list-style: none;
}

li.dayMarker {
  padding-bottom: 11px;
  div {
    border-bottom: 2px solid var(--globalText);
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
  }
}

li.InfoMsgEntry {
  font-size: 14px;
  margin: 14px 0;

  &:hover {
    background: rgba($color: grey, $alpha: 0.25);
    border-radius: 10px;
  }

  .timestamp {
    font-weight: bold;
    display: inline-block;
    margin-inline-end: 4px;
    font-size: 15px;
    background-color: #385e6b;
    border-radius: 10px;
    opacity: 0.76;
    color: var(--infoMessageBubbleText);
    padding: 7px 14px;
  }
}

.webxdcIcon {
  border-radius: 7%;
  height: 28px;
  width: 28px;
  vertical-align: middle;
  margin-inline-end: 5px;
}

.inlineAvatar {
  display: inline;
  vertical-align: middle;
  margin-inline-end: 5px;
}

.actionIcon {
  display: inline;
  vertical-align: middle;
  margin-inline-end: 5px;
  --icon-color: var(--textSecondary);
}
