.main-screen {
  .navbar-chat-name {
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;

    .chat_property_icons {
      display: inline-block;
      --chat-property-icon-size: 1em;
      // about 1 white space's width
      margin-inline-start: 0.3em;

      .disapearing-messages-icon,
      img.verified-icon {
        width: var(--chat-property-icon-size);
        height: var(--chat-property-icon-size);
        vertical-align: middle;
        // move it up a little bit so it looks more centered
        transform: translate(0px, -0.07em);
        margin-inline-start: 0;
        margin-inline-end: 0.16em;
      }

      .disapearing-messages-icon {
        display: inline-block;
        @include color-svg('../images/clock.svg', var(--navBarGroupSubtitle));
      }
    }
  }

  .navbar-chat-subtile {
    font-size: small;
    font-weight: 100;
    cursor: pointer;
    color: var(--navBarGroupSubtitle);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .no-chat-selected-screen {
    width: 70%;
    float: right;
    height: $content-height;
    margin-top: 50px;
    text-align: center;
  }
}
