.navbar-wrapper {
  .bp4-navbar {
    padding: 0px;
    background-color: var(--navBarBackground);
    color: var(--navBarText);
    border-bottom: var(--outlineProperties);
  }

  .bp4-navbar-heading {
    margin-left: 5px;
    margin-right: 0px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: bold;
  }

  .bp4-align-left {
    width: 30%;
    padding: 0px 10px;
  }

  .bp4-align-right {
    width: 70%;
    float: none;
  }

  .bp4-icon > svg:not([fill]) {
    fill: var(--navBarText);
  }

  .icon-rotated > .bp4-icon > svg:not([fill]) {
    transform: rotate(90deg);
  }

  .bp4-icon-search {
    margin-left: 0px !important;
  }

  input {
    background-color: var(--navBarBackground);
    -webkit-box-shadow: none;
    box-shadow: none;
    border: unset;
    color: var(--navBarText);
    padding-left: unset !important;
    margin-left: 40px;
    width: calc(100% - 40px);
  }

  input::placeholder {
    color: var(--navBarSearchPlaceholder);
  }

  .bp4-button.bp4-minimal {
    min-width: 0px;
    min-height: 0px;
  }

  span.views {
    margin-left: auto;
    margin-right: 15px;
    display: flex;

    .bp4-button {
      margin: 0px;
      position: relative;
      height: 50px;
      border-radius: 0px;
    }
  }

  .bp4-popover-target {
    margin-right: 4px;
  }

  .archived-chats-title {
    flex: 1 1 auto;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
  }

  #three-dot-menu-button {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
}
