.navbar-wrapper {
  // so it can be used to drag the window around
  -webkit-app-region: drag;

  .icon-rotated > .bp4-icon > svg:not([fill]) {
    transform: rotate(90deg);
  }

  .bp4-navbar {
    padding: 0px;
    background-color: var(--navBarBackground);
    color: var(--navBarText);
    border-bottom: var(--outlineProperties);
  }

  .bp4-navbar-heading {
    padding-left: 5px;
    margin-right: 0px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
  }

  .bp4-align-left {
    width: 30%;
    padding: 0px 10px;
  }

  .bp4-align-right {
    width: 70%;
    float: none;
  }

  .bp4-icon > svg:not([fill]) {
    fill: var(--navBarText);
  }

  span.views {
    margin-left: auto;
    margin-right: 15px;
    display: flex;

    .bp4-button {
      margin: 0px;
      position: relative;
      height: 50px;
      border-radius: 0px;
    }
  }

  .bp4-popover-target {
    margin-right: 4px;
  }

  .archived-chats-title {
    flex: 1 1 auto;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
  }

  #three-dot-menu-button {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
}

.no-drag,
#hamburger-menu-button,
#chat-list-search {
  -webkit-app-region: no-drag;
}
