.navbar-wrapper {
  .bp4-navbar {
    padding: 0px;
    background-color: var(--navBarBackground);
    color: var(--navBarText);
    border-bottom: var(--outlineProperties);
  }

  .bp4-navbar-heading {
    padding-left: 5px;
    margin-right: 0px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: bold;
  }

  .bp4-align-left {
    width: 30%;
    padding: 0px 10px;
  }

  .bp4-align-right {
    width: 70%;
    float: none;
  }

  .bp4-icon > svg:not([fill]) {
    fill: var(--navBarText);
  }

  .icon-rotated > .bp4-icon > svg:not([fill]) {
    transform: rotate(90deg);
  }

  .bp4-icon-search {
    margin-left: 0px !important;
  }

  input {
    background-color: var(--navBarBackground);
    -webkit-box-shadow: none;
    box-shadow: none;
    border: unset;
    color: var(--navBarText);
    padding-left: unset !important;
    margin-left: 40px;
    width: calc(100% - 40px);
  }

  input::placeholder {
    color: var(--navBarSearchPlaceholder);
  }

  .bp4-button.bp4-minimal {
    min-width: 0px;
    min-height: 0px;
  }

  span.views {
    margin-left: auto;
    margin-right: 3px;
    display: flex;

    .bp4-button {
      // deprecated, please remove as soon as we can
      margin: 0px;
      position: relative;
      height: 50px;
      border-radius: 0px;
      padding: 5px 13px;
    }

    button.navbar-tab-button {
      border: none;
      margin: 0px;
      position: relative;
      height: 50px;
      background: transparent;
      padding: 1px 3px;

      span.navbar-icon {
        --navbar-icon-height: 20px;
        -webkit-mask-repeat: no-repeat;
        background-color: var(--navBarText);
        display: inline-block;
        height: var(--navbar-icon-height);
        width: var(--navbar-icon-height);
        -webkit-mask-size: var(--navbar-icon-height);
        vertical-align: middle;
      }

      &:hover {
        background: rgba(143, 153, 168, 0.15);
      }
      &.active {
        background: rgba(143, 153, 168, 0.3);
      }
    }
  }

  .bp4-popover-target {
    margin-right: 4px;
  }

  .archived-chats-title {
    flex: 1 1 auto;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
  }

  #three-dot-menu-button {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
}
