.dc-context-menu-layer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 9999;
  background-color: transparent;
  pointer-events: none;

  // &.active {
  //   background-color: rgba(0, 0, 0, 0.3);
  // }

  // prevent double context menu on macOS
  // (when using touchpad it sometimes selects the text in the context menu, and then show a native context menu on top)
  user-select: none;
}

.dc-context-menu {
  // position is determined in code
  position: fixed;
  pointer-events: auto;
  background-color: var(--bp4MenuBg);
  color: var(--bp4MenuText);

  border-radius: 3px;
  overflow: hidden;

  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 2px 4px rgba(16, 22, 26, 0.2),
    0 8px 24px rgba(16, 22, 26, 0.2);

  .item {
    line-height: 20px;
    padding: 5px 12px;
    white-space: nowrap;

    &:hover {
      background-color: var(--chatListItemBgHover);
    }
    &:focus {
      background-color: rgba(125, 125, 125, 0.4);
    }
  }
}
