button.delta-button-round {
  margin: 10px 0px;
  background-color: var(--bp4-input-focused);
  box-shadow: none;
  background-clip: unset;
  background-image: none;
  border-radius: 8px;
  border-color: var(--bp4-input-focused);
  border-style: solid !important;
  padding: 10px 15px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  &:disabled {
    background-color: rgba(206, 217, 224, 0.5);
    border-color: rgba(206, 217, 224, 0.5);
    background-image: none;
    cursor: not-allowed;
    color: var(--globalText);
    &:hover {
      background-color: rgba(206, 217, 224, 0.5);
    }
  }
  &:hover {
    background-color: var(--bp4-input-focused);
    box-shadow: none;
    background-clip: unset;
  }
  &.secondary {
    background-color: var(--bp4ButtonBg);
    border: 1px;
    border-color: var(--bp4ButtonText);
    border-style: solid;
    color: var(--bp4ButtonText);
  }
}

button.delta-button-tab {
  padding: 8px;
  margin: 5px;
  border-radius: 5px;

  border: none;
  border-color: var(--delta-btn-tab-bg);
  background-color: var(--delta-btn-tab-bg);
  color: var(--delta-btn-tab-text);

  &:hover {
    border-color: var(--delta-btn-tab-hover-bg);
    background-color: var(--delta-btn-tab-hover-bg);
    color: var(--delta-btn-tab-hover-text);
  }

  // for buttons that are used as tabs
  &.selected {
    border-color: var(--delta-btn-tab-selected-bg);
    background-color: var(--delta-btn-tab-selected-bg);
    color: var(--delta-btn-tab-selected-text);
  }

  &:disabled {
    background-image: none;
    cursor: not-allowed;
    border-color: var(--delta-btn-tab-bg);
    background-color: var(--delta-btn-tab-bg);
    color: var(--globalText);
    &:hover {
      background-color: rgba(206, 217, 224, 0.5);
    }
    &.selected {
      &:disabled {
        background-color: rgba(206, 217, 224, 0.5);
        border-color: rgba(206, 217, 224, 0.5);
        color: var(--globalText);
      }
    }
  }
}
