button.delta-button-round {
  margin-top: 10px;
  background-color: var(--bp4-input-focused);
  box-shadow: none;
  background-clip: unset;
  background-image: none;
  border-radius: 30px;
  border-color: var(--bp4-input-focused);
  border-style: solid !important;
  padding: 10px 15px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  &:disabled {
    background-color: rgba(206, 217, 224, 0.5);
    border-color: rgba(206, 217, 224, 0.5);
    background-image: none;
    cursor: not-allowed;
    color: var(--globalText);
    &:hover {
      background-color: rgba(206, 217, 224, 0.5);
    }
  }
  &:hover {
    background-color: var(--bp4-input-focused);
    box-shadow: none;
    background-clip: unset;
  }
}
