.keyboard-hints-popover,
.keyboard-hints-box,
.keyboard-hint-cheatsheet-dialog {
  .keybinding {
    display: block;
    margin-bottom: 7px;

    .key {
      display: inline-block;
      padding: 3px 10px;
      border-radius: 4px;
      background: var(--keybindingKeyBackground);
      box-shadow: 0px 3px var(--keybindingKeyShadow);
      border: 1px var(--keybindingKeyBorder) solid;
      color: var(--keybindingKeyFontColor);

      &:hover,
      &.pressed {
        box-shadow: 0px 1px var(--keybindingKeyShadow);
        transform: translatey(2px);
      }
    }
  }
  .action {
    display: block;
    background-color: var(--keybindingActionBackground);
    border-radius: 4px;
    padding: 4px 6px;
    margin: 4px 0px;

    .heading {
      margin-bottom: 4px;
    }
  }

  .explainer {
    margin-top: 14px;
    font-size: 13px;
  }
}

.keyboard-hints-popover,
.keyboard-hints-box {
  width: 260px;
}

.keyboard-hint-cheatsheet-dialog {
  &.bp4-dialog {
    background-color: var(--bp4DialogBgPrimary);
  }
  .bp4-dialog-header {
    .heading {
      flex-grow: 0;
      margin-right: 8px;
    }
    .keybinding {
      display: block;
      margin-bottom: 7px;
      flex-grow: 1;
      font-size: 0.84em;
      margin-bottom: 0;
    }
  }
  .bp4-dialog-body {
    overflow: scroll;
  }
  .keyboard-hint-dialog-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 4px;
    max-height: 600px;
    justify-content: space-evenly;
    padding: 20px;

    .action {
      max-width: 240px;
      width: calc(50% - 7px);
      margin-right: 7px;
    }

    h2 {
      max-width: 240px;
      font-size: 1.4em;
    }
  }
}
