$borderRadius: 10px;
$closeButtonSize: 30px;

.searchInput {
  background-color: var(--searchInputBackgroundColor);
  border-radius: $borderRadius;
  border: 0;
  caret-color: var(--navBarText);
  color: var(--navBarText);
  flex: 1;
  font-size: 16px;
  height: $closeButtonSize;
  margin-right: 5px;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0;
  width: 100%;
  // A blinking cursor is enough in terms of visibility. Or is it??
  outline: none;

  &::placeholder {
    color: var(--navBarSearchPlaceholder);
  }
}

.searchInputButton {
  align-items: center;
  background-color: transparent;
  color: var(--navBarText);
  border-radius: $borderRadius;
  border: 0;
  display: flex;
  height: $closeButtonSize;
  justify-content: center;
  padding-bottom: 0;
  padding-left: 1px;
  padding-right: 0;
  padding-top: 0;
  min-width: $closeButtonSize;

  &:hover {
    background-color: var(--navBarButtonHover);
  }
}

.searchInputButtonIcon {
  background-color: currentcolor;
}
