$closeButtonSize: 24px;

.inputAndClearButton {
  flex: 1;
  display: flex;
  align-items: center;
  border-radius: 3px;
}

input.searchInput {
  caret-color: var(--navBarText);
  color: var(--navBarText);
  height: $closeButtonSize;
  margin-inline-end: 5px;
  padding-inline-start: 5px;
  padding-inline-end: 5px;
  width: 100%;

  &::placeholder {
    color: var(--navBarSearchPlaceholder);
  }
}
