$imageSize: 100px;

.largeProfileImage {
  flex: 0 0 $imageSize;
  height: $imageSize;
  user-select: none;
  width: $imageSize;

  button {
    background: none;
    border: none;
    border-radius: 50%;
    padding: 0;
    // space for focus outline
    margin: 3px;
    &:hover {
      background-color: var(--buttonHover);
    }
  }
}

.largeProfileImageArea {
  align-items: center;
  background-color: #bcbac9;
  border-radius: 100%;
  color: white;
  display: flex;
  font-size: 64px;
  height: $imageSize;
  justify-content: center;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
  width: $imageSize;
}

.largeProfileImageDefaultIcon {
  background-color: white;
}
