.login-form {
  button[type='submit'] {
    margin-right: 1rem;
  }

  p.text {
    color: var(--deltaChatPrimaryFgLight);
  }

  p.delta-headline {
    font-weight: bold;
  }

  div.advanced {
    -webkit-appearance: button-bevel;
    background-color: transparent;
    color: var(--loginInputFocusColor);
    font-size: 16px;
    display: block;
    width: 100%;
    margin-top: 30px;
    &:hover {
      cursor: pointer;
    }
    p {
      margin-left: 8px;
      display: -webkit-inline-box;
      position: relative;
      font-size: 18px;
      margin-bottom: 0px;
      bottom: 3px;
    }

    div.advanced-icon {
      width: 20px;
      height: 20px;
      -webkit-mask: url(../images/dc-cross.svg) no-repeat center;
      -webkit-mask-size: 100%;
      background-color: var(--loginInputFocusColor);
      display: -webkit-inline-box;

      &.opened {
        transform: rotate(45deg);
      }
    }
  }

  .before-login-hint {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;

    background-color: #fdf7b2;
    color: #101010;

    &.broken {
      background-color: #f9d7d7;
      color: #c70404;
    }

    p {
      user-select: text;
    }

    a {
      color: inherit;
      text-decoration: underline;
    }
  }
}

.login-screen {
  li.login-item {
    display: flex;
    justify-content: space-between;

    &:hover {
      button.bp4-intent-danger {
        display: inline-flex;
      }
    }

    button.bp4-intent-danger {
      display: none;
    }

    button.bp4-large {
      width: 90%;
    }
  }

  .window {
    background-size: cover;
    background-image: url('../images/backgrounds/petito-moreno.webp');
    height: 100vh;
    margin-top: 0px;
  }

  div.delta-blue-button {
    -webkit-appearance: button-bevel;
    background-color: transparent;
    color: var(--loginButtonText);
    font-size: 16px;
    display: block;
    width: 100%;
    margin-top: 30px;
    &:hover {
      cursor: pointer;
    }
    p {
      display: -webkit-inline-box;
      position: relative;
      font-size: 18px;
      margin-bottom: 0px;
      bottom: 3px;
    }
  }
}

div.delta-form-group {
  div.label {
    height: 13px;
    font-size: 13px;
    line-height: 13px;
    width: 100%;
    color: var(--deltaChatPrimaryFgLight);
    &.focus {
      color: var(--loginInputFocusColor);
    }
  }

  &.delta-select {
    .bp4-select::after {
      top: 0px;
      content: '^';
      font: 17px 'Consolas', monospace;
      transform: rotate(180deg);
    }
    .bp4-select {
      width: 100%;
      select {
        -webkit-box-shadow: none;
        box-shadow: none;
        background-image: none;
        background-color: transparent;
        width: 100%;
        color: var(--deltaChatPrimaryFgLight);
        font-size: 17px;
        padding-left: 0px;
        &:hover,
        &:focus {
          outline: unset;
          outline-offset: unset;
        }
      }
    }
    .bp4-form-group label.bp4-label {
      padding-left: 10px;
      color: var(--deltaChatPrimaryFgLight);
      font-size: 16px;
    }
  }

  &.delta-input {
    .bp4-input {
      padding: unset;
      border-radius: unset;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-bottom: 2px solid;
      border-bottom-color: var(--deltaChatPrimaryFgLight);
      font-size: 16px;
      background-color: transparent;

      &:focus {
        border-bottom-color: var(--loginInputFocusColor);
        color: var(--loginInputFocusColor);
      }

      &:focus::placeholder {
        color: transparent;
      }
      &::placeholder {
        color: var(--deltaChatPrimaryFgLight);
      }
    }

    .bp4-button.bp4-minimal.bp4-intent-warning {
      color: #62656a !important;
      &:hover {
        color: white !important;
      }
    }

    .bp4-button.bp4-minimal.bp4-intent-warning:hover {
      background-color: var(--deltaChatPrimaryFgLight) !important;
    }
  }

  textarea {
    width: 100%;
    padding: 0px;
    margin-top: 5px;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid;
    border-bottom-color: var(--deltaChatPrimaryFgLight);
    background-color: transparent;
    color: var(--bp4InputText);
    font-size: 16px;
    font-family: inherit;
    box-shadow: none !important;
    resize: vertical;

    &:focus,
    &:active {
      outline: none;
      border-bottom-color: var(--loginInputFocusColor);
      color: var(--loginInputFocusColor);
    }

    &:hover {
      outline: none;
    }
  }
}

#welcome-dialog-body {
  max-height: 100%;
}

.welcome-deltachat {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  .delta-icon {
    width: 100%;
    margin: 0 auto;
  }

  .f1 {
    margin-top: 40px;
    font-size: x-large;
    color: var(--colorNone);
  }

  .f2 {
    margin-top: 10px;
    padding: 0px 20px;
    color: var(--colorNone);
    font-size: larger;
  }

  .welcome-button {
    width: fit-content;
    display: block;
    padding: 10px;

    margin: 0 auto;
    margin-top: 15px;

    background-color: var(--colorPrimary);
    color: white;
    text-transform: uppercase;
    font-weight: 100;

    &:hover {
      cursor: pointer;
    }
  }

  #action-go-to-login {
    margin-top: 40px;
  }
}

.accounts {
  .contact-list-item {
    .contact {
      width: 100%;
      overflow: hidden;

      .email {
        display: inline-block;
        width: 100%;
      }
    }

    .unread-badge-container {
      align-self: center;
      margin-right: 9px;

      .fresh-message-counter {
        color: var(--unreadCountLabel);
        background-color: var(--unreadCountBg);
        text-align: center;
        font-size: 9pt;
        height: 20px;
        padding: 0 5pt;
        line-height: 20px;
        border-radius: 10px;
        font-weight: bold;
      }
    }
  }
}
