.login-form {
  button[type="submit"] {
    margin-right: 1rem;
  }

  p.text {
    color: var(--deltaChatPrimaryFgLight);
  }

  div.advanced {
    -webkit-appearance: button-bevel;
    background-color: transparent;
    color: var(--loginInputFocusColor);
    font-size: 16px;
    display: block;
    width: 100%;
    margin-top: 30px;
    &:hover {
      cursor: pointer;
    }
    p {
      margin-left: 8px;
      display: -webkit-inline-box;
      position: relative;
      font-size: 18px;
      margin-bottom: 0px;
      bottom: 3px;
    }

    div.advanced-icon {
      width: 20px;
      height: 20px;
      -webkit-mask: url(../images/dc-cross.svg) no-repeat center;
      -webkit-mask-size: 100%;
      background-color: var(--loginInputFocusColor);
      display: -webkit-inline-box;

      &.opened {
        transform: rotate(45deg);
      }
    }
  }
}

p.delta-headline {
  color: var(--deltaChatPrimaryFgLight);
  font-size: 18px;
  padding: 15px 0 3px;
}

.login-screen {
  align-items: center;
  display: flex;
  justify-content: center;
  height: calc(100vh);

  li.login-item {
    display: flex;
    justify-content: space-between;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    min-width: 300px;
    border-radius: 0;

    &:hover {
      button.bp3-intent-danger {
        display: inline-flex;
      }
    }

    button.bp3-intent-danger {
      display: none;
    }

    &:first-child {
      border-top: 1px solid grey;
    }

    button.bp3-large {
      width: 90%;
    }
  }

  .bp3-card {
    width: 400px;
    margin-top: 20px;
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0),
      0 1px 1px rgba(16, 22, 26, 0.2);
    flex: unset !important;
  }

  .window {
    padding-left: calc((100vw - 400px) / 2);
  }

  div.delta-blue-button {
    -webkit-appearance: button-bevel;
    background-color: transparent;
    color: var(--loginButtonText);
    font-size: 16px;
    display: block;
    width: 100%;
    margin-top: 30px;
    &:hover {
      cursor: pointer;
    }
    p {
      margin-left: 8px;
      display: -webkit-inline-box;
      position: relative;
      font-size: 18px;
      margin-bottom: 0px;
      bottom: 3px;
    }
  }

  .before-login-hint {
    padding: 6px 8px;
    margin: 3px;
    font-style: italic;
    background-color: #ffff77;
    &.broken {
      background-color: #db3737;
      color: white;
    }
  }
}

div.delta-form-group {
  .bp3-form-content {
    padding: 0px 10px 0px 10px;
  }

  div.label {
    height: 13px;
    font-size: 13px;
    line-height: 13px;
    width: 100%;
    color: var(--deltaChatPrimaryFgLight);
    &.focus {
      color: var(--loginInputFocusColor);
    }
  }

  &.delta-select {
    .bp3-select::after {
      content: ">";
      font: 11px "Consolas", monospace;
      transform: rotate(90deg);
    }
    .bp3-select {
      width: 100%;
      select {
        -webkit-box-shadow: none;
        box-shadow: none;
        background-image: none;
        background-color: transparent;
        width: 100%;
        color: var(--deltaChatPrimaryFgLight);
        font-size: 17px;
        &:hover,
        &:focus {
          outline: unset;
          outline-offset: unset;
        }
      }
    }
    .bp3-form-group label.bp3-label {
      padding-left: 10px;
      color: var(--deltaChatPrimaryFgLight);
      font-size: 16px;
    }
  }

  &.delta-input {
    .bp3-input {
      padding: unset;
      border-radius: unset;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-bottom: 2px solid;
      border-bottom-color: var(--deltaChatPrimaryFgLight);
      font-size: 16px;
      background-color: transparent;

      &:focus {
        border-bottom-color: var(--loginInputFocusColor);
        color: var(--loginInputFocusColor);
      }

      &:focus::placeholder {
        color: transparent;
      }
      &::placeholder {
        color: var(--deltaChatPrimaryFgLight);
      }
    }

    .bp3-button.bp3-minimal.bp3-intent-warning,
    .bp3-button.bp3-minimal.bp3-intent-warning:hover {
      color: #62656a !important;
    }

    .bp3-button.bp3-minimal.bp3-intent-warning:hover {
      background-color: var(--deltaChatPrimaryFgLight) !important;
    }
  }
}
