$shortcutMenuWidth: 65px;

.shortcutMenu {
  align-items: center;
  display: flex;
  flex: 0 0 $shortcutMenuWidth;
  justify-content: space-between;
  visibility: hidden;
  width: $shortcutMenuWidth;

  &.visible {
    visibility: visible;
  }

  &.incoming {
    flex-direction: row;
    margin-left: 10px;
  }

  &.outgoing {
    flex-direction: row-reverse;
    margin-right: 10px;
  }
}

.shortcutMenuButton {
  opacity: 0.6;
  background-color: var(--chatViewBg);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  margin: 0;
  padding: 5px;
}

.shortcutMenuIcon {
  background-color: var(--contextMenuText);
  display: block;
  height: 20px;
  width: 20px;
}
