.attachment-overlay {
  .attachment-view {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(49, 49, 49, 1);

    img,
    video {
      width: 100vw;
      max-height: 100vh;
      object-fit: contain;
      user-select: none;
    }

    video {
      width: 95vw;
    }
  }

  .render-media-wrapper {
    width: 100vw;
    height: 100vh;
  }

  .btn-wrapper {
    float: right;
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 3px;

    right: 8px;
    top: 6px;
    padding: 5px;

    .download-btn {
      @include color-svg(
        '../images/download.svg',
        var(--fullScreenMediaButtons)
      );
    }

    .qrhighlight-on-btn {
      @include color-svg(
        '../images/qrhighlight-on.svg',
        var(--fullScreenMediaButtons)
      );
    }

    .qrhighlight-off-btn {
      @include color-svg(
        '../images/qrhighlight-off.svg',
        var(--fullScreenMediaButtons)
      );
    }

    .download-btn,
    .qrhighlight-on-btn,
    .qrhighlight-off-btn {
      height: 32px;
      width: 32px;
      display: inline-block;
      vertical-align: text-bottom;

      &:hover {
        background-color: var(--fullScreenMediaButtons);
      }
      cursor: pointer;
      margin-right: 5px;
    }

    .bp4-icon-cross {
      cursor: pointer;
    }
  }
}

.media-previous-button,
.media-next-button {
  position: absolute;
  top: calc(50vh - (60px / 2));
  background-color: #3131316b;
  border-radius: 8%;
  z-index: 1;

  .bp4-icon > svg:not([fill]) {
    fill: var(--bp4ButtonHoverBg);
    &:hover {
      fill: white;
    }
  }
}

.media-previous-button {
  left: 20px;
}

.media-next-button {
  right: 20px;
}

.react-transform-wrapper {
  overflow: unset !important;
}

.attachment-overlay {
  .qr-code-highlight-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    .qr-code-highlight-img-area {
      position: absolute;

      .qrcode-highlight {
        border: 1.6px solid orange;
        border-radius: 4px;
        min-height: 10px;
        min-width: 10px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.25);
          color: white;
          border-width: 1.9px;
        }

        color: darkblue;
        overflow: hidden;
        position: absolute;
      }
    }
  }
}
