$tab-height: 46px;

.media-view {
  width: calc(100% - var(--chat-list-width, 30%));
  background-color: var(--galleryBg);
  padding-left: 10px;
  max-height: calc(100vh - 50px);
  overflow: hidden;

  .big-date {
    flex-grow: 1;
    text-align: end;
    align-self: center;
    padding-right: 12px;
    font-size: 18px;
    color: var(--summary-text-color);
    white-space: nowrap;
  }

  & .gallery {
    height: 100%;

    & > .empty-screen {
      display: flex;
      padding: 10px 10px;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      & > .no-media-message {
        font-size: 1.1rem;
        text-align: center;
      }
    }

    & > .loading-errors {
      background-color: rgb(255, 90, 90);
      color: black;
      padding: 14px;
      font-size: larger;
      ul {
        font-size: medium;
        margin: 0;
      }
    }

    &.gallery-image-object-fit_contain {
      --gallery-image-object-fit: contain;
    }
    &.gallery-image-object-fit_cover {
      --gallery-image-object-fit: cover;
    }
  }

  .bp4-tab-panel {
    margin-top: 0;
  }

  .searchbar {
    input {
      border: none;
      border-bottom: 1px solid grey;
      background: transparent;
      color: var(--textPrimary);
    }
  }
}
