.media-view {
  width: 70%;
  background-color: var(--galleryBg);
  float: right;
  padding: 0 10px;
  margin-top: 50px;

  & .gallery {
    overflow: scroll;
    padding-top: 20px;

    & > .item {
      float: left;
      padding: 5px 5px 5px 5px;
    }
  }
  .no-media-message {
    font-size: 1.1rem;
    text-align: center;
    margin-top: 5rem;
  }
}
