$tab-height: 46px;

.media-view {
  width: 70%;
  background-color: var(--galleryBg);
  float: right;
  padding-left: 10px;
  margin-top: $nav-bar-height;
  max-height: calc(100vh - 50px);
  overflow: hidden;

  .big-date {
    flex-grow: 1;
    text-align: end;
    align-self: center;
    padding-right: 12px;
    font-size: 22px;
    font-weight: bold;
  }

  & .gallery {
    height: calc(100vh - #{$tab-height} - #{$nav-bar-height});

    & > .empty-screen {
      display: flex;
      padding: 10px 10px;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      & > .no-media-message {
        font-size: 1.1rem;
        text-align: center;
      }
    }

    & > .loading-errors {
      background-color: rgb(255, 90, 90);
      color: black;
      padding: 14px;
      font-size: larger;
      ul {
        font-size: medium;
        margin: 0;
      }
    }

    &.gallery-image-object-fit_contain {
      --gallery-image-object-fit: contain;
    }
    &.gallery-image-object-fit_cover {
      --gallery-image-object-fit: cover;
    }
  }

  .bp4-tab-panel {
    margin-top: 0;
  }
}
