$tab-height: 46px;

.media-view {
  width: 70%;
  background-color: var(--galleryBg);
  float: right;
  padding-left: 10px;
  margin-top: $nav-bar-height;
  max-height: calc(100vh - 50px);
  overflow: hidden;

  & .gallery {
    height: calc(100vh - #{$tab-height} - #{$nav-bar-height});

    & > .item-container { // still used by file view
      display: flex;
      flex-wrap: wrap;
      padding: 10px 0px;
      & > .item {
        padding: 5px 5px 5px 5px;
      }
    }

    & > .empty-screen {
      display: flex;
      padding: 10px 10px;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      & > .no-media-message {
        font-size: 1.1rem;
        text-align: center;
      }
    }

    & > .loading-errors {
      background-color: rgb(255, 90, 90);
      color: black;
      padding: 14px;
      font-size: larger;
      ul {
        font-size: medium;
        margin: 0;
      }
    }
  }

  .bp4-tab-panel {
    margin-top: 0;
  }
}
