$dialogPaddingVertical: 20px;
$dialogPaddingHorizontal: 30px;

.dialog {
  background-color: var(--bp4DialogBgSecondary);
  border-radius: 10px;
  box-shadow:
    0 0 0 1px rgba(16, 22, 26, 0.1),
    0 4px 8px rgba(16, 22, 26, 0.2),
    0 0 20px 3px rgba(16, 22, 26, 0.2);
  margin: 0;
  max-height: calc(100vh - 50px);
  max-width: 90vw;
  overflow: hidden;
  padding: 0;

  &.fixed {
    position: absolute;
    top: 25px;
    width: 400px;
  }
}

.dialogHeader {
  align-items: center;
  background-color: var(--bp4DialogHeaderBg);
  border-bottom: var(--outlineProperties);
  display: flex;
  padding-bottom: 20px;
  padding-left: $dialogPaddingHorizontal;
  padding-right: $dialogPaddingHorizontal - 5px;
  padding-top: $dialogPaddingVertical;
  user-select: none;
}

.dialogHeading {
  color: var(--bp4Heading);
  flex: 1 1 auto;
  font-size: 18px;
  font-weight: 600;
  line-height: inherit;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.dialogBody {
  background-color: var(--bp4DialogHeaderBg);
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  overflow: overlay;
  padding-bottom: $dialogPaddingVertical;
}

.dialogContent {
  padding-left: $dialogPaddingHorizontal;
  padding-right: $dialogPaddingHorizontal;
}

.headerButton {
  align-items: center;
  background-color: transparent;
  border-radius: 5px;
  border: 0;
  color: var(--bp4DialogHeaderIcon);
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  padding: 0;
  width: 30px;

  & + & {
    margin-left: 5px;
  }

  &:hover {
    background-color: var(--chatListItemBgHover);
  }
}

.headerButtonIcon {
  margin: 0 !important;
}

.backButton {
  margin-right: 20px;
}
