$dialogBorderRadius: 2px;

.dialog {
  max-height: calc(100vh - 50px);
  max-width: 90vw;
  margin: 0;
  padding: 0;
  background-color: var(--bp4DialogBgSecondary);
  border-radius: $dialogBorderRadius;
  box-shadow:
    0 0 0 1px rgba(16, 22, 26, 0.1),
    0 4px 8px rgba(16, 22, 26, 0.2),
    0 0 20px 3px rgba(16, 22, 26, 0.2);

  &.fixed {
    position: absolute;
    top: 25px;
    width: 400px;
  }
}

.dialogHeader {
  background-color: var(--bp4DialogHeaderBg);
  border-bottom: var(--outlineProperties);
  border-radius: $dialogBorderRadius;
  box-shadow: unset;
  padding: 20px;
  user-select: none;
}

.dialogBody {
  margin: 0;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  overflow: overlay;
}

.headerButton {
  align-items: center;
  background-color: transparent;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  padding: 0;
  width: 30px;

  & + & {
    margin-left: 5px;
  }

  &:hover {
    background-color: var(--chatListItemBgHover);
  }
}

.headerButtonIcon {
  margin: 0 !important;
}

.backButton {
  margin-right: 20px;
}
