.attachment-view {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(49, 49, 49, 1);

  img,
  video {
    width: 100vw;
    max-height: 100vh;
    object-fit: contain;
    user-select: none;
  }

  video {
    width: 95vw;
  }
}

.btn-wrapper {
  float: right;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 3px;

  right: 8px;
  top: 6px;
  padding: 5px;

  .download-btn {
    height: 32px;
    width: 32px;
    display: inline-block;
    vertical-align: text-bottom;
    @include color-svg('./images/download.svg', var(--fullScreenMediaButtons));
    cursor: pointer;
    margin-right: 5px;

    &:hover {
      background-color: var(--fullScreenMediaButtons);
    }
  }
}

.media-previous-button,
.media-next-button {
  position: absolute;
  top: calc(50vh - (60px / 2));
  background-color: #3131316b;
  border-radius: 8%;
}

.media-previous-button {
  left: 20px;
}

.media-next-button {
  right: 20px;
}

.react-transform-wrapper {
  overflow: unset !important;
}
