$tab-height: 46px;

.media-view {
  width: calc(100% - var(--chat-list-width, 30%));
  background-color: var(--galleryBg);
  padding-left: 10px;
  overflow: hidden;
  min-width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;

  .big-date {
    flex-grow: 1;
    text-align: end;
    align-self: center;
    margin-right: 12px;
    font-size: 18px;
    color: var(--summary-text-color);
    white-space: nowrap;
  }

  .tab-list {
    display: flex;
    justify-content: space-between;
    .tab-item {
      margin-right: 30px;
      font-size: 1.1rem;
      padding-bottom: 6px;;
      &.selected, &:hover {
        color: #42A5F5;
        border-bottom: 3px solid #42A5F5;
        cursor: pointer;
      }
    }
  }


  & .gallery {
    height: 100%;

    & > .empty-screen {
      display: flex;
      padding: 10px 10px;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      & > .no-media-message {
        font-size: 1.1rem;
        text-align: center;
      }
    }

    & > .loading-errors {
      background-color: rgb(255, 90, 90);
      color: black;
      padding: 14px;
      font-size: larger;
      ul {
        font-size: medium;
        margin: 0;
      }
    }

    &.gallery-image-object-fit_contain {
      --gallery-image-object-fit: contain;
    }
    &.gallery-image-object-fit_cover {
      --gallery-image-object-fit: cover;
    }
  }

  .bp4-tab-panel {
    margin-top: 0;
  }

  .searchbar {
    input {
      border: none;
      border-bottom: 1px solid grey;
      background: transparent;
      color: var(--textPrimary);
    }
  }
}
