.sendBackup {
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
  justify-content: space-between;
}

.sendBackupMain {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.sendBackupMainProgress {
  display: flex;
  flex-direction: column;

  progress {
    width: 100%;
  }
}

.sendBackupSteps {
  margin-top: 20px;
  margin-inline-start: 20px;
  max-width: 300px;
  min-width: 200px;
}

.sendBackupStepsList {
  counter-reset: list-counter;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    counter-increment: list-counter;
    display: flex;
    margin-bottom: 10px;

    &::before {
      align-items: center;
      background: #2164c3;
      border-radius: 50%;
      color: #fff;
      content: counter(list-counter);
      display: flex;
      flex: none;
      height: 20px;
      justify-content: center;
      margin-inline-end: 8px;
      padding-top: 2px;
      width: 20px;
    }
  }
}

.qrCode {
  width: 100%;
}

.linkIcon {
  background-color: var(--colorPrimary);
  margin-inline-start: 10px;
}

.buttonGroup {
  display: flex;
}

.receiveSteps {
  padding: 4px 22px;
}
