@mixin button-reset {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

@mixin color-svg($svg, $color, $size: 100%) {
  -webkit-mask: url($svg) no-repeat center;
  -webkit-mask-size: $size;
  background-color: $color;
}

@mixin color-svg-rotated($svg, $color, $size: 100%) {
  -webkit-mask: url($svg) no-repeat center;
  -webkit-mask-size: $size;
  background-color: $color;
  transform: rotate(90deg);
}
