.searchInput {
  background-color: var(--searchInputBackgroundColor);
  border-radius: 3px;
  border: 0px;
  box-shadow: none;
  caret-color: var(--navBarSearchPlaceholder);
  color: var(--navBarText);
  flex: 1 1 auto;
  font-size: 18px;
  font-weight: normal;
  left: 69px;
  line-height: inherit;
  margin-left: 0px;
  margin-right: 0px;
  margin: 0;
  overflow: hidden;
  padding-left: unset !important;
  position: absolute;
  text-indent: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(30vw - 75px - 10px);
  word-wrap: normal;

  &::placeholder {
    user-select: none;
    color: var(--navBarSearchPlaceholder);
  }
}

.searchClearButton {
  left: calc(30vw - 30px);
  min-height: 0px;
  min-width: 0px;
  position: absolute;
  z-index: 10;

  &::before {
    color: white !important;
    font-size: medium !important;
    font-weight: normal !important;
  }

  &:hover {
    background-color: transparent !important;
  }
}

.hidden {
  display: none;
}
