:root {
  --local-borderRadius: 10px;
  --local-closeButtonSize: 30px;
}

.searchInput {
  background-color: var(--searchInputBackgroundColor);
  border-radius: var(--local-borderRadius);
  border: 0;
  caret-color: var(--navBarSearchPlaceholder);
  color: var(--navBarText);
  flex: 1;
  font-size: 16px;
  height: var(--local-closeButtonSize);
  padding-bottom: 0;
  padding-left: 10px !important;
  padding-right: 0;
  padding-top: 0;

  &::placeholder {
    color: var(--navBarSearchPlaceholder);
  }

  &.active {
    padding-right: calc(var(--local-closeButtonSize) + 5px);
  }
}

.searchClearButton {
  border-radius: var(--local-borderRadius);
  left: calc(30vw - var(--local-closeButtonSize) - 10px);
  min-height: var(--local-closeButtonSize);
  min-width: var(--local-closeButtonSize);
  position: absolute;

  &::before {
    color: var(--navBarText) !important;
    font-size: 16px !important;
  }

  &.hidden {
    display: none;
  }
}
