:root {
  --local-borderRadius: 10px;
  --local-closeButtonSize: 30px;
}

.searchInput {
  background-color: var(--searchInputBackgroundColor);
  border-radius: var(--local-borderRadius);
  border: 0;
  caret-color: var(--navBarText);
  color: var(--navBarText);
  flex: 1;
  font-size: 16px;
  height: var(--local-closeButtonSize);
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 0;
  padding-top: 0;

  &::placeholder {
    color: var(--navBarSearchPlaceholder);
  }

  &.active {
    padding-right: calc(var(--local-closeButtonSize) + 5px);
  }
}

.searchClearButton {
  --background-color-hover: rgba(143, 153, 168, 0.15);

  align-items: center;
  background-color: transparent;
  border-radius: var(--local-borderRadius);
  border: 0;
  display: flex;
  height: var(--local-closeButtonSize);
  justify-content: center;
  left: calc(30vw - var(--local-closeButtonSize) - 5px);
  padding-bottom: 0;
  padding-left: 1px;
  padding-right: 0;
  padding-top: 0;
  position: absolute;
  width: var(--local-closeButtonSize);

  &:hover {
    background-color: var(--background-color-hover);
  }

  &.hidden {
    display: none;
  }
}
