.main-screen {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  .backButton {
    $backBtnText: white;
    .backButtonIcon {
      background-color: $backBtnText;
    }

    &:hover {
      background-color: rgba(143, 153, 168, 0.15);
    }
  }

  &.small-screen {
    .message-list-and-composer,
    .chat-list,
    .media-view {
      width: unset;
      flex-grow: 1;
    }

    &.chat-view-open {
      .chat-list {
        display: none;
      }
    }

    &:not(.chat-view-open) {
      .message-list-and-composer {
        display: none;
      }
    }
  }

  .main-app-content {
    display: flex;
    flex-grow: 1;
  }

  .navbar-chat-name {
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    user-select: none;

    .truncated {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .chat_property_icons {
      display: inline-block;
      --chat-property-icon-size: 1em;
      // about 1 white space's width
      margin-inline-start: 0.3em;

      .disapearing-messages-icon,
      img.verified-icon {
        width: var(--chat-property-icon-size);
        height: var(--chat-property-icon-size);
        vertical-align: middle;
        // move it up a little bit so it looks more centered
        transform: translate(0px, -0.07em);
        margin-inline-start: 0;
        margin-inline-end: 0.16em;
      }

      .disapearing-messages-icon {
        display: inline-block;
        @include color-svg('./images/clock.svg', var(--navBarGroupSubtitle));
      }
    }
  }

  .navbar-chat-subtitle {
    font-size: small;
    font-weight: 100;
    cursor: pointer;
    color: var(--navBarGroupSubtitle);
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
  }

  .no-chat-selected-screen {
    width: 70%;
    height: 100%;
    margin-top: 50px;
    text-align: center;
  }
}
