.navbar-wrapper {
  position: relative;

  .navbar-heading--button {
    @include button-reset;
  }
  .navbar-heading {
    display: flex;
    align-items: center;
    padding-left: 5px;
    margin-right: 0px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
  }

  span.views {
    margin-left: auto;
    margin-right: 15px;
    display: flex;
  }

  .navbar-button {
    padding: 0;
    width: 40px;
    height: 50px;
    border-radius: 0;
    &:hover {
      background-color: var(--navBarButtonHover);
    }
  }

  .archived-chats-title {
    flex: 1 1 auto;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
  }

  #three-dot-menu-button {
    height: 40px;
    border-radius: 100%;
  }
}
