.navbar-wrapper {
  position: relative;

  .navbar-heading__button {
    @include button-reset;
  }
  .navbar-heading {
    display: flex;
    align-items: center;
    padding-left: 5px;
    margin-right: 0px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
  }

  span.views {
    margin-left: auto;
    margin-right: 15px;
    display: flex;
  }

  .navbar-button {
    padding: 0;
    width: 40px;
    height: 50px;
    border-radius: 0;
    &:hover {
      background-color: var(--navBarButtonHover);
    }
  }

  .bp4-popover-target {
    margin-right: 4px;
  }

  .archived-chats-title {
    flex: 1 1 auto;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
  }

  #three-dot-menu-button {
    height: 40px;
    border-radius: 100%;
  }
}

// used on electron and tauri runtime (it is handled by tauri, this class is for electron)
// means element is non-Intractable and area can be used to window drag around
*[data-tauri-drag-region] {
  // so it can be used to drag the window around
  -webkit-app-region: drag;
}

// used on electron and tauri runtime
// (on tauri this is not nessesary, as tauri does not have the issue that all child elements also become drag areas
// means element is interactable and area can not be used to window drag around
*[data-no-drag-region] {
  -webkit-app-region: no-drag;
}

#drag-area-visualisation {
  background-color: transparent;
  opacity: 0.5;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
}
