.navbar-wrapper {
  position: relative;

  .navbar-heading {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 5px;
    margin-right: 0px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
  }

  span.views {
    margin-left: auto;
    margin-right: 15px;
    display: flex;
  }

  .navbar-button {
    padding: 0;
    width: 40px;
    height: 50px;
    border-radius: 0;
    &:hover {
      background-color: var(--navBarButtonHover);
    }
  }

  .bp4-popover-target {
    margin-right: 4px;
  }

  .archived-chats-title {
    flex: 1 1 auto;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
  }

  #three-dot-menu-button {
    height: 40px;
    border-radius: 100%;
  }
}

body.show-drag-areas {
  .drag::before {
    background-color: green;
  }
  .no-drag::before {
    background-color: red;
  }
  .no-drag, .drag {
    position: relative;
    &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: 1;
    pointer-events: none;
  }}
}

.drag {
  // so it can be used to drag the window around
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}
