.message-list-and-composer {
  width: calc(70vw - $account-sidebar-width);
  float: right;
  display: flex;
  flex-direction: column;
  height: $content-height;
  margin-top: $nav-bar-height;
  background-image: var(--chatViewBgImgPath);
  background-size: cover;
  background-color: var(--chatViewBg);
  overflow: hidden;
}

.message-list-and-composer__message-list {
  position: relative;
  flex-grow: 1;

  #message-list {
    position: absolute;
    bottom: 0;
    overflow: scroll;
    max-height: 100%;
    width: 100%;
    padding: 0 0.5em;

    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }

  ul {
    list-style: none;
    min-width: 200px;
    margin: 10px 0px;

    li {
      margin-bottom: 10px;
      min-width: 200px;

      &::after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: ' ';
        clear: both;
        height: 0;
      }
      &.highlight {
        -webkit-animation: highlight-fade 3s 1;
        -moz-animation: highlight-fade 3s 1;
      }

      @-webkit-keyframes highlight-fade {
        0% {
          background-color: var(--messageHightlightColor);
        }
        100% {
          background-color: transparent;
        }
      }
      @-moz-keyframes highlight-fade {
        0% {
          background-color: var(--messageHightlightColor);
        }
        100% {
          background-color: transparent;
        }
      }
    }
  }
}
