.message-list-and-composer {
  width: 70%;
  float: right;
  display: flex;
  flex-direction: column;
  height: $content-height;
  margin-top: $nav-bar-height;
  background-image: var(--chatViewBgImgPath);
  background-size: cover;
  background-color: var(--chatViewBg);
  overflow: hidden;

  .unread-message-counter {
    $heightUnreadCounter: 20px;
    $heightJumpToBottomButton: 40px;
    $width: 40px;
    $marginBottom: 10px;
    $marginRight: 15px;

    position: relative;
    left: calc(100% - #{$width} - #{$marginRight});
    top: -($heightUnreadCounter + $heightJumpToBottomButton + $marginBottom);
    height: $heightUnreadCounter + $heightJumpToBottomButton;
    width: $width;
    .counter {
      position: relative;
      z-index: 10;
      width: 25px;
      height: 25px;
      margin: 0 auto;
      margin-bottom: 0px;
      border-radius: 100%;
      background-color: var(--colorPrimary);
      color: #fff;
      line-height: 25px;
      font-size: 15px;
      text-align: center;
    }

    .jump-to-bottom-button {
      position: relative;
      z-index: 8;

      height: $heightJumpToBottomButton;
      margin: 0 auto;
      margin-top: -10px;
      width: $width;

      line-height: $heightJumpToBottomButton;
      background-color: white;
      border-radius: 100%;
      box-shadow: 0px 3px 5px #66666630;

      cursor: pointer;
      .jump-to-bottom-icon {
        height: $heightJumpToBottomButton;
        width: $width;

        -webkit-mask: url(../images/ic_scroll_down.png) no-repeat center;
        -webkit-mask-size: 65%;
        background-color: var(--scrollbarThumb);
      }
    }
  }
}

.message-list-and-composer__message-list {
  position: relative;
  flex-grow: 1;

  #message-list {
    position: absolute;
    bottom: 0;
    overflow: scroll;
    max-height: 100%;
    width: 100%;
    padding: 0 0.5em;


    // Fix unnecessary repaints
    // https://stackoverflow.com/questions/24741502/can-i-do-anything-about-repaints-on-scroll-warning-in-chrome-for-overflowscr
    transform: translateZ(0);
    -webkit-transform: translateZ(0);

    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }

  ul {
    display: flex;
    flex-direction: column; list-style: none;
    min-width: 200px;
    box-sizing: border-box;
    margin: 0px;
    li {
      margin-bottom: 10px;
      min-width: 200px;

      &::after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: ' ';
        clear: both;
        height: 0;
      }
    }
  }
}
