/* Message Bubble */
.message {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: stretch;

    &:hover {
        .message-buttons {
            opacity: 1;
        }
    }

    &>.author-avatar {
        align-self: flex-end;
        bottom: 0px;
        position: static;
        margin-right: 8px;
        
        img {
            height: 36px;
            width: 36px;
            border-radius: 18px;
            object-fit: cover;
        }

        &.default {
            // text letter version
            text-align: center;

            &>.label {
                user-select: none;
                color: var(--avatarLabelColor);

                top: -121px;
                left: -10px;
                border-radius: 50%;
                width: 36px;
                height: 36px;
                font-size: 25px;
                line-height: 36px;
            }
        }
    }

    .message-buttons {
        position: absolute;
        top: 5px;
        right: 0;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        opacity: 0;
        z-index: 10;

        .msg-button {
            height: 24px;
            width: 24px;
            display: inline-block;
            cursor: pointer;

            &:hover {
                background-color: var(--messageButtons);
            }

            &.download {
                @include color-svg('../images/download.svg', var(--messageButtons));
            }

            &.reply {
                display: none;
                /* not used currently */
                @include color-svg('../images/reply.svg', var(--messageButtons));
            }

            &.menu {
                @include color-svg-rotated('../images/ellipsis.svg', var(--messageButtons));
            }
        }
    }

    .msg-container {
        position: relative;
        display: inline-block;
        border-radius: 16px;
        padding-right: 12px;
        padding-left: 12px;
        padding-top: 10px;
        padding-bottom: 10px;

        &>.author {
            display: block;
            max-width: 40vw;
            font-size: 13px;
            font-weight: 300;
            line-height: 18px;
            height: 18px;
            overflow-x: hidden;
            overflow-y: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &>.text {
            color: var(--messageText);
            font-size: 14px;
            line-height: 18px;
            text-align: start;

            overflow-wrap: break-word;
            word-wrap: break-word;
            word-break: break-word;
            white-space: pre-wrap;

            a {
                text-decoration: underline;
                color: var(--messageTextLink);
            }

            margin-right: 10px;

            .double-line-break {
                height: 28px;
            }

            .line-break {
                height: 14px;
            }

            .line-break:last-child {
                height: 0px;
            }
        }
    }

    .metadata {
        margin-top: 10px;
        margin-bottom: -7px;
        float: right;
    }

    .module-message__img-attachment {
        object-fit: cover;
        width: auto;
        max-width: 100%;
        min-height: unset;
    }
}

// States that modify the message buble appearance

.message.incoming {
    margin-left: 0;
    margin-right: 32px;

    .metadata:not(.with-image-no-caption) {
        &>.padlock-icon {
            @include color-svg('../images/padlock.svg', var(--messagePadlockIncomming), 125%);
        }

        &>.location-icon {
          @include color-svg('../images/map-marker.svg', var(--messagePadlockIncomming), 100%);
      }

        &>.date {
            color: var(--messageMetadataIncomming);
        }
    }

    .msg-container {
        background-color: var(--messageIncommingBg);

        &,
        .module-message__attachment-container {
            border-bottom-left-radius: 1px;
        }
    }
}

.message.outgoing {
    float: right;
    margin-right: 0;
    margin-left: 32px;

    .metadata {
        &>.date {
            color: var(--messageOutgoingStatusColor);
        }

        &>.padlock-icon {
            @include color-svg('../images/padlock.svg', var(--messagePadlockOutgoing), 125%);
        }

        &>.location-icon {
          @include color-svg('../images/map-marker.svg', var(--messagePadlockOutgoing), 100%);
        }

        &>.status-icon.read,
        &>.status-icon.delivered {
            background-color: var(--messageOutgoingStatusColor);
        }
    }

    .msg-container {
        background-color: var(--messageOutgoingBg);

        &,
        .module-message__attachment-container {
            border-bottom-right-radius: 1px;
        }
    }
}

.message.type-sticker {
    .msg-container {
        background-color: transparent !important;
    }

    .module-message__attachment-container {
        background-color: transparent;
    }

    .module-message__img-attachment {
        margin-bottom: 20px;
    }

    .metadata {
        float: right;
        padding: 4px 10px 1px 10px;
        margin-bottom: -7px;
        background-color: #01010159;
        border-radius: 4px;
        color: black;
        font-weight: bold;
    }

    .metadata {
        &>.date {
            font-size: 11px;
            color: white;
        }

        &>.padlock-icon {
            @include color-svg('../images/padlock.svg', white, 125%);
        }

        &>.location-icon {
          @include color-svg('../images/map-marker.svg', white, 100%);
      }
    }

    .status-icon.read,
    .status-icon.delivered {
        background-color: white;
    }

    &:hover {
        .msg-button.menu {
            background-color: white;
        }

        .react-contextmenu-wrapper {
            background-color: #2525258f;
            border-radius: 4px;
        }
    }

}

.message.error.incoming {
    .text {
        font-style: italic;
    }
}

.message.forwarded {
    .forwarded-indicator {
        font-weight: bold;
        font-size: 0.9em;
        margin-bottom: 3px;
        opacity: 0.86;
    }
    .module-message__attachment-container {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-top: 0;
    }
}

.setupMessage {
    .message {
        .text {
            color: var(--setupMessageText);
        }
    }
}

.pointer .msg-container {
    cursor: pointer;
}


// Media queries (responsiveness)
// All media query widths have 300px added to account for the left pane
// And have been tweaked for smoother transitions
.hide-on-small {
    display: initial;
}

@media (max-width: 800px) {

    // To hide in small breakpoints
    .hide-on-small {
        display: none;
    }
}

/* Spec: container > 438px and container < 593px*/
@media (min-width: 800px) and (max-width: 925px) {
    .message {
        max-width: 374px;

        &.incoming {
            margin-right: auto;
        }

        &.outgoing {
            margin-left: auto;
        }
    }
}

// Spec: container > 593px
@media (min-width: 926px) {
    .message {
        max-width: 66%;

        &.incoming {
            margin-right: auto;
        }

        &.outgoing {
            margin-left: auto;
        }
    }
}


// Attachment

.module-message__attachment-container {
    // Entirely to ensure that images are centered if they aren't full width of bubble
    text-align: center;
    position: relative;
    cursor: pointer;

    margin-left: -12px;
    margin-right: -12px;
    margin-top: -10px;
    margin-bottom: -10px;

    border-radius: 16px;
    overflow: hidden;

    background-color: var(--messageAttachmentIconBg);
}

.module-message__attachment-container--with-content-below {
    margin-bottom: 7px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.module-message__attachment-container--with-content-above {
    margin-top: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


.module-message__img-attachment {
    object-fit: cover;
    width: 100%;
    min-width: 200px;
    min-height: 150px;
    max-height: 300px;

    // The padding on the bottom of the bubble produces 4 extra pixels of space at the
    //   bottom, so this doesn't match up with the padding numbers above.
    margin-bottom: -4px;

    // redundant with attachment-container, but we get cursor flashing on move otherwise
    cursor: pointer;
}

.module-message__broken-image {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.3px;

    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    color: var(--brokenMediaBg);
}

.module-message__broken-image--incoming {
    color: var(--brokenMediaText);
}

.module-message__video-overlay__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 48px;
    height: 48px;
    background-color: var(--videoPlayBtnBg);
    border-radius: 24px;
}

.module-message__video-overlay__play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 36px;
    width: 36px;
    @include color-svg('../images/play.svg', var(--videoPlayBtnIcon));
}

.module-message__broken-video-screenshot {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.3px;

    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    color: var(--brokenMediaBg);

    cursor: pointer;
}

.module-message__broken-video-screenshot--incoming {
    color: var(--brokenMediaText);
    ;
}

.module-message__audio-attachment {
    margin-top: 2px;
    display: block;
    margin-right: 30px;
}

.module-message__audio-attachment--with-content-below {
    margin-bottom: 5px;
}

.module-message__audio-attachment--with-content-above {
    margin-top: 6px;
}

.module-message__generic-attachment {
    display: flex;
    flex-direction: row;
}

.module-message__generic-attachment--with-content-below {
    padding-bottom: 6px;
}

.module-message__generic-attachment--with-content-above {
    padding-top: 4px;
}

.module-message__generic-attachment__icon {
    background: url('../images/file-gradient.svg') no-repeat center;
    height: 44px;
    width: 56px;
    margin-left: -13px;
    margin-right: -14px;
    margin-bottom: -4px;

    // So we can center the extension text inside this icon
    display: flex;
    flex-direction: row;
    align-items: center;
}

.module-message__generic-attachment__icon__extension {
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.1px;
    text-transform: uppercase;

    // Along with flow layout in parent item, centers text
    text-align: center;
    width: 25px;
    margin-left: auto;
    margin-right: auto;

    // We don't have much room for text here, cut it off without ellipse
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: clip;

    color: var(--messageAttachmentIconExtentionColor);
    font-family: monospace;
}

.module-message__generic-attachment__text {
    flex-grow: 1;
    margin-left: 8px;
    // The width of the icon plus our 8px margin
    max-width: calc(100% - 37px);
}

.module-message__generic-attachment__file-name {
    color: var(--messageAttachmentFileInfo);
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    margin-top: 2px;

    // Handling really long filenames - cut them off
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.module-message__generic-attachment__file-size {
    color: var(--messageAttachmentFileInfo);
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.3px;
    margin-top: 3px;
}
