.message {
  div.message-reactions {
    margin-top: 6px;
    span.reaction {
      background-color: rgba(128, 128, 128, 0.4);
      border-radius: 20px;
      padding: 2px 6px;
      font-weight: bold;
      margin-right: 2px;
      margin-left: 2px;
      border: 1px transparent solid;

      &:hover {
        border-color: rgba(128, 128, 128, 0.5);
        background-color: rgba(128, 128, 128, 0.3);
      }

      &.own {
        background-color: rgba(128, 128, 128, 0.6);
        border-color: rgba(128, 128, 128, 0.7);
      }
    }
    span.reaction:first {
      margin-left: 0px;
    }
  }
}
