.message-attachment-media {
  // Entirely to ensure that images are centered if they aren't full width of bubble
  text-align: center;
  position: relative;
  cursor: pointer;

  margin-left: -12px;
  margin-right: -12px;
  margin-top: -10px;
  margin-bottom: -10px;

  border-radius: 16px;
  overflow: hidden;

  background-color: var(--messageAttachmentIconBg);

  & > .attachment-content {
    object-fit: scale-down;
    object-position: center;
    height: 200px;
    max-width: 100%;

    // The padding on the bottom of the bubble produces 4 extra pixels of space at the
    //   bottom, so this doesn't match up with the padding numbers above.
    margin-bottom: -4px;

    // redundant with attachment-container, but we get cursor flashing on move otherwise
    cursor: pointer;
  }

  & > .video-play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 48px;
    height: 48px;
    background-color: var(--videoPlayBtnBg);
    border-radius: 24px;

    & > .video-play-btn-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      height: 36px;
      width: 36px;
      @include color-svg('../images/play.svg', var(--videoPlayBtnIcon));
    }
  }

  &.content-below {
    margin-bottom: 7px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  &.content-above {
    margin-top: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

.message-attachment-broken-media {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.3px;

  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  color: var(--brokenMediaBg);

  &.incoming {
    color: var(--brokenMediaText);
  }
}

.message-attachment-audio {
  margin-top: 2px;
  display: block;
  margin-right: 30px;

  &.content-below {
    margin-bottom: 5px;
  }

  &.content-above {
    margin-top: 6px;
  }
}

.message-attachment-generic {
  display: flex;
  flex-direction: row;
  cursor: pointer;

  &.content-below {
    padding-bottom: 6px;
  }

  &.content-above {
    padding-top: 4px;
  }

  & > .file-icon {
    background: url('../images/file-gradient.svg') no-repeat center;
    height: 44px;
    width: 56px;
    margin-left: -13px;
    margin-right: -14px;
    margin-bottom: -4px;

    // So we can center the extension text inside this icon
    display: flex;
    flex-direction: row;
    align-items: center;

    & > .file-extension {
      font-size: 10px;
      line-height: 13px;
      letter-spacing: 0.1px;
      text-transform: uppercase;

      // Along with flow layout in parent item, centers text
      text-align: center;
      width: 25px;
      margin-left: auto;
      margin-right: auto;

      // We don't have much room for text here, cut it off without ellipse
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: clip;

      color: var(--messageAttachmentIconExtentionColor);
      font-family: monospace;
    }
  }

  & > .text-part {
    flex-grow: 1;
    margin-left: 8px;
    // The width of the icon plus our 8px margin
    max-width: calc(100% - 37px);

    & > .name {
      color: var(--messageAttachmentFileInfo);
      font-size: 14px;
      line-height: 18px;
      font-weight: 300;
      margin-top: 2px;

      // Handling really long filenames - cut them off
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    & > .size {
      color: var(--messageAttachmentFileInfo);
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.3px;
      margin-top: 3px;
    }
  }
}

