.message-list-and-composer {
  width: 70%;
  float: right;
  display: grid;
  grid-template-columns: auto;
  height: calc(100vh - 50px);
  margin-top: 50px;
  background-image: var(--chatViewBgImgPath);
  background-size: cover;
  background-color: var(--chatViewBg);
}

.message-list-and-composer__message-list {
  position: relative;

  #message-list {
    position: absolute;
    bottom: 0;
    overflow: scroll;
    max-height: 100%;
    width:100%;
    padding: 0 0.5em;
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }

  ul {
    list-style: none;
    
    li {
      margin-bottom: 10px;

      &::after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: ' ';
        clear: both;
        height: 0;
      }
    }
  }

}
