/* Message Calls Icons */

.phone-enabled-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  margin-left: 2px;
  @include color-svg(
    '../images/phone_enabled.svg',
    var(--messageStatusIconSending)
  );
}

.phone-disabled-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  margin-left: 2px;
  @include color-svg(
    '../images/phone_disabled.svg',
    var(--messageStatusIconSending)
  );
}

.phone-accept-button {
  border-radius: 50%;
  border: 1px solid gray;
  background-color: #b4ffb4;
}

.phone-deny-button {
  border-radius: 50%;
  border: 1px solid gray;
  background-color: #ff9e9e;
  margin-left: 5px;
}

.call-inc-text {
  text-align: center;
}
