@use 'sass:color';

.selected-messages-actions {
  display: flex;
  flex-direction: row;
  background-color: var(--navBarBackground);
  justify-content: flex-start;
  align-items: center;
  & > div {
    width: 100%;
    text-align: right;
    padding: 8px;
  }
}
