$esp-height: 70vh;
$esp-header-height: 40px;
$esp-footer-height: 30px;
$esp-border-color: #00000017;
$emojimart-search-height: 31px + 6px;

.emoji-sticker-picker {
  position: fixed;
  z-index: 10;
  width: 438px;
  height: $esp-height;
  right: 13px;
  bottom: 50px;
  background-color: var(--emojiStickerPicker-Background);
  border-radius: var(--emojiStickerPicker-BorderRadius);
  overflow: hidden;
  box-shadow: 0px 0px 0px 1px $esp-border-color;

  div.emoji-or-sticker-header-nav {
    width: 100%;
    height: $esp-header-height;
    display: flex;
    border-bottom: 1px solid #00000017;

    div.selector-button {
      width: 50%;
      padding-top: 7px;
      font-size: large;
      text-align: center;
      border-bottom-style: solid;
      border-bottom-width: 4px;
      border-bottom-color: transparent;
      color: grey;

      &:last-child {
        float: right; // TODO: do this with flex box instead
      }

      &:hover {
        cursor: pointer;
      }

      &.selected {
        color: var(--emojiSelectorSelectionColor) !important;
        border-bottom-color: var(--emojiSelectorSelectionColor) !important;
      }
    }
  }
  div.emoji-picker,
  div.sticker-picker {
    height: calc(#{$esp-height} - #{$esp-header-height});
  }

  div.emoji-picker {
    & > div {
      width: 100%;
      height: 100%;
      em-emoji-picker {
        width: 100%;
        height: 100%;
        --border-radius: 0px;

        // unknown effect?
        --background-rgb: var(--emoji-picker-background-rgb);
        // background
        --rgb-background: var(--emoji-picker-background-rgb);
        // base color for text, seach placeholder an icons
        --rgb-color: var(--emoji-picker-text-rgb);
        --rgb-accent: var(--emoji-picker-accent-rgb);
        // selected input field bg
        --rgb-input: var(--emoji-picker-selected-input-bg-rgb);
        // border, scrollbar, in-active search input, emoji hover background
        --color-border: var(--emoji-picker-border-and-hover-color);

        --font-family: $roboto;

        // --category-icon-size: 24px;
        // --font-size: 20px;
        --color-border-over: rgba(0, 0, 0, 0);
        --shadow: none;
      }
    }
  }

  div.sticker-picker {
    background: var(--emojiMartBg);
    width: 100%;
    display: flex;
    overflow: auto;
    flex-direction: column;

    .sticker-container {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 0px 12px 12px;
      overflow-y: auto;

      .no-stickers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
      }

      .sticker-pack {
        & > .title {
          padding: 8px 0px;
          color: grey;
          font-size: large;
          font-weight: 500;
          text-transform: capitalize;
          font-family: $roboto;
          font-size: 16px;
          font-weight: 500;
          position: sticky;
          top: -1px;
          background-color: var(--emojiStickerPicker-Background);
        }
        & > .container {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          & > .sticker {
            display: flex;
            justify-content: center;
            width: 133px;
            height: 133px;
            border-radius: 4px;

            align-items: center;
            padding: 0;
            margin: 0;
            background-color: transparent;
            border-color: transparent;

            &:hover,
            &:focus {
              background-color: lightgrey;
              cursor: pointer;
            }

            img {
              max-height: calc(133px - 6px);
              max-width: calc(133px - 6px);
              object-fit: contain;
            }
          }
        }
      }
    }

    .sticker-actions-container {
      border-top: 1px solid $esp-border-color;
      padding: 0px 12px;
    }
  }
}
