$esp-height: 70vh;
$esp-header-height: 40px;
$esp-footer-height: 30px;
$emojimart-search-height: 31px + 6px;

.emoji-sticker-picker {
  position: fixed;
  z-index: 10;
  width: 438px;
  height: $esp-height;
  right: 13px;
  bottom: 50px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 0px 1px #00000017;
}

.emoji-sticker-picker__sticker-picker {
  width: 100%;
  height: calc(#{$esp-height} - #{$esp-header-height} - #{$esp-footer-height} + 1px);
  margin-top: -1px;
  overflow: overlay;

  img {
    max-width: 300px;
    height: auto;
  }
}

.emoji-sticker-picker__emoji-or-sticker-selector {
  width: 100%;
  height: calc(#{$esp-header-height} + 1px);
  display: flex;
  border-bottom: 1px solid var(--emojiMartBorder);
}

.emoji-sticker-picker__emoji-or-sticker-selector__button {
  width: 50%;
  padding-top: 7px;
  font-size: large;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: transparent;
  color: grey;

  &:last-child {
    float: right;
  }

  &:hover {
    cursor: pointer;
  }
}

.emoji-sticker-picker__emoji-or-sticker-selector__button--is-selected {
  color: var(--emojiSelectorSelectionColor) !important;
  border-bottom-color: var(--emojiSelectorSelectionColor) !important;
}

.emoji-sticker-picker__emoji-or-sticker-picker {
  border-bottom: 1px solid var(--emojiMartBorder);
}

.emoji-sticker-picker__emoji-picker {
  height: calc(#{$esp-height} - #{$esp-header-height} - #{$esp-footer-height});
}

.emoji-sticker-picker__sticker-picker__inner {
  padding: 0px 6px;
}

.emoji-sticker-picker__sticker-picker__inner__sticker-pack-title {
  padding: 5px 6px;
  color: grey;
  font-size: large;
  font-weight: 500;
  text-transform: capitalize;
  font-family: Roboto, "Apple Color Emoji", NotoEmoji, "Helvetica Neue", Arial, Helvetica, NotoMono, sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 28px;
  line-height: 18.4px;
}

.emoji-sticker-picker__sticker-picker__inner__sticker-pack-container {
  display: flex;
  /* max-width: 400px; */
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px 0px;
}

.emoji-sticker-picker__sticker-picker__inner__sticker-pack-container__sticker {
  display: flex;
  justify-content: center;
  width: 133px;
  height: 133px;
  margin: 5px 0px;
  padding: 3px;
  border-radius: 4px;

  &:hover {
    background-color: lightgrey;
    cursor: pointer;
  }

  img {
    max-height: calc(133px - 6px);
    max-width: calc(133px - 6px);
    object-fit: contain;
  }
}


// Emojimart overwrites
.emoji-mart-category-list>li {
  min-width: initial;
}

.emoji-mart {
  color: var(--emojiMartText);
  border: none;
  background: var(--emojiMartBg);
}

.emoji-mart-anchors svg,
.emoji-mart-anchors img {
  fill: var(--emojiMartCategoryIcons);
}

.emoji-mart-bar {
  position: absolute;
  height: $esp-footer-height;
  width: 438px;
  top: calc(#{$esp-height} - #{$esp-header-height} + 13px);
  border-top: 0 solid var(--emojiMartBorder);
}

.emoji-mart-bar:first-child {
  border-bottom-width: 0px;
}

.emoji-mart-category-label span {
  /* disable? -> no its important when scrolling */
  background-color: var(--emojiMartBg);
  color: grey;
}

.emoji-mart-search input::placeholder {
  color: var(--emojiMartInputPlaceholder);
}

.emoji-mart-search-icon {
  display: none;
}

// select background circle
.emoji-mart-category .emoji-mart-emoji:hover:before {
  background-color: var(--emojiMartSelect);
  border-radius: 4px;
}

.emoji-mart-category-label {
  position: relative !important;
}

.emoji-mart-emoji-native,
.emoji-mart {
  font-family: inherit
}

.emoji-mart-category .emoji-mart-emoji span {
  height: auto !important;
  width: auto !important;
}

.emoji-mart-anchor {
  padding: 0px 4px;
  padding-top: 4px;
}

.emoji-mart-anchor-selected .emoji-mart-anchor-bar {
  display: none;
}

.emoji-mart-anchor-selected svg {
  fill: var(--emojiSelectorSelectionColor);
}

.emoji-mart-scroll {
  height: calc(#{$esp-height} - #{$esp-header-height} - #{$esp-footer-height} - #{$emojimart-search-height});
  padding: 0 6px;
}
