.welcomeScreenImage {
  width: 100%;

  @media (max-height: 700px) {
    display: none;
  }
}

.welcomeScreenTitle {
  color: var(--colorNone);
  font-size: x-large;
  margin-bottom: 30px;
  margin-top: 40px;
  text-align: center;
}

.welcomeScreenButtonGroup {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.welcomeScreenButton {
  font-size: 14px;
  margin: 5px 0;
  width: 90%;
}
