.welcomeScreenBody {
  padding-bottom: 0;
}

.welcomeScreenImage {
  width: 100%;

  @media (max-height: 700px) {
    display: none;
  }
}

.welcomeScreenTitle {
  color: var(--colorNone);
  font-size: x-large;
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
}

.welcomeScreenButtonGroup {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.welcomeScreenButton {
  letter-spacing: 0.25px;
  margin: 7px 0;
  width: 100%;
}

.instantOnboardingCallout {
  padding-top: 20px;
  padding-right: 55px;
  position: relative;
}

.instantOnboardingHelp {
  background-color: transparent;
  border: 0;
  display: inline-block;
  display: inline-block;
  margin: 0;
  outline: 0;
  padding: 0;
  position: absolute;
  right: 30px;
  top: 17px;

  &:hover {
    .instantOnboardingHelpIcon {
      background-color: #000;
    }
  }
}

.instantOnboardingHelpIcon {
  background-color: #444;
}
