// Third-party module: react-contextmenu

.react-contextmenu {
  margin: 0;
  border-radius: 3px;
  background: #fff;
  min-width: 180px;
  padding: 5px;
  list-style: none;
  text-align: left;
  color: #182026;
  background-color: var(--bp3MenuBg);
  color: var(--bp3MenuText);
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 2px 4px rgba(16, 22, 26, 0.2),
    0 8px 24px rgba(16, 22, 26, 0.2);
}

.react-contextmenu--visible {
  z-index: 1000;
  opacity: 1;
}

.react-contextmenu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 2px;
  padding: 5px 7px;
  text-decoration: none;
  line-height: 20px;
  color: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.react-contextmenu-item--selected {
  background-color: rgba(167, 182, 194, 0.3);
  cursor: pointer;
  text-decoration: none;
  color: var(--contextMenuSelected);
}

.react-contextmenu-item--checked:before {
  content: '✓';
  display: inline-block;
  position: absolute;
  right: 7px;
  color: var(--contextMenuSelected);
}

.react-contextmenu-item.react-contextmenu-submenu {
  padding: 0;
  color: var(--contextMenuText);
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
  padding-right: 36px;
}

.react-contextmenu-item.react-contextmenu-submenu
  > .react-contextmenu-item:after {
  content: '\25B6';
  display: inline-block;
  position: absolute;
  right: 7px;
  color: var(--contextMenuText);
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
  color: var(--bp3MenuText);
  background-color: rgba(167, 182, 194, 0.3);
}

.react-contextmenu-item.react-contextmenu-item--active.react-contextmenu-item--checked:before,
.react-contextmenu-item.react-contextmenu-item--selected.react-contextmenu-item--checked:before {
  color: var(--bp3MenuText);
}

.react-contextmenu-item.react-contextmenu-submenu
  > .react-contextmenu-item.react-contextmenu-item--active:after,
.react-contextmenu-item.react-contextmenu-submenu
  > .react-contextmenu-item.react-contextmenu-item--selected:after {
  color: var(--bp3MenuText);
}
