@import '../fonts/fonts.css';

html {
  font-family: Roboto, Apple Color Emoji, NotoEmoji, Helvetica Neue, Arial,
    Helvetica, NotoMono, sans-serif !important;
  color-scheme: light dark;
}
@media (prefers-color-scheme: light) {
  html {
    background-color: white;
  }
}

.back-btn {
  position: fixed;
  bottom: 8px;
  right: 8px;
  opacity: 0.9;
  border: 0;
  border-radius: 10px;
  padding: 4px 12px;
  cursor: pointer;
}

body {
  max-width: 800px;
  margin: 0 0 auto;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: #0078f1;
}
a:hover {
  text-decoration: underline;
}
a[href^='http']::after {
  content: "\2009↗︎"; /* thin space + arrow as base+VS15 (text), cmp. https://en.wikipedia.org/wiki/Arrows_%28Unicode_block%29 */
}

h2,
h3,
h4 {
  padding-top: 1rem; /* using padding+margin results in nicer scrolling position on tapping links */
  margin-top: 2rem;
}
ul {
  margin-left: 20px;
  padding: 0px;
}
ul#top {
  list-style-type: none;
  margin: 1.2rem 0 0 0;
  padding: 0;
  margin-block-start: 0;
}
ul#top:first-child {
  margin-top: 0;
}
ul#top > li {
  font-weight: bold !important;
  font-size: 1.2rem !important;
}
ul#top li {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  font-weight: normal;
  font-size: 1rem;
  list-style: none;
  color: #106ba3;
}
ul#top li > ul > li {
  margin-left: 10px;
}
ul#top li > ul > li::before {
  content: '\2022';
  color: #106ba3;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.pagefind-ui__search-input {
  position: absolute;
  right: 40px;
  top: 20px;
  padding: 8px;
  padding-right: 23px;
}

.pagefind-ui__search-clear {
  position: absolute;
  right: 10px;
  top: 20px;
  border: none;
  margin-left: -34px;
  background: none;
  cursor: pointer;
  font-size: x-large;
  vertical-align: middle;
  font-family: 'Roboto';
}

.pagefind-ui__suppressed {
  display: none;
}

.pagefind-ui__drawer {
  border-bottom: 2px solid #333;
}

.pagefind-ui__drawer.pagefind-ui__hidden {
  display: none;
}

mark {
  background-color: rgb(230, 179, 84);
}


.pagefind-ui__result-link :nth-child(0) {
  color: #fff;
  cursor: text;
}

@media (prefers-color-scheme: light) {
  .pagefind-ui__result-link :first {
    color: #fff;
    cursor: text;
  }
}

/**
 * the first result does not fit in our context
 * it just shows some text and a link to our Help page
 * we hide it, since it would only make sense on a multi page result
 */
.pagefind-ui__result-inner>p {
  display: none;
}

.pagefind-ui__results {
  list-style: none;
}
