.icon {
  background-color: var(--colorPrimary);
  display: inline-block;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;

  &.navbar {
    background-color: var(--navBarText);
  }

  &.settings {
    background-color: var(--settingsIconColor);
  }

  &.context-menu {
    background-color: var(--contextMenuText);
  }
}
