// We need to force the dialog to full height to make `AutoSizer` work
.selectChatDialog {
  height: 100%;
}

.selectChatDialogBody {
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
}
