@use '../../../../scss/mixins';

.reactionsDialogList {
  margin: 0;
  margin-bottom: 1rem;
}

.reactionsDialogListItem {
  @include mixins.button-reset;

  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.reactionsDialogListClickable {
  &:hover,
  &:focus {
    background-color: var(--chatListItemBgHover);
  }
}

.reactionsDialogAvatar {
  flex: 0 0 48px;
  margin-inline: 10px;
}

.reactionsDialogContactName {
  flex: 1;
  margin-inline-end: 10px;
  overflow: hidden;
}

.reactionsDialogEmoji {
  flex: 0 0 50px;
  font-size: 20px;
  text-align: center;
}

.accumulatedReactionsList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 0.625rem;
}

.accumulatedReactionsButton {
  @include mixins.button-reset;

  padding: 0.125rem 0.5rem;

  // Basically the same as with `.emoji` on message bubbles
  border-radius: 999999px;
  border: solid 1px rgba(100, 100, 100, 0.3);
  background-color: var(--messageIncomingBg);
  &.isFromSelf {
    background-color: var(--messageOutgoingBg);
  }
}

.accumulatedReactionsEmoji {
  font-size: 1.125rem;
}

.accumulatedReactionsCount {
  margin-inline: 0.125rem;
  overflow: hidden;
}
