$hover-contrast-change: 2%;

@function changeContrast($color, $factor) {
  @if lightness($color) < 50 {
    @return lighten($color, $factor);
  } @else {
    @return darken($color, $factor);
  }
}

:root {
  --colorPrimary: #{$colorPrimary};
  --colorDanger: #{$colorDanger};
  --colorNone: #{$colorNone};
  --ovalButtonBg: #{$ovalButtonBg};
  --ovalButtonBgHover: #{changeContrast($ovalButtonBg, 70%)};
  --ovalButtonText: #{$ovalButtonText};
  --ovalButtonTextHover: #{desaturate(invert($ovalButtonText), 1)};
  /* NavBar */
  --navBarBackground: #{$bgNavBar};
  --navBarText: #{$textNavBar};
  --navBarSearchPlaceholder: #{changeContrast($textNavBar, 27%)};
  --navBarGroupSubtitle: #{changeContrast($textNavBar, 27%)};
  /* ChatView */
  --chatViewBg: #{$bgChatView};
  --chatViewBgImgPath: #{$bgImage};
  /* ChatView - Composer */
  --composerBg: #{$bgPrimary};
  --composerText: #{$textPrimary};
  --composerPlaceholderText: #{rgba($textPrimary, 0.5)};
  --composerBtnColor: #{rgba($textPrimary, 0.9)};
  --composerSendButton: #415e6b;
  --emojiSelectorSelectionColor: #{$accentColor};
  /* Chat List */
  --chatListItemSelectedBg: #4c6e7d;
  --chatListItemSelectedBgHover: #{changeContrast(
      #4c6e7d,
      1% + $hover-contrast-change
    )};
  --chatListItemSelectedText: #{$bgPrimary};
  --chatListItemBgHover: #{changeContrast($bgPrimary, $hover-contrast-change)};
  --chatListItemBgPinned: #{changeContrast($bgPrimary, 7%)};
  --chatListItemBgPinnedHover: #{changeContrast(
      $bgPrimary,
      7% + $hover-contrast-change
    )};
  --chatListItemDeaddropBg: #{changeContrast($bgPrimary, 15%)};
  --chatListItemDeaddropBgHover: #{changeContrast(
      $bgPrimary,
      15% + $hover-contrast-change
    )};
  --chat-list-item-summary-text: #{changeContrast($textPrimary, 33%)};
  /* Message Bubble */
  --messageText: #{$textPrimary};
  --messageTextLink: #{$textPrimary};
  /* same as message text */
  --setupMessageText: #ed824e;
  --infoMessageBubbleBg: #0000008c;
  --infoMessageBubbleText: white;
  --messageIncommingBg: #{$bgMessageBubbleIncoming};
  --messageIncommingDate: #{$textPrimary};
  --messageOutgoingBg: #{$bgMessageBubbleOutgoing};
  --messageOutgoingStatusColor: #4caf50; // Message Bubble - Buttons
  --messageButtons: #8b8e91;
  --messageButtonsHover: #070c14;
  /* Message Bubble - Metadata */
  --messageStatusIcon: #4caf50;
  --messageStatusIconSending: #62656a;
  --messagePadlockOutgoing: #4caf50;
  --messagePadlockIncomming: #a4a6a9;
  --messageMetadataDate: #62656a;
  --messageMetadataIncomming: rgba(#ffffff, 0.7);
  --messageAuthor: #ffffff;
  /* Message Bubble - Attachments */
  --messageAttachmentIconExtentionColor: #070c14;
  /* Manual value: This will not get generated in the future */
  --messageAttachmentIconBg: transparent;
  /* Manual value: This will not get generated in the future */
  --messageAttachmentFileInfo: #{$textPrimary};
  /* Login Screen */
  --loginInputFocusColor: #{$colorPrimary};
  --loginButtonText: #{$colorPrimary};
  --deltaChatPrimaryFg: #{$textPrimary}; // todo rename this var
  --deltaChatPrimaryFgLight: #{$textSecondary}; // todo rename this var
  /* Context Menu */
  --contextMenuBg: #{$bgPrimary};
  --contextMenuBorder: #{changeContrast($bgSecondary, 10%)};
  --contextMenuText: #{$textSecondary};
  --contextMenuSelected: #{$bgSecondary};
  --contextMenuSelectedBg: #a4a6a9;
  --bp3DialogHeaderBg: #{$bgPrimary};
  // Bp3 overwrites
  --bp3DialogHeaderIcon: #666666;
  --bp3DialogBgSecondary: #{$bgSecondary};
  --bp3DialogBgPrimary: #{$bgPrimary};
  --bp3Heading: #{$textPrimary};
  --bp3ButtonText: #{$textPrimary};
  --bp3ButtonBg: #{$bgPrimary};
  --bp3ButtonGradientTop: rgba(255, 255, 255, 0.8);
  --bp3ButtonGradientBottom: rgba(255, 255, 255, 0);
  --bp3ButtonHoverBg: #ebf1f5;
  --bp3InputText: #{$textPrimary};
  --bp3InputBg: #{$bgPrimary};
  --bp3InputPlaceholder: lightgray;
  --bp3-input-focused: #{$colorPrimary};
  --bp3MenuText: #{$textPrimary};
  --bp3MenuBg: #{$bgPrimary};
  --bp3Switch: #7a8084;
  --bp3SwitchShadow: unset;
  --bp3SwitchChecked: #acd4e8;
  --bp3SwitchShadowChecked: unset;
  --bp3SwitchKnob: #f5f5f5;
  --bp3SwitchKnobShadow: 0px 2px 0 0px #d2cfcfad;
  --bp3SwitchKnobChecked: #42a5f5;
  --bp3SwitchKnobShadowChecked: 0px 1px 0 0px #c9d4d2d1;
  --bp3SpinnerTrack: #acd4e8;
  --bp3SpinnerHead: #42a5f5;
  --bp3SelectorTop: rgba(255, 255, 255, 0.8);
  --bp3SelectorBottom: rgba(255, 255, 255, 0);
  --bp3-control-indicator-color: #{rgba($textPrimary, 0.08)};
  --outlineProperties: 1px solid transparent;
  --outlineColor: #{$outlineColor};
  --delta-dialog-seperator: #{$bgSecondary};
  --delta-dialog-seperator-text: #{changeContrast($bgSecondary, 24%)};
  /* EmojiMart overwrites */
  --emojiMartText: #{$textPrimary};
  --emojiMartBorder: #{$outlineColor};
  --emojiMartSearchBorder: lightgrey;
  --emojiMartBg: #{$bgPrimary};
  --emojiMartOutsideRadius: 5px;
  --emojiMartCategoryIcons: #{mix($textPrimary, $bgSecondary, 40%)};
  --emojiMartInputBg: #{$bgSecondary};
  --emojiMartInputText: #{$textPrimary};
  --emojiMartInputPlaceholder: #{mix($textPrimary, $bgSecondary, 30%)};
  --emojiMartSelect: #{mix($bgSecondary, invert($bgSecondary), 0.2)};
  /* Misc */
  --galleryBg: #{$bgPrimary};
  --avatarLabelColor: #ffffff; // Manual value: This will not get generated in the future
  --brokenMediaText: #070c14;
  --brokenMediaBg: #ffffff;
  --unreadCountBg: #{$accentColor};
  --unreadCountLabel: #ffffff; // Manual value: This will not get generated in the future
  --contactListItemBg: #62656a;
  --contactListInitalColor: #{$textSecondary};
  --contactEmailColor: #{$textSecondary};
  --errorColor: #f44336;
  --globalLinkColor: #2090ea; // Manual value: This will not get generated in the future
  --globalBackground: #{$bgPrimary};
  --globalText: #{$textPrimary};
  --mapOverlayBg: #{$bgPrimary};
  --videoPlayBtnIcon: #{$accentColor};
  --videoPlayBtnBg: #ffffff; // Manual value: This will not get generated in the future

  @if lightness($bgPrimary) < 50 {
    --scrollbarThumb: #{rgba(white, $scrollbarTransparency)};
  } @else {
    --scrollbarThumb: #{rgba(grey, $scrollbarTransparency)};
  }
  @if lightness($bgPrimary) < 50 {
    --scrollbarThumbHover: #{rgba(white, $scrollbarTransparency + 0.14)};
  } @else {
    --scrollbarThumbHover: #{rgba(grey, $scrollbarTransparency + 0.14)};
  }
}
