$hover-contrast-change: 2%;

@function changeContrast($color, $factor) {
  @if lightness($color) < 50 {
    @return lighten($color, $factor);
  } @else {
    @return darken($color, $factor);
  }
}

@function colorToRGB($color) {
  @return red($color), green($color), blue($color);
}

:root {
  --colorPrimary: #{$colorPrimary};
  --colorDanger: #{$colorDanger};
  --colorNone: #{$colorNone};
  --bgPrimary: #{$bgPrimary};
  --ovalButtonBg: #{$ovalButtonBg};
  --ovalButtonBgHover: #{changeContrast($ovalButtonBg, 70%)};
  --ovalButtonText: #{$ovalButtonText};
  --ovalButtonTextHover: #{desaturate(invert($ovalButtonText), 1)};
  /* NavBar */
  --navBarBackground: #{$bgNavBar};
  --navBarText: #{$textNavBar};
  --navBarSearchPlaceholder: #{changeContrast($textNavBar, 27%)};
  --navBarGroupSubtitle: #{changeContrast($textNavBar, 27%)};
  /* SideBar */
  --sideBarBackground: #{$bgPrimary};
  --sideBarAccountBackground: #{$sideBarAccountBg};
  --sideBarAccountIconBackground: #{$sideBarAccountIconBg};
  --sideBarAccountIconHoverBackground: #{changeContrast(
      $sideBarAccountIconBg,
      $hover-contrast-change
    )};
  --sideBarAccountEmailText: #{$sideBarAccountEmailText};
  /* ChatView */
  --chatViewBg: #{$bgChatView};
  --chatViewBgImgPath: #{$bgImage};
  /* ChatView - Composer */
  --composerBg: #{$bgPrimary};
  --composerText: #{$textPrimary};
  --composerPlaceholderText: #{rgba($textPrimary, 0.5)};
  --composerBtnColor: #{rgba($textPrimary, 0.9)};
  --composerSendButton: #415e6b;
  --emojiSelectorSelectionColor: #{$accentColor};
  /* Chat List */
  --chatListItemSelectedBg: #{$chatListItemSelectedBg};
  --chatListItemSelectedBgHover: #{changeContrast(
      $chatListItemSelectedBg,
      1% + $hover-contrast-change
    )};
  --chatListItemSelectedText: #{$bgPrimary};
  --chatListItemBgHover: #{changeContrast($bgPrimary, $hover-contrast-change)};
  --chatListItemBgPinned: #{changeContrast($bgPrimary, 7%)};
  --chatListItemBgPinnedHover: #{changeContrast(
      $bgPrimary,
      7% + $hover-contrast-change
    )};
  --chatListItemDeaddropBg: #{changeContrast($bgPrimary, 15%)};
  --chatListItemDeaddropBgHover: #{changeContrast(
      $bgPrimary,
      15% + $hover-contrast-change
    )};
  --chat-list-item-summary-text: #{changeContrast($textPrimary, 33%)};
  --chat-list-item-archived-label: #{changeContrast($textPrimary, 20%)};
  --chat-list-item-archived-label-border: #{changeContrast($textPrimary, 33%)};
  /* Chat List - search */
  --cli-search-result-divider: #{changeContrast($bgSecondary, 5%)};
  --cli-search-result-divider-border: #{changeContrast($bgSecondary, 10%)};
  --cli-search-result-divider-border-width: 2px;
  /* ContactList / AccountList */
  --contactListItemBgHover: #{changeContrast($bgPrimary, $hover-contrast-change)};
  --contactListItemBgFocus: #{changeContrast($bgPrimary, 12%)};
  /* Keybindings Cheatsheet */
  --keybindingHintsBoxBackground: #{$keybindingHintsBoxBackground};
  --keybindingKeyBackground: #{$keybindingKeyBackground};
  --keybindingKeyBorder: #{$keybindingKeyBorder};
  --keybindingKeyFontColor: black;
  --keybindingKeyShadow: #{$keybindingKeyShadow};
  --keybindingActionBackground: #{$keybindingActionBackground};
  /* Floating Action Button */
  --floatingActionButtonBg: #{$floatingActionButtonBg};
  /* Message Bubble */
  --messageText: #{$textPrimary};
  --messageTextLink: #{$textPrimary};
  --messageQuotedText: #{changeContrast($textPrimary, 45%)};
  /* same as message text */
  --setupMessageText: #ed824e;
  --infoMessageBubbleBg: #0000008c;
  --infoMessageBubbleText: white;
  --messageIncomingBg: #{$bgMessageBubbleIncoming};
  --messageIncomingDate: #{$textPrimary};
  --messageOutgoingBg: #{$bgMessageBubbleOutgoing};
  --messageOutgoingStatusColor: #4caf50; // Message Bubble - Buttons
  /* Message Bubble - Metadata */
  --messageStatusIcon: #4caf50;
  --messageStatusIconSending: #62656a;
  --messagePadlockOutgoing: #4caf50;
  --messagePadlockIncoming: #a4a6a9;
  --messageMetadataDate: #62656a;
  --messageMetadataIncoming: rgba(#ffffff, 0.7);
  --messageAuthor: #ffffff;
  --messageReplyBtn: whitesmoke;
  --messageReplyBtnHover: white;
  --messageReplyBtnBg: rgba(0, 0, 0, 0.23);
  --messageReplyBtnBgHover: rgba(0, 0, 0, 0.33);
  /* Message Bubble - Attachments */
  --messageAttachmentIconExtentionColor: #070c14;
  /* Manual value: This will not get generated in the future */
  --messageAttachmentIconBg: transparent;
  /* Manual value: This will not get generated in the future */
  --messageAttachmentFileInfo: #{$textPrimary};
  /* Login Screen */
  --loginInputFocusColor: #{$colorPrimary};
  --loginButtonText: #{$colorPrimary};
  --deltaChatPrimaryFg: #{$textPrimary}; // todo rename this var
  --deltaChatPrimaryFgLight: #{$textSecondary}; // todo rename this var
  /* Context Menu */
  --contextMenuBg: #{$bgPrimary};
  --contextMenuBorder: #{changeContrast($bgSecondary, 10%)};
  --contextMenuText: #{$textSecondary};
  --contextMenuSelected: #{$bgSecondary};
  --contextMenuSelectedBg: #a4a6a9;
  --bp4DialogHeaderBg: #{$bgPrimary};
  // bp4 overwrites
  --bp4DialogHeaderIcon: #666666;
  --bp4DialogBgSecondary: #{$bgSecondary};
  --bp4DialogBgPrimary: #{$bgPrimary};
  --bp4Heading: #{$textPrimary};
  --bp4ButtonText: #{$textPrimary};
  --bp4ButtonBg: #{$bgPrimary};
  --bp4ButtonGradientTop: rgba(255, 255, 255, 0.8);
  --bp4ButtonGradientBottom: rgba(255, 255, 255, 0);
  --bp4ButtonHoverBg: #ebf1f5;
  --bp4InputText: #{$textPrimary};
  --bp4InputBg: #{$bgPrimary};
  --bp4InputPlaceholder: lightgray;
  --bp4-input-focused: #{$colorPrimary};
  --bp4MenuText: #{$textPrimary};
  --bp4MenuBg: #{$bgPrimary};
  --bp4Switch: #7a8084;
  --bp4SwitchShadow: unset;
  --bp4SwitchChecked: #acd4e8;
  --bp4SwitchShadowChecked: unset;
  --bp4SwitchKnob: #f5f5f5;
  --bp4SwitchKnobShadow: 0px 2px 0 0px #d2cfcfad;
  --bp4SwitchKnobChecked: #42a5f5;
  --bp4SwitchKnobShadowChecked: 0px 1px 0 0px #c9d4d2d1;
  --bp4SpinnerTrack: #acd4e8;
  --bp4SpinnerHead: #42a5f5;
  --bp4SelectorTop: rgba(255, 255, 255, 0.8);
  --bp4SelectorBottom: rgba(255, 255, 255, 0);
  --bp4-control-indicator-color: #{rgba($textPrimary, 0.08)};
  --outlineProperties: 1px solid transparent;
  --outlineColor: #{$outlineColor};
  --delta-dialog-separator: #{$bgSecondary};
  --delta-dialog-separator-text: #{changeContrast($bgSecondary, 24%)};

  /* Misc */
  --galleryBg: #{$bgPrimary};
  --avatarLabelColor: #ffffff; // Manual value: This will not get generated in the future
  --brokenMediaText: #070c14;
  --brokenMediaBg: #ffffff;
  --unreadCountBg: #{$accentColor};
  --unreadCountLabel: #ffffff; // Manual value: This will not get generated in the future;
  --contactEmailColor: #{$textSecondary};
  --errorColor: #f44336;
  --globalLinkColor: #2090ea; // Manual value: This will not get generated in the future
  --globalBackground: #{$bgPrimary};
  --globalText: #{$textPrimary};
  --mapOverlayBg: #{$bgPrimary};
  --mapMessageBg: #{$bgPrimary};
  --videoPlayBtnIcon: #{$accentColor};
  --videoPlayBtnBg: #ffffff; // Manual value: This will not get generated in the future
  --videoPlayBtnBorder: #eaeaea;
  --videoPlayBtnBgHover: #eeeeee;
  --fullScreenMediaButtons: #8b8e91;
  --messageHightlightColor: rgba(66, 165, 245, 0.8);
  --addMemberChipBackgroundColor: #{$bgSecondary};
  --searchInputBackgroundColor: #52768700;
  --galleryWebxdcItem: #{changeContrast($bgPrimary, 10%)};
  --recently-seen-indicator-color: #34c759;

  /* Emoji & Sticker picker overwrites */
  --emojiStickerPicker-Background: #{$bgPrimary};
  --emojiStickerPicker-BorderRadius: 5px;
  // emoji picker
  --emoji-picker-background-rgb: #{colorToRGB($bgPrimary)};
  // base color for text, seach placeholder an icons
  --emoji-picker-text-rgb: #{colorToRGB($textPrimary)};
  //  accent color
  --emoji-picker-accent-rgb: #{colorToRGB($colorPrimary)};
  //  selected input field bg
  --emoji-picker-selected-input-bg-rgb: #{colorToRGB($bgSecondary)};
  //  border, scrollbar, in-active search input, emoji hover background
  --emoji-picker-border-and-hover-color: rgb(
    #{colorToRGB(changeContrast($bgSecondary, 8%))}
  );

  /** HTML Email Window */
  --htmlEmail-background: #{$bgPrimary};
  --htmlEmail-color: #{$textPrimary};
  --htmlEmail-border-color: #{changeContrast($bgPrimary, 20%)};

  /** delta tab button */
  --delta-btn-tab-bg: transparent;
  --delta-btn-tab-text: #{$textSecondary};
  --delta-btn-tab-hover-bg: rgba(125,125,125, 0.3);
  --delta-btn-tab-hover-text: #{$textPrimary};
  --delta-btn-tab-selected-bg: #{$colorPrimary};
  --delta-btn-tab-selected-text: #{$textPrimary};

  @if lightness($bgPrimary) < 50 {
    // dark theme
    --scrollbarThumb: #{rgba(white, $scrollbarTransparency)};
    --scrollbarThumbHover: #{rgba(white, $scrollbarTransparency + 0.14)};

    --messageReplyBtnBg: rgba(255, 255, 255, 0.13);
    --messageReplyBtnBgHover: rgba(255, 255, 255, 0.23);

    --settingsIconColor: #666666;

    --unreadCountBgMuted: #3b3b3b;

    --SPECIAL-emoji-picker-category-icon-style: solid;
  } @else {
    // light theme
    --scrollbarThumb: #{rgba(grey, $scrollbarTransparency)};
    --scrollbarThumbHover: #{rgba(grey, $scrollbarTransparency + 0.14)};

    --settingsIconColor: #666666;
    --jumpDownButtonBackgroundColor: white;
    --jumpDownButtonIconColor: #808080;

    --unreadCountBgMuted: #b6b6bb;

    --SPECIAL-emoji-picker-category-icon-style: outline;
  }
}
