.theme-meta {
  --name: 'Dark Purple';
  --description: 'A clean theme that highlights our purple nature';
}

/* Set theme variables used for theme Generation */
$accentColor: #cc12ac;
$bgChatView: #252540;
$bgImage: none;
$bgMessageBubbleIncoming: #303030;
$bgMessageBubbleOutgoing: #354535;
$bgNavBar: #4e1479;
$bgPrimary: #222333;
$bgSecondary: #333444;
$colorDanger: #f96856;
$colorNone: #a0a0a0;
$colorPrimary: #42a5f5;
$outlineColor: #b9b9b9;
$ovalButtonBg: darkgreen;
$ovalButtonText: #fff;
$scrollbarTransparency: 0.34;
$textNavBar: #ddddf0;
$textPrimary: #fff;
$textSecondary: #ddd;

/* Derive the themedata from the theme variables */
@import '_themebase.scss';

/* overwrite themedata */
:root {
}

/* overwrite css */
