.theme-meta {
  --name: 'Dark Amoled';
  --description: 'An Dark theme optimized for amoled displays (black is really black)';
}

/* Set theme variables used for theme Generation */
$accentColor: purple;
$bgChatView: #000;
$bgImage: none;
$bgMessageBubbleIncoming: #222;
$bgMessageBubbleOutgoing: #343;
$bgNavBar: #000;
$bgPrimary: #000;
$bgSecondary: #222;
$colorDanger: #f96856;
$colorNone: #a0a0a0;
$colorPrimary: #42a5f5;
$outlineColor: #272727;
$ovalButtonBg: darkgreen;
$ovalButtonText: #fff;
$scrollbarTransparency: 0.45;
$textNavBar: #ddd;
$textPrimary: #fff;
$textSecondary: #ddd;

/* Derive the themedata from the theme variables */
@import '_themebase.scss';

/* overwrite themedata */
:root {
  --bp3SelectorBottom: rgba(80, 80, 80, 0.6);
  --bp3SelectorTop: rgba(80, 80, 80, 0.8);
}

/* overwrite css */
