html {
  height: auto;
}
body {
  height: auto;
  background-color: white;
}

.thumbnail {
  max-width: 50px;
  max-height: 50px;
}

#root {

}

input:focus {
  outline: 0 !important;
}

.window {
  height: calc(100vh - 50px);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  padding: 10px 10px;
}

.conversation {
  padding-bottom: 40px;
}

.user-feedback {
  position: fixed;
  top: 0px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  color: black;
  font-weight: bold;
  padding: 10px;
  z-index: 30;
  box-shadow: 0px 2px 2px rgba(0,0,0, .5);
  text-align: center;
}
.user-feedback.error {
  background-color: red;
}
.user-feedback.success {
  background-color: #4caf50;
}

ul {
  list-style: none;
  padding-left: 0px;
}
ul li button {
  min-width: 200px;
}

.SelectGroupImage {
  width: 100px;
}

.GroupImage {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.RemoveGroupImage {
  width: 100px;
  margin-bottom: 4px;
}

.module-conversation-list-item__is-verified {
  width: 0.75em;
  height: 0.75em;
  margin-right: 2px;
}

.module-conversation-list-item__is-group {
  width: 0.75em;
  height: 0.75em;
  margin-right: 2px;
  filter: invert(100%);
}


::-webkit-scrollbar {
  width: 6px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #666666;
}

::-webkit-scrollbar-thumb:hover {
  background: #606060;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

h1, h5, p, .bp3-button, .bp3-dialog-header, button>span, label {
  user-select: none;
}
