html {
  height: auto;
}
body {
  height: auto;
  background-color: white;
}

.thumbnail {
  max-width: 50px;
  max-height: 50px;
}

#root {

}

input:focus {
  outline: 0 !important;
}

.window {
  height: calc(100vh - 50px);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  padding: 10px 10px;
}

.conversation {
  padding-bottom: 40px;
}

.user-feedback {
  position: fixed;
  top: 0px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  color: black;
  font-weight: bold;
  padding: 10px;
  z-index: 30;
  box-shadow: 0px 2px 2px rgba(0,0,0, .5);
  text-align: center;
}
.user-feedback.error {
  background-color: red;
}
.user-feedback.success {
  background-color: green;
}
img {
  max-width: 500px;
}

ul {
  list-style: none;
  padding-left: 0px;
}
ul li button {
  min-width: 200px;
}

.ShowArchivedChats .module-conversation-list-item__avatar {
  visibility: hidden;
}

.bp3-overlay-open .bp3-transition-container {
  top: -50px !important;
}

.module-message__author-default-avatar__label {
  background-color: black;
  top: -121px;
  left: -10px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #757575;
  color: #ffffff;
  font-size: 25px;
  line-height: 36px;
}

.module-message__author-default-avatar {
  position: static;
  margin-right: 8px;
}

.MessageWrapper .module-message__metadata {
  margin-top: 10px;
  margin-bottom: -7px;
}

.SelectGroupImage {
  width: 100px;
}

.GroupImage {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.RemoveGroupImage {
  width: 100px;
  margin-bottom: 4px;
}

.SetupMessage .module-message__text {
  color: #ed824e;
}

.attachment-overlay {
  display: flex;
  justify-content: center;
}

.module-conversation-list-item__is-verified {
  width: 0.75em;
  height: 0.75em;
  margin-right: 2px;
}
