html {
  height: auto;
}
body {
  height: auto;
  background-color: white;
}

#root {
  padding-top: 50px;
}

.window {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 10px;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.bp3-navbar-heading {
  max-width: 250px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.conversation {
  padding-bottom: 40px;
}

.composer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.composer button {
  max-width: 100px;
}

.user-feedback {
  position: fixed;
  top: 0px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  color: black;
  font-weight: bold;
  padding: 10px;
  z-index: 30;
  box-shadow: 0px 2px 2px rgba(0,0,0, .5);
  text-align: center;
}
.user-feedback.error {
  background-color: red;
}
.user-feedback.success {
  background-color: green;
}
img {
  max-width: 500px;
}

ul {
  list-style: none;
  padding-left: 0px;
}
ul li button {
  min-width: 200px;
}
