html {
  height: auto;
}
body {
  height: auto;
  background-color: white;
}

.thumbnail {
  max-width: 50px;
  max-height: 50px;
}

#root {

}

input:focus {
  outline: 0 !important;
}

.window {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  padding: 10px 10px;
}

.centered {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.window, .below-navbar {
  height: calc(100vh - 50px);
  margin-top: 50px;
}

.bp3-navbar-heading {
  max-width: 250px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.conversation {
  padding-bottom: 40px;
}

.composer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.composer button {
  max-width: 100px;
}

.user-feedback {
  position: fixed;
  top: 0px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  color: black;
  font-weight: bold;
  padding: 10px;
  z-index: 30;
  box-shadow: 0px 2px 2px rgba(0,0,0, .5);
  text-align: center;
}
.user-feedback.error {
  background-color: red;
}
.user-feedback.success {
  background-color: green;
}
img {
  max-width: 500px;
}

ul {
  list-style: none;
  padding-left: 0px;
}
ul li button {
  min-width: 200px;
}

.Login .window {
  height: auto;
}

.ChatView #the-conversation {
  height: calc(100vh - 50px - 40px);
  overflow: scroll;
}

.ChatList {
  width: 30%;
  height: 100%;
  float: left;
  border-right: 1px solid rgba(16, 22, 26, 0.1);
  overflow-y: auto;
}

.ChatList .module-conversation-list-item {
  height: 52px;
  padding: 0px;
}

.ChatView, .InputMessage .composer {
  width: 70%;
}

.ShowArchivedChats .module-conversation-list-item__avatar {
  visibility: hidden;
}

.InputMessage .composer {
  padding: 4px 10px;
}

.InputMessage input:focus {
  outline: 0;
  -webkit-box-shadow: unset;
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2);
}

.ChatView {
  float: right;
}

.Navbar img {
    height: 50px;
}

.Navbar .bp3-align-left {
  width: 30%;
}

.Navbar .bp3-align-right {
  width: 70%;
  float: none;
}

.Navbar .bp3-popover-wrapper {
  margin-left: auto;
}

.bp3-overlay-open .bp3-transition-container {
  top: -50px !important;
}



.ChatList-NoChats {
  height: 52px;
  text-align: center;
  padding-top: calc((52px - 14px) / 2);
  padding: 5px;
}

.ChatList-NoChats p {
  margin: 0 auto;
}

.module-message__author-default-avatar__label {
  background-color: black;
  top: -121px;
  left: -10px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #757575;
  color: #ffffff;
  font-size: 25px;
  line-height: 36px;
}

.module-message__author-default-avatar {
  position: static;
  margin-right: 8px;
}

.MessageWrapper .module-message__metadata {
  margin-top: 10px;
  margin-bottom: -7px;
}

.SelectGroupImage {
  width: 100px;
}

.GroupImage {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.RemoveGroupImage {
  width: 100px;
  margin-bottom: 4px;
}


.InputTransferKey {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px 20px 20px 10px;
}

.InputTransferKey .partial {
  width: 100%;
}

.InputTransferKey .partial input {
  width: 66%;
  float: left;
}

.InputTransferKey .partial .separator {
  width: 33%;
  float: right;
}

.SetupMessage .module-message__text {
  color: #ed824e;
}

.module-conversation-list-item__is-verified {
  width: 0.75em;
  height: 0.75em;
  margin-right: 2px;
}

.attachment-overlay {
  display: flex;
  justify-content: center;
}

