html {
  height: auto;
}
body {
  height: auto;
  background-color: white;
}

.flex {
  display: flex;
}


.fixed-list {
  width: 300px;
  position: fixed;
  padding-top: 60px;
}

.fixed-conversations {
  position: fixed;
  width: 70%;
  left: 300px;
}

.window {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 50px; /* fixed navbar */
  margin: 10px;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.conversation {
  padding-bottom: 40px;
}

.composer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.composer button {
  max-width: 100px;
}
