$shortcutMenuWidth: 100px;

.message {
  &.withReactions {
    margin-bottom: 10px;
  }
}

.messageFooter {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.shortcutMenu {
  display: flex;
  align-items: center;
  flex: 0 0 $shortcutMenuWidth;
  visibility: hidden;
  width: $shortcutMenuWidth;

  &.visible {
    visibility: visible;
  }
}
