$reaction-transition-duration: 100ms;

.message {
  &.withReactions {
    margin-bottom: 10px;
  }
  transition: margin-bottom ease-out $reaction-transition-duration;
}

.messageFooter {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  &.onlyMedia {
    bottom: 0;
    left: 0;
    margin-left: 10px;
    position: absolute;
    right: 0;
  }

  transition: margin-bottom ease-out $reaction-transition-duration;
  &.withReactionsNoText {
    margin-bottom: 10px;
  }
}

.startWebxdcButton {
  font-size: 14px;
  margin: 10px 0;
  padding-bottom: 6px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 7px;
}

.vcard {
  display: flex;
  .avatar {
    margin-bottom: 0;
  }
  .contactInfo {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding-left: 10px;
  }
  .displayName {
    margin-bottom: 0;
    margin-top: 10px;
    font-weight: 200;
    font-size: medium;
  }
}
