.imageCropperDialogContent {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 550px;
}

.imageCropperWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 8px;
  height: 450px;
}

.imageCropperContainer {
  width: 450px;
  height: 450px;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  background: black;
  transform-origin: center center;
}

.imageCropperShade {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0.5;
  background: black;
  z-index: 1;
}

.imageCropperCutImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  max-width: none;
  max-height: none;
}

.imageCropperFullImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background: black;
  max-width: none;
  max-height: none;
}

.imageCropperHint {
  bottom: 0;
  color: white;
  left: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  text-align: center;
  user-select: none;
}

.imageCropperControls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 8px;
}

.imageCropperControlsButton {
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.7);
  }
}
