.button {
  align-items: center;
  background-color: transparent;
  border-color: transparent;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  color: var(--colorPrimary);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  margin: 10px 0;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    background-color: var(--chatListItemBgHover);
  }

  &:disabled {
    background-color: rgba(206, 217, 224, 0.5);
    border-color: rgba(206, 217, 224, 0.5);
    color: var(--globalText);
    cursor: not-allowed;

    &:hover {
      background-color: rgba(206, 217, 224, 0.5);
    }
  }

  &.primary {
    background-color: var(--bp4-input-focused);
    color: white;
  }

  &.secondary {
    background-color: var(--bp4ButtonBg);
    border-color: var(--bp4ButtonText);
    color: var(--bp4ButtonText);
  }

  &.danger {
    color: var(--colorDanger);
  }
}
