.deltaButton {
  color: var(--colorNone);
  background-color: transparent;
  background-image: unset;
  padding: 0 2px;
  margin-bottom: 0px;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: initial;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
  border-style: solid;
  border-color: transparent;
  border-radius: 2px;

  &:hover {
    background-color: var(--bp4-input-focused);
    box-shadow: none;
    background-clip: unset;
    cursor: pointer;
  }

  &.no-padding {
    padding: 0px;
  }

  &.light-bold {
    letter-spacing: 1px;
    font-weight: 100;
  }

  &.primary {
    color: var(--colorPrimary);
  }

  &.danger {
    color: var(--colorDanger);
  }

  &.secondary {
    background-color: var(--bp4ButtonBg);
    border: 1px;
    border-color: var(--bp4ButtonText);
    border-style: solid;
    color: var(--bp4ButtonText);
  }

  &:disabled {
    color: grey;
    cursor: default;
    &:hover {
      cursor: default;
      background-color: none;
    }
  }

  &.round {
    margin: 10px 0px !important;
    background-color: var(--bp4-input-focused) !important;
    box-shadow: none;
    border-radius: 8px;
    border-color: var(--bp4-input-focused) !important;
    border-style: solid !important;
    padding: 10px 15px;
    color: white;

    &:disabled {
      background-color: rgba(206, 217, 224, 0.5) !important;
      border-color: rgba(206, 217, 224, 0.5) !important;
      background-image: none;
      cursor: not-allowed;
      color: var(--globalText);
      &:hover {
        background-color: rgba(206, 217, 224, 0.5) !important;
      }
    }
  }
}
