.aboutContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 16px;
}

.appName {
  margin-bottom: 0;
}

.description {
  text-align: center;
}

.license {
  text-align: center;
}
