.aboutContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  img {
    width: 40%;
  }
}

.appName {
  margin-bottom: 15px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  margin-bottom: 42px;
  justify-content: space-evenly;
  margin-top: 43px;
}
