.aboutContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 16px;
}

.logo {
  width: 120px;
  height: auto;
  margin-bottom: 8px;
}

.edition {
  color: var(--bp4Menu-textMuted);
  font-weight: 600;
}

.version {
  color: var(--bp4Menu-textMuted);
}

.description {
  text-align: center;
}

.license {
  text-align: center;
  color: var(--bp4Menu-textMuted);
}
