.menuButton {
  --avatarSize: 48px;
  --iconSize: 20px;
  --size: 40px;

  border-radius: 10px;
  cursor: pointer;
  height: var(--size);
  margin-left: calc((var(--avatarSize) - var(--size)) / 2);
  margin-right: calc((var(--avatarSize) - var(--size)) / 2);
  padding: calc((var(--size) - var(--iconSize)) / 2);
  width: var(--size);

  &:hover {
    background-color: rgba(115, 134, 148, 0.3);
  }
}
