.bp3-dialog {
  background: #ececec;
  border-radius: 2px;
}

.bp3-dialog-body {
  margin: 0px;
}

.bp3-dialog-body-with-padding {
  padding: 20px;
}

.bp3-card {
  border-radius: 0px;
  &:last-child {
    margin-bottom: -20px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}

.bp3-elevation-1 {
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0), 0 1px 1px rgba(16, 22, 26, 0.2);
  &:first-child {
    box-shadow: 0 0 0 0px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0), 0 1px 1px rgba(16, 22, 26, 0.2);
  }
}

.bp3-callout {
  width: calc(100% + 40px);
  left: -20px;
  padding: 10px 20px 9px;
}
