// Third-party module: react-contextmenu

.react-contextmenu {
  background-color: var(--contextMenuBg);
  border-radius: 4px;
  min-width: 160px;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid var(--contextMenuBorder);
  opacity: 0;
}

.react-contextmenu--visible {
  z-index: 1000;
  opacity: 1;
}

.react-contextmenu-item {
  color: var(--contextMenuText);

  cursor: pointer;
  font-size: 13px;
  line-height: 18px;
  white-space: nowrap;

  padding-left: 16px;
  padding-top: 3px;
  padding-bottom: 2px;
  padding-right: 16px;
  user-select: none;
}

.react-contextmenu-item--checked:before {
  content: '✓';
  display: inline-block;
  position: absolute;
  right: 7px;
  color: var(--contextMenuSelected);
}

.react-contextmenu-item.react-contextmenu-submenu {
  padding: 0;
  color: var(--contextMenuText);
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
  padding-right: 36px;
}

.react-contextmenu-item.react-contextmenu-submenu
  > .react-contextmenu-item:after {
  content: '\25B6';
  display: inline-block;
  position: absolute;
  right: 7px;
  color: var(--contextMenuText);
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
  color: var(--contextMenuSelected);
  background-color: var(--contextMenuSelectedBg);
}

.react-contextmenu-item.react-contextmenu-item--active.react-contextmenu-item--checked:before,
.react-contextmenu-item.react-contextmenu-item--selected.react-contextmenu-item--checked:before {
  color: var(--contextMenuSelected);
}

.react-contextmenu-item.react-contextmenu-submenu
  > .react-contextmenu-item.react-contextmenu-item--active:after,
.react-contextmenu-item.react-contextmenu-submenu
  > .react-contextmenu-item.react-contextmenu-item--selected:after {
  color: var(--contextMenuSelected);
}
