// Module: Contact List Item

.module-contact-list-item {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;

  color: var(--color-light-60);
}

.module-contact-list-item--with-click-handler {
  cursor: pointer;
}

.module-contact-list-item__avatar {
  display: inline-block;

  img {
    height: 44px;
    width: 44px;
    border-radius: 22px;
  }
}

.module-contact-list-item__avatar-default {
  height: 44px;
  width: 44px;
  border-radius: 22px;

  display: flex;
  flex-direction: row;
  align-items: center;

  text-align: center;

  border: 6px solid lighten(#505050, 23);
  background-color: lighten(#505050, 32);
}

.module-contact-list-item__avatar-default__label {
  width: 100%;
  color: var(--color-white);
  font-size: 18px;
}

.module-contact-list-item__text {
  margin-left: 8px;
}

.module-contact-list-item__text__name {
  font-weight: 300;
  font-size: 14px;
}

.module-contact-list-item__text__profile-name {
  font-style: italic;
}

.module-contact-list-item__text__additional-data {
  margin-top: 3px;
  font-size: 14px;
}

.module-contact-list-item__text__verified-icon {
  width: 0.75em;
  height: 0.75em;
  // Trying to account for the whitespace around the check mark
  margin-bottom: -1px;
}

.module-conversation-list-item__is-verified {
  width: 0.75em;
  height: 0.75em;
  margin-right: 2px;
}
