// Module: Contact List Item

.module-contact-list-item {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;

  color: $color-light-60;
}

.module-contact-list-item--with-click-handler {
  cursor: pointer;
}

.module-contact-list-item__avatar {
  display: inline-block;

  img {
    height: 44px;
    width: 44px;
    border-radius: 22px;
  }
}

.module-contact-list-item__avatar-default {
  height: 44px;
  width: 44px;
  border-radius: 22px;

  display: flex;
  flex-direction: row;
  align-items: center;

  text-align: center;

  border: 6px solid lighten($color-conversation-grey, 23);
  background-color: lighten($color-conversation-grey, 32);
}

.module-contact-list-item__avatar-default--grey {
  background-color: lighten($color-conversation-grey, 32);
}
.module-contact-list-item__avatar-default--blue {
  background-color: $color-conversation-blue;
  border:none;
}
.module-contact-list-item__avatar-default--cyan {
  background-color: $color-conversation-cyan;
  border:none;
}
.module-contact-list-item__avatar-default--deep_orange {
  background-color: $color-conversation-deep_orange;
  border:none;
}
.module-contact-list-item__avatar-default--green {
  background-color: $color-conversation-green;
  border:none;
}
.module-contact-list-item__avatar-default--indigo {
  background-color: $color-conversation-indigo;
  border:none;
}
.module-contact-list-item__avatar-default--pink {
  background-color: $color-conversation-pink;
  border:none;
}
.module-contact-list-item__avatar-default--purple {
  background-color: $color-conversation-purple;
  border:none;
}
.module-contact-list-item__avatar-default--red {
  background-color: $color-conversation-red;
  border:none;
}
.module-contact-list-item__avatar-default--teal {
  background-color: $color-conversation-teal;
  border:none;
}

.module-contact-list-item__avatar-default__label {
  width: 100%;
  color: var(--color-white);
  font-size: 18px;
}

.module-contact-list-item__text {
  margin-left: 8px;
}

.module-contact-list-item__text__name {
  font-weight: 300;
  font-size: 14px;
}

.module-contact-list-item__text__profile-name {
  font-style: italic;
}

.module-contact-list-item__text__additional-data {
  margin-top: 3px;
  font-size: 14px;
}

.module-contact-list-item__text__verified-icon {
  width: 0.75em;
  height: 0.75em;
  // Trying to account for the whitespace around the check mark
  margin-bottom: -1px;
}

.module-conversation-list-item__is-verified {
  width: 0.75em;
  height: 0.75em;
  margin-right: 2px;
}
