// Module: Contact Name

.module-contact-name__profile-name {
  font-style: italic;
}

// Module: Contact Detail

.module-contact-detail {
  text-align: center;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.module-contact-detail__image-container {
  height: 80px;
  width: 80px;
  margin-bottom: 4px;

  text-align: center;
  display: inline-block;
  object-fit: cover;

  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.module-contact-detail__image-container__default-avatar {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: $color-conversation-grey;
  color: var(--color-white);
  font-size: 50px;
  line-height: 82px;
}

.module-contact-detail__contact-name {
  font-size: 20px;
  font-weight: bold;
}

.module-contact-detail__contact-method {
  font-size: 14px;
  margin-top: 10px;
}

.module-contact-detail__send-message {
  cursor: pointer;

  border-radius: 4px;
  background-color: $blue;
  display: inline-block;
  padding: 6px;
  margin-top: 20px;

  color: var(--color-white);

  flex-direction: column;
  align-items: center;

  button {
    @include button-reset;
  }
}

.module-contact-detail__send-message__inner {
  display: flex;
  align-items: center;
}

.module-contact-detail__send-message__bubble-icon {
  height: 17px;
  width: 18px;
  display: inline-block;
  margin-right: 5px;
  @include color-svg('../images/chat-bubble.svg', white);
}

.module-contact-detail__additional-contact {
  text-align: left;
  border-top: 1px solid $color-light-10;
  margin-top: 15px;
  padding-top: 8px;
}

.module-contact-detail__additional-contact__type {
  color: $color-light-45;
  font-size: 12px;
  margin-bottom: 3px;
}
