// Module: Contact Name

.module-contact-name__profile-name {
  font-style: italic;
}

// Module: Embedded Contact

.module-embedded-contact {
  // Cursor is always a pointer because this component is always wired up to the contact detail screen
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.module-embedded-contact--with-content-above {
  padding-top: 4px;
}

.module-embedded-contact--with-content-below {
  padding-bottom: 4px;
}

.module-embedded-contact__image-container {
  flex: initial;
  min-width: 50px;
  width: 50px;
  height: 50px;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  object-fit: cover;

  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.module-embedded-contact__image-container__default-avatar {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: $color-conversation-grey;
  color: $color-white;
  font-size: 25px;
  line-height: 52px;
}

.module-embedded-contact__text-container {
  flex-grow: 1;
  margin-left: 8px;

  max-width: calc(100% - 58px);
}

.module-embedded-contact__contact-name {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  margin-top: 6px;
  color: $color-light-90;

  max-width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.module-embedded-contact__contact-name--incoming {
  color: $color-white;
}

.module-embedded-contact__contact-method {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.3px;
  margin-top: 3px;
  color: $color-light-60;

  max-width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.module-embedded-contact__contact-method--incoming {
  color: $color-white-07;
}

// Module: Contact Detail

.module-contact-detail {
  text-align: center;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.module-contact-detail__image-container {
  height: 80px;
  width: 80px;
  margin-bottom: 4px;

  text-align: center;
  display: inline-block;
  object-fit: cover;

  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.module-contact-detail__image-container__default-avatar {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: $color-conversation-grey;
  color: $color-white;
  font-size: 50px;
  line-height: 82px;
}

.module-contact-detail__contact-name {
  font-size: 20px;
  font-weight: bold;
}

.module-contact-detail__contact-method {
  font-size: 14px;
  margin-top: 10px;
}

.module-contact-detail__send-message {
  cursor: pointer;

  border-radius: 4px;
  background-color: $blue;
  display: inline-block;
  padding: 6px;
  margin-top: 20px;

  color: $color-white;

  flex-direction: column;
  align-items: center;

  button {
    @include button-reset;
  }
}

.module-contact-detail__send-message__inner {
  display: flex;
  align-items: center;
}

.module-contact-detail__send-message__bubble-icon {
  height: 17px;
  width: 18px;
  display: inline-block;
  margin-right: 5px;
  @include color-svg('../images/chat-bubble.svg', white);
}

.module-contact-detail__additional-contact {
  text-align: left;
  border-top: 1px solid $color-light-10;
  margin-top: 15px;
  padding-top: 8px;
}

.module-contact-detail__additional-contact__type {
  color: $color-light-45;
  font-size: 12px;
  margin-bottom: 3px;
}
