.emoji-mart-category-list > li {
    min-width: initial;
}

.emoji-mart {
    color: var(--emojiMartText);
    border: 1px solid var(--emojiMartBorder);
    background: var(--emojiMartBg);
}

.emoji-mart-anchors svg, .emoji-mart-anchors img {
    fill: var(--emojiMartCategoryIcons);
}

.emoji-mart-bar {
    border: 0 solid var(--emojiMartBorder);
}

.emoji-mart-category-label span {
    /* disable? -> no its important when scrolling */
    background-color: var(--emojiMartBg);
}

// searchbar
.emoji-mart-search input {
    color: var(--emojiMartInputText);
    border: 1px solid var(--emojiMartBorder);
    background-color: var(--emojiMartInputBg);
}

.emoji-mart-search input::placeholder {
    color: var(--emojiMartInputPlaceholder);
}

.emoji-mart-search-icon {
    fill: var(--emojiMartInputPlaceholder);
}


// select background circle
.emoji-mart-category .emoji-mart-emoji:hover:before {
    background-color: var(--emojiMartSelect);
}