// Module: Expire Timer

.module-expire-timer {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-left: 6px;
  margin-bottom: 2px;
  @include color-svg('../images/timer-60.svg', $color-light-45);
}

.module-expire-timer--55 {
  @include color-svg('../images/timer-55.svg', $color-light-45);
}
.module-expire-timer--50 {
  @include color-svg('../images/timer-50.svg', $color-light-45);
}
.module-expire-timer--45 {
  @include color-svg('../images/timer-45.svg', $color-light-45);
}
.module-expire-timer--40 {
  @include color-svg('../images/timer-40.svg', $color-light-45);
}
.module-expire-timer--35 {
  @include color-svg('../images/timer-35.svg', $color-light-45);
}
.module-expire-timer--30 {
  @include color-svg('../images/timer-30.svg', $color-light-45);
}
.module-expire-timer--25 {
  @include color-svg('../images/timer-25.svg', $color-light-45);
}
.module-expire-timer--20 {
  @include color-svg('../images/timer-20.svg', $color-light-45);
}
.module-expire-timer--15 {
  @include color-svg('../images/timer-15.svg', $color-light-45);
}
.module-expire-timer--10 {
  @include color-svg('../images/timer-10.svg', $color-light-45);
}
.module-expire-timer--05 {
  @include color-svg('../images/timer-05.svg', $color-light-45);
}
.module-expire-timer--00 {
  @include color-svg('../images/timer-00.svg', $color-light-45);
}

.module-expire-timer--incoming {
  background-color: $color-white-07;
}

// When status indicators are overlaid on top of an image, they use different colors
.module-expire-timer--with-image-no-caption {
  background-color: $color-white;
}
