@import '../node_modules/mapbox-gl/dist/mapbox-gl.css';

#map {
	width: 90vw;
	height: 90vh;
}

.bp3-dialog.map-dialog {
	width: 90vw;
	height: 90vh;
	position: relative;
}

.mapboxgl-popup-content {

}

.mapboxgl-marker {
	cursor: pointer;
}

.map-overlay {
	font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	position: absolute;
	width: 150px;
	top: 90px;
	left: 0;
	padding: 10px;
	background-color: #fff;
	z-index: 500;
}

.bp3-slider-handle:focus {
	outline: none;
}
