@import '../node_modules/mapbox-gl/dist/mapbox-gl.css';

#map {
	width: 90vw;
	height: 90vh;
}

.bp3-dialog.map-dialog {
	width: 90vw;
	height: 90vh;
	position: relative;
}

.mapboxgl-popup-content {

}

div.context-menu {
	width: 200px;
	label {
		display: block;
		font-size: 13px;
		padding: 2px;
	}
	input {
		height: 24px;
		font-size: 16px;
		padding: 3px;
		width: 160px;
		border-width: 0 0 1px 0;
		border-color: #666;
		border-style: solid;
	}
	div.send-button-wrapper {
		width: 32px;
		height: 32px;
		float: right;
		margin-top: 14px;
		margin-bottom: 4px;
		margin-right: 5px;
		background-color: #415e6b;
		border-radius: 180px;
		cursor: pointer;
		button {
			height: 24px;
			width: 24px;
			margin: 4px;
			padding-left: 16px;
			border: none;
			background-image: url(../images/send-button.png);
			background-color: transparent;
			background-repeat: no-repeat;
			background-position: 3px 1px;
			background-size: contain;
			vertical-align: middle;
		}
	}
}


.mapboxgl-marker {
	cursor: pointer;
}

.map-overlay {
	font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	position: absolute;
	width: 160px;
	top: 50px;
	left: 10px;
	padding: 10px;
	background-color: var(--bg-color);
	z-index: 500;
	border-radius: 5px;
}

#controls {
	h3 {
		margin-bottom: 0;
		clear: both;
	}

	button.collapse-control {
		padding-left: 0;
	}
	button.toggle-path {
		padding-left: 0;
	}

	.bp3-slider {
		margin-top: 10px;
	}

	.bp3-slider-handle:focus {
		outline: none;
	}

	.bp3-slider-label {
	    width: 80px;
	}

	#menu {
		margin-top: 5pt;
		clear: both;
		div {
			width: 50%;
			float: left;

			input {
				margin-right: 4px;
			}
		}
	}

	.bp3-button.bp3-minimal:hover {
		background: none;
	}

	.contactFilter {
		padding-top: 10px;
		label {
			padding-left: 5px;
		}
	}
}

