@import '../node_modules/mapbox-gl/dist/mapbox-gl.css';

#map {
	width: 90vw;
	height: 90vh;
}

.bp3-dialog.map-dialog {
	width: 90vw;
	height: 90vh;
	position: relative;
}

.mapboxgl-popup-content {

}

.mapboxgl-marker {
	cursor: pointer;
}

.map-overlay {
	font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	position: absolute;
	width: 150px;
	top: 50px;
	left: 10px;
	padding: 10px;
	background-color: #fff;
	z-index: 500;
	border-radius: 5px;
}

#controls {
	padding-bottom: 15px;

	label.divider {
		display: block;
		margin: 10px 0;
		clear: both;
	}

	.bp3-slider-handle:focus {
		outline: none;
	}

	.bp3-slider-label {
	    width: 80px;
	}

	#menu {
		clear: both;
		div {
			width: 50%;
			float: left;

			input {
				margin-right: 4px;
			}
		}
	}
}

