// Module: Message Detail

.module-message-detail {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.module-message-detail__message-container {
  padding-top: 20px;
  padding-bottom: 20px;

  &:after {
    content: '.';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

.module-message-detail__label {
  font-weight: 300;
  padding-right: 5px;
}

.module-message-detail__unix-timestamp {
  color: #eeefef;
}

.module-message-detail__delete-button-container {
  text-align: center;
  margin-top: 10px;
}

.module-message-detail__delete-button {
  @include button-reset;

  background-color: $color-message-detail-delete-bg;
  color: $color-message-detail-delete;
  box-shadow: 0 0 10px -3px rgba(97, 97, 97, 0.7);
  border-radius: 5px;
  border: solid 1px $color-message-detail-delete-button-border;
  cursor: pointer;
  margin: 1em auto;
  padding: 1em;
}
