.module-message {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: stretch;
}

.module-message--expired {
  animation: module-message__shake 0.2s linear infinite;
}

@keyframes module-message__shake {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}

// Spec: container < 438px
.module-message--incoming {
  margin-left: 0;
  margin-right: 32px;
}
.module-message--outgoing {
  float: right;
  margin-right: 0;
  margin-left: 32px;
}

.module-message__buttons {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  opacity: 0;
  z-index: 10;
}

.module-message:hover .module-message__buttons {
  opacity: 1;
}

.module-message__buttons--incoming {
  right: 0;
  top: 5px;
}

.module-message__buttons--outgoing {
  right: 0;
  top: 5px;
}


.module-message__buttons__download {
  height: 24px;
  width: 24px;
  display: inline-block;
  cursor: pointer;
  @include color-svg('../images/download.svg', $color-light-45);
  &:hover {
    @include color-svg('../images/download.svg', $color-light-90);
  }
  &.icon-medium {
    height: 36px;
    width: 36px;
  }
}

.attachment-overlay .module-message__buttons__download:hover {
  @include color-svg('../images/download.svg', $color-light-10);
}



.module-message__buttons__reply {
  height: 24px;
  width: 24px;
  display: inline-block;
  cursor: pointer;
  @include color-svg('../images/reply.svg', $color-light-45);
  &:hover {
    @include color-svg('../images/reply.svg', $color-light-90);
  }
}

.module-message__buttons__reply--incoming {
  margin-left: 12px;
}
.module-message__buttons__reply--outgoing {
  margin-right: 12px;
}

.module-message__buttons__menu {
  height: 24px;
  width: 24px;
  display: inline-block;
  cursor: pointer;
  @include color-svg-rotated('../images/ellipsis.svg', $color-light-45);
  &:hover {
    @include color-svg-rotated('../images/ellipsis.svg', $color-light-90);
  }
}

.module-message__buttons__menu--incoming {
  margin-left: 0;
}

.module_message__buttons__menu--outgoing {
  margin-right: 0;
}

.module-message__error-container {
  width: 28px;
  position: relative;
}

.module-message__error {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  bottom: 4px;
  @include color-svg('../images/error.svg', var(--color-core-red));
}

.module-message__error--outgoing {
  left: 8px;
}

.module-message__error--incoming {
  right: 8px;
}

.module-message__container {
  position: relative;
  display: inline-block;
  border-radius: 16px;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.module-message__container--outgoing {
  background-color: $color-light-10;
}

// In case the color gets messed up
.module-message__container--incoming {
  background-color: $color-conversation-grey;
}

.module-message__container--incoming-grey {
  background-color: $color-conversation-grey;
}
.module-message__container--incoming-blue {
  background-color: $color-conversation-blue;
}
.module-message__container--incoming-cyan {
  background-color: $color-conversation-cyan;
}
.module-message__container--incoming-deep_orange {
  background-color: $color-conversation-deep_orange;
}
.module-message__container--incoming-green {
  background-color: $color-conversation-green;
}
.module-message__container--incoming-indigo {
  background-color: $color-conversation-indigo;
}
.module-message__container--incoming-pink {
  background-color: $color-conversation-pink;
}
.module-message__container--incoming-purple {
  background-color: $color-conversation-purple;
}
.module-message__container--incoming-red {
  background-color: $color-conversation-red;
}
.module-message__container--incoming-teal {
  background-color: $color-conversation-teal;
}

.module-message__attachment-container {
  // Entirely to ensure that images are centered if they aren't full width of bubble
  text-align: center;
  position: relative;
  cursor: pointer;

  margin-left: -12px;
  margin-right: -12px;
  margin-top: -10px;
  margin-bottom: -10px;

  border-radius: 16px;
  overflow: hidden;

  background-color: var(--color-white);
}

.module-message__attachment-container--with-content-below {
  margin-bottom: 7px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.module-message__attachment-container--with-content-above {
  margin-top: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.module-message__img-border-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  left: 0;
  right: 0;
  border-radius: 16px;
  box-shadow: inset 0px 0px 0px 1px $color-black-02;
}

.module-message__img-border-overlay--with-content-below {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.module-message__img-border-overlay--with-content-above {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.module-message__img-attachment {
  object-fit: cover;
  width: 100%;
  min-width: 200px;
  min-height: 150px;
  max-height: 300px;

  // The padding on the bottom of the bubble produces three extra pixels of space at the
  //   bottom, so this doesn't match up with the padding numbers above.
  margin-bottom: -3px;

  // redundant with attachment-container, but we get cursor flashing on move otherwise
  cursor: pointer;
}

.module-message__img-overlay {
  height: 48px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 9%,
    rgba(0, 0, 0, 0.02) 17%,
    rgba(0, 0, 0, 0.05) 24%,
    rgba(0, 0, 0, 0.08) 31%,
    rgba(0, 0, 0, 0.12) 37%,
    rgba(0, 0, 0, 0.16) 44%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0.24) 56%,
    rgba(0, 0, 0, 0.28) 63%,
    rgba(0, 0, 0, 0.32) 69%,
    rgba(0, 0, 0, 0.35) 76%,
    rgba(0, 0, 0, 0.38) 83%,
    rgba(0, 0, 0, 0.4) 91%,
    rgba(0, 0, 0, 0.4)
  );
  position: absolute;
  bottom: 0;
  z-index: 2;
  left: 0;
  right: 0;
  margin-left: -12px;
  margin-right: -12px;
  margin-bottom: -10px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.module-message__broken-image {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.3px;

  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  color: $color-light-90;
}

.module-message__broken-image--incoming {
  color: var(--color-white);
}

.module-message__video-overlay__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 48px;
  height: 48px;
  background-color: var(--color-white);
  border-radius: 24px;
}

.module-message__video-overlay__play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 36px;
  width: 36px;
  @include color-svg('../images/play.svg', var(--color-signal-blue));
}

.module-message__broken-video-screenshot {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.3px;

  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  color: $color-light-90;

  cursor: pointer;
}

.module-message__broken-video-screenshot--incoming {
  color: var(--color-white);
}

.module-message__audio-attachment {
  margin-top: 2px;
  display: block;
  margin-right: 30px;
}

.module-message__audio-attachment--with-content-below {
  margin-bottom: 5px;
}

.module-message__audio-attachment--with-content-above {
  margin-top: 6px;
}

.module-message__generic-attachment {
  display: flex;
  flex-direction: row;
}

.module-message__generic-attachment--with-content-below {
  padding-bottom: 6px;
}

.module-message__generic-attachment--with-content-above {
  padding-top: 4px;
}

.module-message__generic-attachment__icon {
  background: url('../images/file-gradient.svg') no-repeat center;
  height: 44px;
  width: 56px;
  margin-left: -13px;
  margin-right: -14px;
  margin-bottom: -4px;

  // So we can center the extension text inside this icon
  display: flex;
  flex-direction: row;
  align-items: center;
}

.module-message__generic-attachment__icon__extension {
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.1px;
  text-transform: uppercase;

  // Along with flow layout in parent item, centers text
  text-align: center;
  width: 25px;
  margin-left: auto;
  margin-right: auto;

  // We don't have much room for text here, cut it off without ellipse
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: clip;

  color: $color-light-90;
}

.module-message__generic-attachment__text {
  flex-grow: 1;
  margin-left: 8px;
  // The width of the icon plus our 8px margin
  max-width: calc(100% - 37px);
}

.module-message__generic-attachment__file-name {
  color: $color-light-90;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  margin-top: 2px;

  // Handling really long filenames - cut them off
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.module-message__generic-attachment__file-name--incoming {
  color: var(--color-white);
}

.module-message__generic-attachment__file-size {
  color: $color-light-90;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.3px;
  margin-top: 3px;
}

.module-message__generic-attachment__file-size--incoming {
  color: var(--color-white);
}

.module-message__author {
  color: var(--color-white);
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
  height: 18px;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.module-message__author__profile-name {
  font-style: italic;
}

.module-message__text {
  color: $color-light-90;
  font-size: 14px;
  line-height: 18px;
  text-align: start;

  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;

  a {
    text-decoration: underline;
    color: $color-light-90;
  }
}

.module-message__text--incoming {
  color: var(--color-white);
  a {
    text-decoration: underline;
    color: var(--color-white);
  }
}

.module-message__text {
  margin-right: 10px;
}

.module-message__text--error {
  font-style: italic;
}

.module-message__metadata {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3px;
  margin-bottom: -3px;
}

// With an image and no caption, this section needs to be on top of the image overlay
.module-message__metadata--with-image-no-caption {
  position: absolute;
  bottom: 9px;
  z-index: 2;

  width: 100%;
  // Because this is absolutely positioned, we 100% is too big, take it down by parent
  //   padding sizes.
  padding-right: 24px;
}

.module-message__metadata--username {
  margin-right: 10px;
}

.module-message__metadata__date {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.3px;
  color: $color-light-60;
  text-transform: uppercase;
}
.module-message__metadata__date--incoming {
  color: var(--color-white-07);
}
.module-message__metadata__date--with-image-no-caption {
  color: var(--color-white);
}

.module-message__metadata__spacer {
  flex-grow: 1;
}

.module-message__metadata__padlock-icon {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 3px;
}

.module-message__metadata__padlock-icon--incoming {
  @include color-svg('../images/padlock.svg', $color-light-35, 125%);
}

.module-message__metadata__padlock-icon--outgoing {
  @include color-svg('../images/padlock.svg', var(--color-outgoing-message-padlock), 125%);
}

.module-message__metadata__status-icon {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-left: 6px;
  margin-bottom: 2px;
}

.module-message__metadata__status-icon--sending {
  @include color-svg('../images/sending.svg', $color-light-60);
  animation: module-message__metdata__status-icon--spinning 4s linear infinite;
}

@keyframes module-message__metdata__status-icon--spinning {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.module-message__metadata__status-icon--sent {
  @include color-svg('../images/check-circle-outline.svg', $color-light-35);
}
.module-message__metadata__status-icon--delivered {
  @include color-svg('../images/sent.svg', $color-light-35);
  width: 18px;
}
.module-message__metadata__status-icon--read {
  @include color-svg('../images/read.svg', $color-light-35);
  width: 18px;
}

// When status indicators are overlaid on top of an image, they use different colors
.module-message__metadata__status-icon--with-image-no-caption {
  background-color: var(--color-white);
}

.module-message__send-message-button {
  cursor: pointer;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  background-color: $color-light-02;
  border: 1px solid $color-black-012;

  margin-top: 8px;
  margin-bottom: -10px;
  margin-left: -12px;
  margin-right: -12px;

  text-align: center;
  padding: 10px;

  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.module-message__author-avatar {
  position: absolute;
  // This accounts for the weird extra 3px we get at the bottom of messages
  bottom: -3px;
  right: calc(100% + 4px);

  img {
    height: 36px;
    width: 36px;
    border-radius: 18px;
    object-fit: cover;
  }
}

.module-message__author-default-avatar {
  position: absolute;
  bottom: 0px;
  right: calc(100% + 4px);

  height: 36px;
  width: 36px;
  border-radius: 18px;

  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;

  user-select: none;
}

.module-message__author-default-avatar--grey {
  background-color: $color-conversation-grey;
}
.module-message__author-default-avatar--blue {
  background-color: $color-conversation-blue;
}
.module-message__author-default-avatar--cyan {
  background-color: $color-conversation-cyan;
}
.module-message__author-default-avatar--deep_orange {
  background-color: $color-conversation-deep_orange;
}
.module-message__author-default-avatar--green {
  background-color: $color-conversation-green;
}
.module-message__author-default-avatar--indigo {
  background-color: $color-conversation-indigo;
}
.module-message__author-default-avatar--pink {
  background-color: $color-conversation-pink;
}
.module-message__author-default-avatar--purple {
  background-color: $color-conversation-purple;
}
.module-message__author-default-avatar--red {
  background-color: $color-conversation-red;
}
.module-message__author-default-avatar--teal {
  background-color: $color-conversation-teal;
}

.module-message__author-default-avatar__label {
  width: 100%;
  font-size: 18px;
  color: var(--color-white);
}

// All media query widths have 300px added to account for the left pane
// And have been tweaked for smoother transitions

// To hide in small breakpoints
.module-message__buttons__download {
  display: none;
}
.module-message__buttons__reply {
  display: none;
}

/* Spec: container > 438px and container < 593px*/
@media (min-width: 800px) and (max-width: 925px) {
  .module-message {
    max-width: 374px;
  }

  // Spec: container < 438px
  .module-message--incoming {
    margin-left: 0;
    margin-right: auto;
  }
  .module-message--outgoing {
    margin-right: 0;
    margin-left: auto;
  }

  // To hide in small breakpoints
  .module-message__buttons__download {
    display: inline-block;
  }
  .module-message__buttons__reply {
    display: inline-block;
  }

  // To hide in larger breakpoints
  .module-message__context__download {
    display: none;
  }
  .module-message__context__reply {
    display: none;
  }
}

// Spec: container > 593px
@media (min-width: 926px) {
  .module-message {
    max-width: 66%;
  }

  .module-message--incoming {
    margin-left: 0;
    margin-right: auto;
  }
  .module-message--outgoing {
    margin-right: 0;
    margin-left: auto;
  }

  // To hide in small breakpoints
  .module-message__buttons__download {
    display: inline-block;
  }
  .module-message__buttons__reply {
    display: inline-block;
  }

  // To hide in larger breakpoints
  .module-message__context__download {
    display: none;
  }
  .module-message__context__reply {
    display: none;
  }
}
