
// ChatView Background selector

.background-preview {
    width: 142px;
    height: 142px;
    border-radius: 5pt;
    background-image: url(../images/background_light.svg);
    background-color: var(--chatViewBg);
}

.background-options {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    justify-content: space-evenly;
}

.background-default-images {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
}

.background-default-images > div {
    margin: 2px;
    width: 32px;
    height: 32px;
    border-radius: 3pt;
    background-color: darkcyan;
}