@import 'contact-list';
@import 'context-menu';
@import 'conversation-list';
@import 'map';
@import 'message';
@import 'message-detail';
@import 'bp3-overwrites';
@import 'emoji-mart-overwrites';


// Module: Contact Name

.module-contact-name__profile-name {
    font-style: italic;
}

// Using BEM syntax explained here: https://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/

.user-feedback {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    color: black;
    font-weight: bold;
    padding: 10px;
    z-index: 30;
    box-shadow: 0 2px 2px rgba(0,0,0, .5);
}
.user-feedback.error {
    background-color: red;
}
.user-feedback.success {
    background-color: #4caf50;
}
  

/* Message Status */
$color-msg-status-icon-sent: var(--messageStatusIcon);
$color-msg-status-icon-delivered: var(--messageStatusIcon);
$color-msg-status-icon-read: var(--messageStatusIcon);
$color-msg-status-icon-error: var(--errorColor);
$color-msg-status-icon-sending: var(--messageStatusIconSending);

.status-icon--sending {
    @include color-svg('../images/sending.svg', $color-msg-status-icon-sending);
    animation: __status-icon--spinning 4s
        linear infinite;
}

@keyframes __status-icon--spinning {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.status-icon--sent {
    @include color-svg('../images/check-circle-outline.svg', $color-msg-status-icon-sent);
}

.status-icon--delivered {
    @include color-svg('../images/sent.svg', $color-msg-status-icon-delivered);
    width: 18px;
}

.status-icon--read {
    @include color-svg('../images/read.svg', $color-msg-status-icon-read);
    width: 18px;
}

.status-icon--error {
    @include color-svg('../images/error.svg', $color-msg-status-icon-error);
}

// .status-icon--draft {
//   @include color-svg('../images/lead-pencil.svg', lightgrey);
// }

.status-icon {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-left: 6px;
}

.module-message__metadata > .status-icon {
    margin-bottom: 2px;
}