@import 'contact-list';
@import 'context-menu';
@import 'conversation-list';
@import 'map';
@import 'message';
@import 'message-detail';


// Module: Contact Name

.module-contact-name__profile-name {
    font-style: italic;
}

// Using BEM syntax explained here: https://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/

.user-feedback {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    color: black;
    font-weight: bold;
    padding: 10px;
    z-index: 30;
    box-shadow: 0 2px 2px rgba(0,0,0, .5);
}
.user-feedback.error {
    background-color: red;
}
.user-feedback.success {
    background-color: #4caf50;
}
  