.input-transfer-key {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 20px 0px 20px 0px;
  margin-right: -55px;
  & > .row {
    width: 100%;

    .bp3-input {
      width: 66%;
      float: left;
      border: 1px solid var(--globalText);
      box-shadow: none;
    }

    .bp3-input:focus {
      border-color: var(--bp3-input-focused);
    }

    .bp3-input:disabled {
      cursor: text;
      color: inherit;
      background: inherit;
      border: none;
    }

    & > .seperator {
      width: 25%;
      float: right;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;

      .bp3-icon > svg:not([fill]) {
        fill: var(--bp3InputPlaceholder);
      }
    }
  }
}
