.input-transfer-key {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 20px 0px 20px 0px;

  & > .row {
    width: 100%;

    .bp4-input {
      width: 66%;
      float: left;
      border: 1px solid var(--colorNone);
      box-shadow: none;
      text-align: center;
    }

    .bp4-input:focus {
      border-color: var(--bp4-input-focused);
    }

    .bp4-input:disabled {
      cursor: text;
      color: inherit;
      background: inherit;
      border: none;
    }

    & > .separator {
      width: 25%;
      float: right;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
    }
  }
}

.enter-autocrypt-setup-message-dialog {
  .dialog-body {
    padding: 0px 10px;
    background: var(--bgPrimary);
  }

  p.autocrypt-setup-error {
    background-color: rgba(255, 0, 0, 0.2);
    padding: 5px 6px;
    white-space: pre-wrap;
  }
}
