.delta-dialog-small-dialog {
  width: 350px !important;
  padding-bottom: 0px !important;
  background-color: var(--bp3DialogBgPrimary) !important;
  .bp3-dialog-footer {
    margin-top: 16px;
    padding: 0 0px 0px;
  }
}

.delta-dialog-content {
  flex: 1 1 auto; 
  padding: 0px;
  background-color: var(--bp3DialogHeaderBg);

  .delta-dialog-content-text-seperator {
    height: 40px;
    margin-top: 10px;
    padding-left: 20px;
    background-color: var(--chatListItemBgHover);
    color: #565656;
    line-height: 40px;
    font-size: 17px;
  }
}
