.delta-dialog {
  &.small-dialog {
    min-width: 350px !important;
    max-width: 70vw;
    padding-bottom: 0px !important;
    background-color: var(--bp4DialogBgPrimary) !important;
    .bp4-dialog-footer {
      padding: 0 0px 0px;
    }
  }

  .delta-dialog-content {
    flex: 1 1 auto;
    padding: 0px 20px;
    background-color: var(--bp4DialogHeaderBg);

    .delta-dialog-content-text-separator {
      line-height: 43px;
      height: 40px;
      padding-left: 15px;
      /* text-align: center; */
      font-weight: 200;
      color: var(--delta-dialog-separator-text);
      background: var(--delta-dialog-separator);
      user-select: none;
    }

    &.delta-dialog-content--no-padding {
      padding: 0px;
    }

    &.delta-dialog-content--no-overflow {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
  }

  p.delta-button {
    color: var(--colorNone);
    padding: 0 2px;
    margin-bottom: 0px;
    letter-spacing: 0px;
    font-size: initial;
    font-weight: 'initial';
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    border-style: solid;
    border-color: transparent;
    border-radius: 2px;
    &:hover {
      cursor: pointer;
      background-color: #f1f1f1;
    }

    &.no-padding {
      padding: 0px;
    }

    &.bold {
      letter-spacing: 2px;
      font-weight: bold;
    }

    &.light-bold {
      letter-spacing: 1px;
      font-weight: 100;
    }

    &.primary {
      color: var(--colorPrimary);
    }

    &.danger {
      color: var(--colorDanger);
    }

    &.disabled {
      color: grey;
      cursor: default;
      &:hover {
        cursor: default;
        background-color: none;
      }
    }
  }

  .drop-file-dialog-file-list > li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
  }
}
