.delta-dialog-small-dialog {
  width: 350px !important;
  padding-bottom: 0px !important;
  background-color: var(--bp3DialogBgPrimary) !important;
  .bp3-dialog-footer {
    margin-top: 16px;
    padding: 0 0px 0px;
  }
}

.delta-dialog-content {
  flex: 1 1 auto; 
  padding: 0px 20px;
  background-color: var(--bp3DialogHeaderBg);

  .delta-dialog-content-text-seperator {
    line-height: 43px;
    height: 40px;
    padding-left: 10px;
    /* text-align: center; */
    font-weight: 200;
    color: #56565682;
    background: var(--bp3DialogBgSecondary);
    box-shadow: inset 0px 2px 0 0px rgba(24, 33, 39, 0.14), 0px 1px 0 0px rgba(24, 33, 39, 0.18);
    margin-bottom: 1px;
  }

  .delta-dialog-content-seperator {
    height: 10px;
    background: var(--bp3DialogBgSecondary);
    box-shadow: inset 0px 2px 0 0px rgba(24, 33, 39, 0.14), 0px 1px 0 0px rgba(24, 33, 39, 0.18);
  }  

  .delta-dialog-button {
    color: var(--colorPrimary);
    font-size: 18px;
    padding-left: 68px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background-color: var(--chatListItemBgHover);
    }
  }

  &.delta-dialog-content--no-padding {
    padding: 0px;
  }

  &.delta-dialog-content--no-overflow {
    display: flex;
    flex-direction: column;

  }
}
