.delta-dialog-card__inner-without-padding {
  margin: -20px;
}

.delta-dialog-card--no-padding {
  padding: 0px;
}

.delta-dialog-card {
  background-color: var(--bp3DialogHeaderBg); 
  padding: 20px;
}

.bp3-small-dialog {
  width: 350px !important;
  padding-bottom: 0px !important;
  background-color: var(--bp3DialogBgPrimary) !important;
  .bp3-dialog-footer {
    margin-top: 16px;
    padding: 0 0px 0px;
  }
}
