.delta-dialog {
  &.small-dialog {
    min-width: 350px !important;
    max-width: 70vw;
    padding-bottom: 0px !important;
    background-color: var(--bp3DialogBgPrimary) !important;
    .bp3-dialog-footer {
      padding: 0 0px 0px;
    }
  }

  &.FixedDeltaDialog {
    top: 25px;
    width: 400px;
    height: calc(100% - 50px);
  }

  .delta-dialog-content {
    flex: 1 1 auto;
    padding: 0px 20px;
    background-color: var(--bp3DialogHeaderBg);

    .delta-dialog-content-text-seperator {
      line-height: 43px;
      height: 40px;
      padding-left: 15px;
      /* text-align: center; */
      font-weight: 200;
      color: var(--delta-dialog-seperator-text);
      background: var(--delta-dialog-seperator);
      user-select: none;
    }

    // .delta-dialog-content-seperator {
    //   height: 10px;
    //   background: var(--delta-dialog-seperator);
    //   box-shadow: inset 0px 2px 0 0px rgba(24, 33, 39, 0.14),
    //     0px 1px 0 0px rgba(24, 33, 39, 0.18);
    // }

    .delta-dialog-button {
      color: var(--colorPrimary);
      font-size: 18px;
      padding-left: 68px;
      height: 40px;
      line-height: 40px;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background-color: var(--chatListItemBgHover);
      }
    }

    &.delta-dialog-content--no-padding {
      padding: 0px;
    }

    &.delta-dialog-content--no-overflow {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
  }

  p.delta-button {
    color: var(--colorNone);
    padding: 0 2px;
    margin-bottom: 0px;
    letter-spacing: 0px;
    font-size: initial;
    font-weight: 'initial';
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    border-style: solid;
    border-color: transparent;
    border-radius: 2px;
    &:hover {
      cursor: pointer;
      background-color: #f1f1f1;
    }

    &.no-padding {
      padding: 0px;
    }

    &.bold {
      letter-spacing: 2px;
      font-weight: bold;
    }

    &.light-bold {
      letter-spacing: 1px;
      font-weight: 100;
    }

    &.primary {
      color: var(--colorPrimary);
    }

    &.danger {
      color: var(--colorDanger);
    }

    &.disabled {
      color: grey;
      cursor: default;
      &:hover {
        cursor: default;
        background-color: none;
      }
    }
  }

  .drop-file-dialog-file-list > li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
  }

  .header-button-wrapper {
    .bp3-icon-large {
      margin-right: 0px;
    }
    button:hover {
      background-color: unset !important;
    }

    &.close-btn {
      .bp3-icon-cross::before {
        margin-right: -14px;
        font-size: 24px;
      }
    }

    &.edit-btn {
      & > div {
        width: 24px;
        height: 24px;
        -webkit-mask: url(../images/lead-pencil.svg) no-repeat center;
        -webkit-mask-size: 80%;
        background-color: var(--scrollbarThumb);
        &:hover {
          cursor: pointer;
        }
      }
    }

    &.back-btn {
      button::before {
        margin-left: -13px !important;
        font-size: 20px !important;
      }
    }
  }
}

.DialogSwitch {
  display: flex;
  flex-direction: row;
  width: calc(100% + 40px);
  margin-left: -20px;
  padding: 11px 20px;
  margin-bottom: 0px;

  cursor: pointer;

  &:hover {
    background-color: var(--chatListItemBgHover);
  }
  &.disabled {
    .left {
      .label,
      .description {
        color: rgba(92, 112, 128, 0.6);
      }
    }
  }
  .left {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    min-width: 82%;

    .label {
    }
    .description {
      color: var(--chat-list-item-archived-label-border);
      font-size: smaller;
    }
  }

  .right {
    display: flex;
    align-self: center;
    .delta-switch2 input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -1;
    }
    .delta-switch2-indicator {
      display: block;
      position: relative;
      height: 16px;
      width: 28px;
      vertical-align: middle;

      background-color: #7a8084;
      border-bottom-color: #010101;
      border-radius: 28px;

      cursor: pointer;

      transition-delay: 0s;
      transition-duration: 0.1s;
      transition-property: background-color;
      transition-timing-function: cubic-bezier(0.4, 1, 0.75, 0.9);

      &.checked {
        background: var(--bp3SwitchChecked);
        &::before {
          left: calc(100% - 1em);
          box-shadow: var(--bp3SwitchKnobShadowChecked);
          background: var(--bp3SwitchKnobChecked);
        }
      }

      &.disabled {
        background: rgba(206, 217, 224, 0.5);
        &::before {
          background: rgba(255, 255, 255, 0.8);
        }
      }

      &::before {
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 0px;

        content: '';

        margin-bottom: 2px;
        margin-left: -2px;
        margin-right: 2px;
        margin-top: -2px;

        background-color: #f5f5f5;
        border-radius: 50%;
        box-shadow: rgb(210 207 207 / 68%) 0px 2px 0px 0px;

        transition-delay: 0s;
        transition-duration: 0.1s;
        transition-property: left;
        transition-timing-function: cubic-bezier(0.4, 1, 0.75, 0.9);
      }
    }
  }
}
