p.group-name,
input.group-name-input {
  margin-left: 0px;
  margin-bottom: 0px;
  font-size: x-large;
  width: 100%;
  border: 0;
  height: auto;
  background-color: transparent;
  color: var(--bp4MenuText);
  user-select: text;
}

p.group-name {
  display: flex;
  p.trucated-name {
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0;
  }
}

input.group-name-input {
  border-bottom: solid;
  border-color: var(--loginInputFocusColor);
}

.group-separator {
  background-color: var(--bp4DialogBgSecondary);
  color: var(--bp4MenuText);
  padding: 10px 15px;

  &.no-margin {
    margin: 0px;
  }
}

.group-settings-container {
  align-items: center;
  display: flex;
  margin-bottom: 20px;

  .group-name {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
  }

  .group-name-input-wrapper {
    margin-left: 17px;

    input.group-name-input {
      top: -7px;
      position: relative;
    }

    p.input-error {
      color: var(--colorDanger);
      position: absolute;
    }
  }
}

.group-member-contact-list-wrapper {
  overflow: scroll;
  max-height: calc(100% - 46px);
}

.group-image-wrapper {
  position: relative;

  .group-image-edit-button {
    position: absolute;
    width: 28px;
    height: 28px;
    padding: 4px;
    left: -3px;
    top: 5px;
    background-color: var(--colorPrimary);
    border-radius: 50%;
    z-index: 5;

    &:hover {
      cursor: pointer;
      opacity: 0.96;
    }

    div {
      height: 20px;
      width: 20px;
      @include color-svg('../images/icons/lead-pencil.svg', white);
    }
  }
}
