input.group-name-input {
  margin-left: 0px;
  margin-bottom: 10px;
  font-size: x-large;
  width: 100%;
  border: 0;
  border-bottom: solid;
  border-color: var(--loginInputFocusColor);
  height: 33px;
  background-color: transparent;
  color: var(--bp3MenuText);
}

div.group-seperator {
  margin: 20px -20px 0px -20px;
  padding: 10px 15px;
  background-color: var(--bp3DialogBgSecondary);
  color: var(--bp3MenuText);
  &.no-margin {
    margin: 0px;
  }
}

div.group-settings-container {
  margin-top: -8px;
  margin-left: -20px;
  margin-right: -20px;
  padding: 0px 65px 0px 20px;
  display: flex;
  align-items: center;
}

div.group-member-contact-list-wrapper {
  margin-left: -20px;
  margin-right: -20px;
}

div.group-image-wrapper {
  position: relative;
  div.group-image-edit-button {
    position: absolute;
    width: 28px;
    height: 28px;
    padding: 4px;
    left: -11px;
    top: -2px;
    background-color: #173aaf;
    border-radius: 50%;
    z-index: 5;
    &:hover {
      cursor: pointer;
      background-color: #102875;
    }
    div {
      height: 20px;
      width: 20px;
      @include color-svg('../images/lead-pencil.svg', white);
    }
  }
}
