.qr-code-switch {
    display: flex;
    background-color: white;

    p {
        width: 50%;

        margin: 0;
        padding: 17px 0px;

        color: var(--colorNone);

        font-size: initial;
        text-align: center;
        text-transform: uppercase;

        border-bottom-width: 3px;
        border-bottom-style: none;

        &.active {
            color: var(--colorPrimary);
            border-bottom-style: solid;
            border-bottom-color: var(--colorPrimary);
        }
    }
}

.scan-qr-description {
    position: relative;
    z-index: 10;
    top: -18px;
    margin-top: -18px;
    margin: 0;
    color: #fff;
}

.scan-qr-red-line {
    position: relative;
    z-index: 10;
    top: -250px;
    margin-top: -250px;
    margin: 0;

    border-bottom-color: #ff00005c;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    
    margin: 0px 50px;
}

.import-qr-code-dialog > div > div > section > section > div {
    border: 50px solid rgba(0, 0, 0, 0.2);
    box-shadow: unset !important;
}