div.import-qr-code-dialog {
  text-align: center;
  .qr-image-loader {
    max-height: 0;
  }
  .qr-data .content {
    height: 25px;
    text-align: left;
  }
  .copy-btn {
    position: absolute;
    right: 20px;
  }
  .bp3-button {
    margin: 10px;
  }
}

.delta-dialog-content {
  .bp3-progress-bar {
    width: 92%;
    text-align: center;
    margin-left: 30px 20px;
  }
}
