.qr-code-switch {
  display: flex;
  background-color: white;

  p {
    width: 50%;

    margin: 0;
    padding: 17px 0px;

    color: var(--colorNone);

    font-size: initial;
    text-align: center;
    text-transform: uppercase;

    border-bottom-width: 3px;
    border-bottom-style: none;

    &.active {
      color: var(--colorPrimary);
      border-bottom-style: solid;
      border-bottom-color: var(--colorPrimary);
    }
  }
}

.scan-qr-description {
  position: relative;
  z-index: 10;
  top: -18px;
  margin-top: -18px;
  margin: 0;
  color: #fff;
}

.scan-qr-red-line {
  @keyframes scan-qr-red-line {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  position: relative;
  z-index: 10;
  top: -225px;
  margin-top: -225px;
  margin: 0;

  border-bottom-color: #ff00005c;
  border-bottom-style: solid;
  border-bottom-width: 1px;

  margin: 0px 50px;

  animation-name: scan-qr-red-line;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.import-qr-code-dialog > div > div > section > section > div {
  border: 50px solid rgba(0, 0, 0, 0.2);
  box-shadow: unset !important;
}
