// ChatView Background selector

.bg-option-wrap {
  display: flex;
  justify-content: space-between;
}

.background-preview {
  width: 45%;
  height: 142px;
  border-radius: 5pt;
  background-image: url(../images/background_light.svg);
  background-color: var(--chatViewBg);
  background-size: cover;
}

.background-options {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
}

.background-default-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 170px;
  justify-content: space-between;
  align-content: space-between;
  margin-top: 13px;
}

.background-default-images > div {
  flex-wrap: wrap;
  margin: 2px;
  width: 75px;
  height: 75px;
  border-radius: 3pt;
  background-color: darkcyan;
  background-size: cover;
}

.profile-image-selector {
  float: right;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > img,
  & > span {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 5px;
    user-select: none;
    pointer-events: none;
  }
  & > span {
    line-height: 100px;
    font-size: 64px;
    color: white;
    text-align: center;
  }
  & > div {
    // the button container
    & > button {
      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
      }
      &:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.theme-meta {
  background-color: #80808082;
  padding: 6px;
  margin: 3px;
  border-radius: 4px;
  margin-bottom: 10px;

  p {
    margin-bottom: 0px;
  }

  p.name:before {
    content: var(--name);
  }
  p.description:before {
    content: var(--description);
  }
}

.SettingsButton {
  position: relative;
  height: 40px;
  width: calc(100% + 40px);
  left: -20px;

  &:hover {
    background-color: var(--chatListItemBgHover);
    cursor: pointer;
  }

  button {
    margin-left: 20px;
    padding: 0;

    background-color: unset;
    border: none;

    text-align: center;
    line-height: 40px;
  }
}

.SettingsSelector {
  position: relative;
  height: 40px;
  width: calc(100% + 40px);
  left: -20px;
  display: flex;
  justify-content: space-between;

  &:hover {
    background-color: var(--chatListItemBgHover);
    cursor: pointer;
  }

  button {
    margin-left: 20px;
    padding: 0;

    background-color: unset;
    border: none;

    text-align: center;
    line-height: 40px;
  }

  .CurrentValue {
    padding-right: 40px;
    line-height: 40px;
    color: var(--colorPrimary);
    font-weight: lighter;
  }
}
