div.profile-info-container {
  margin-left: 20px;
  display: flex;
  width: calc(100% - 65px);
  .profile-info-name-container {
    margin: auto 0px auto 17px;
    flex-grow: 1;
    input.name {
      font-size: medium;
      font-weight: bold;
      background-color: transparent;
      color: var(--globalText);
    }
    .address {
      color: #565656;
    }
  }
}

.mutual-chats {
  .chat-list-item {
    padding: 0px 20px;
  }
}
