div.profile-info-container {
  margin-left: 10px;
  display: flex;
  width: calc(100% - 27px);
  .profile-info-name-container {
    margin: auto 17px;
    flex-grow: 1;
    .name {
      font-size: medium;
      font-weight: bold;
    }
    .address {
      color: #565656;
    }
  }
}
