.profileInfoHeader {
  display: flex;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: nowrap;
  justify-content: center;
  margin-left: 17px;
}

.displayName {
  color: var(--globalText);
  font-size: x-large;
  line-height: 1.25;
  margin: 0;
  user-select: text;
}

.address {
  color: #565656;
  margin-top: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: text;
}

.verifiedIconWrapper {
  position: relative;
  top: -2px;
}
