.audit-log-dialog {
  .heading {
    flex: 1 1 auto;
    margin: 0;
    line-height: inherit;
  }

  h5 {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
  }

  div.no-content {
    display: flex;
    flex-direction: column;
    margin-top: 1.25em;
    & > div {
      font-size: 17px;
      background-color: var(--infoMessageBubbleBg);
      border-radius: 10px;
      opacity: 0.76;
      color: var(--infoMessageBubbleText);
      padding: 7px 14px;
      display: inline-block;
      align-self: center;
    }
  }

  ol {
    list-style: none;
    li.time {
      padding-bottom: 11px;
      div {
        border-bottom: 2px solid var(--globalText);
        font-size: 15px;
        font-weight: bold;
        display: inline-block;
      }
    }

    li.info {
      font-size: 14px;
      div.timestamp {
        font-weight: bold;
        display: inline-block;
        margin-right: 4px;
        font-size: 15px;
        background-color: #385e6b;
        border-radius: 10px;
        opacity: 0.76;
        color: var(--infoMessageBubbleText);
        padding: 7px 14px;
      }

      img {
        border-radius: 7%;
        height: 28px;
        width: 28px;
        vertical-align: middle;
        margin-inline-end: 5px;
      }

      &:hover {
        background: rgba($color: grey, $alpha: 0.25);
        border-radius: 10px 0 0 10px;
        div.timestamp {
          border-radius: 10px 0 0 10px;
          transition: ease-in 0.05s;
        }
      }
    }
  }
}
