$side-padding: 30px;

.forward-message-account-input {
  padding-right: $side-padding;
  padding-left: $side-padding;
  padding-bottom: 10px;

  .search-input {
    width: 100%;
  }
}

.forward-message-list-chat-list {
  height: 100%;

  .chat-list-item {
    padding-right: $side-padding;
    padding-left: $side-padding;
  }
}
