@use '../mixins';

.mutual-chats {
  .chat-list-item {
    padding: 0px 20px;
  }
}

.contact-attributes {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.08em;

  & > * {
    margin-bottom: 8px;
    & > img {
      width: 1.15em;
      height: 1.15em;
      margin-inline-start: 0.3em;
      margin-inline-end: 0.3em;
      vertical-align: middle;
    }
  }

  .verification {
    @include mixins.button-reset;
    img {
      margin-right: 7px;
    }
  }
}
