.status-text {
  padding: 15px 15px;
  color: var(--globalText);
  white-space: pre-wrap;
}

.mutual-chats {
  .chat-list-item {
    padding: 0px 20px;
  }
}

.contact-attributes {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.08em;

  & > div {
    margin-bottom: 8px;
    & > img {
      width: 1.15em;
      height: 1.15em;
      margin-inline-start: 0.3em;
      margin-inline-end: 0.3em;
      vertical-align: middle;
    }

    &.clickable:hover {
      cursor: pointer;
    }
  }
}
