.webxdc-send-to-chat-dialog {
  $search-input-height: 32px;
  $search-input-margin: 30px;

  .search-input {
    height: $search-input-height;
    margin: $search-input-margin;
    margin-top: 0;
    width: calc(100% - #{$search-input-margin * 2});
  }

  div.results {
    height: calc(100% - #{$search-input-height + $search-input-margin * 2});
  }

  .chat-list-item {
    padding-right: 30px;
    padding-left: 30px;
  }
}
