$imageSize: 100px;

.largeProfileImage {
  flex: 0 0 $imageSize;
  height: $imageSize;
  user-select: none;
  width: $imageSize;
}

.largeProfileImageArea {
  align-items: center;
  background-color: #bcbac9;
  border-radius: 100%;
  color: white;
  display: flex;
  font-size: 64px;
  height: $imageSize;
  justify-content: center;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
  width: $imageSize;
}
