.module-contact-name__profile-name {
  font-style: italic;
}

.AvatarBubble {
  position: relative;
  z-index: 2;
  object-fit: cover;
  height: 48px;
  width: 48px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 100%;
  background-color: #505050;
  color: var(--avatarLabelColor);
  font-size: 26px;
  line-height: 48px;
  text-align: center;
  user-select: none;
  &.large {
    height: 64px;
    width: 64px;
    line-height: 64px;
    font-size: 39px;
  }
}
.AvatarBubble--NoSearchResults {
  transform: rotate(45deg);
  line-height: 46px;
  letter-spacing: 1px;
  &::after {
    content: ':-(';
  }
}
.AvatarImage {
  position: relative;
  z-index: 2;
  object-fit: cover;
  height: 48px;
  width: 48px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 100%;
  user-select: none;
  &.large {
    height: 64px;
    width: 64px;
  }
}

.ContactListItemWrapper {
  display: flex;
  padding-left: 40px;
  &:hover {
    background-color: var(--chatListItemBgHover);
    cursor: pointer;
  }

  .chat-list & {
    padding-left: 0px;
  }

  .forward-message-list-chat-list & {
    width: 100%;
    padding: 0px 20px;
  }
}
