/* Set theme variables used for theme Generation */
@use './_themebase' with (
  $themeDarkOrLight: dark,
  $accentColor: #2090ea,
  $bgChatView: #19232b,
  $bgImage: url('./images/background_dark.svg'),
  $bgMessageBubbleIncoming: #303030,
  $bgMessageBubbleOutgoing: #354535,
  $messageOutgoingStatusColor: #e4d4d3,
  $bgNavBar: #272727,
  $bgPrimary: #222,
  $bgSecondary: #333,
  $chatListItemSelectedBg: #4c6e7d,
  $colorDanger: #f96856,
  $colorNone: #a0a0a0,
  $colorPrimary: #42a5f5,
  $newChatButtonBg: #a0a0a0,
  $keybindingHintsBoxBackground: #333,
  $keybindingActionBackground: #454545,
  $keybindingKeyBackground: lightgray,
  $keybindingKeyBorder: rgba(0, 0, 0, 0.2),
  $keybindingKeyShadow: rgba(0, 0, 0, 0.35),
  $textNavBar: #ddddf0,
  $textPrimary: #fff,
  $textSecondary: #ddd,
  $btnPrimaryText: #fff,
  $btnDangerText: #fff,
  $btnDangerBackground: #f96856,
  $colorLessContrast: #898989,

  $scrollbarTransparency: 0.34
);

.theme-meta {
  --name: 'Dark Theme';
  --description: 'Our default dark theme.';
}
