.checkbox {
  align-items: center;
  appearance: none;
  background-color: var(--buttonSecondaryBackground);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  margin: 0;
  width: 30px;

  &::after {
    background-color: white;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    content: '';
    display: none;
    height: 15px;
    width: 15px;
  }

  &:checked {
    background-color: var(--colorPrimary);

    &::after {
      display: block;
    }
  }

  &:disabled {
    cursor: not-allowed;

    &:checked {
      background-color: var(--buttonSecondaryBackground);
    }
  }
}
