name: Basic Code Checks

on:
  push:
    branches:
      - main
  pull_request:
    paths-ignore:
      - 'docs/**'  # only trigger build if a file outside of /docs was changed
      - 'README_ASSETS/**'
      - '.prettierrc.yml'
      - '.vscode/**'

jobs:
  test:
    name: Code Validation
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js 14.x
      uses: actions/setup-node@v1
      with:
        node-version: 14.x
    - name: npm ci
      run: |
        npm ci
    - name: preperation (generate code)
      run: |
        npm run build:shared:version
    - name: Check Typescript Types
      run: |
        npm run check-types
    - name: Run ESLint
      run: |
        npm run lint
    - name: Check Formatting
      run: |
        npm run check-formatting
    - name: Check for misplaced console.log statements
      run: |
        npm run test-log-conventions