.imageCropperDialogBody,
.imageCropperDialogContent {
  overflow: hidden;
}

.imageCropperContainer {
  height: 500px;
  position: relative;
  overflow: hidden;
  background: black;
}

.imageCropperShade {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0.5;
  background: black;
  z-index: 1;
}

.imageCropperCutImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  zoom: 1;
}

.imageCropperFullImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background: black;
  zoom: 1;
}

.imageCropperHint {
  bottom: 0;
  color: white;
  left: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  text-align: center;
  user-select: none;
}
