.button {
  align-items: center;
  background-color: transparent;
  border-radius: 10px;
  border: 0;
  color: var(--buttonText);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  padding: 12px 15px;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  outline: none;

  &:hover {
    background-color: var(--buttonHover);
  }

  &:disabled {
    background-color: var(--buttonDisabledBackground);
    color: var(--buttonDisabledText);
    cursor: not-allowed;
  }

  & > span {
    user-select: none;
  }

  &.primary {
    background-color: var(--buttonPrimaryBackground);
    color: var(--buttonPrimaryText);
  }

  &.secondary {
    background-color: var(--buttonSecondaryBackground);
    color: var(--buttonSecondaryText);
  }

  &.danger {
    color: var(--buttonDangerText);
  }

  &.active {
    background-color: var(--navBarButtonActive);
  }

  &.minimal {
    padding: 3px;
  }
}
