.qrReader {
  position: relative;
  height: 375px;
}

.qrReaderCanvas {
  display: none;
}

.qrReaderVideo {
  display: none;
  height: 375px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  &.visible {
    display: block;
  }
}

.qrReaderButton {
  background-color: transparent;
  border: 0;
  bottom: 0;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.8));
  margin: 10px;
  outline: 0;
  position: absolute;
  right: 0;

  &:hover {
    opacity: 0.8;
  }
}

.qrReaderButtonIcon {
  background-color: white;
}

.qrReaderStatus {
  align-items: center;
  color: white;
  display: flex;
  height: 375px;
  justify-content: center;
  left: 0;
  padding: 15px;
  position: absolute;
  right: 0;
  top: 0;

  &.info {
    background-color: gray;
  }

  &.error {
    background-color: red;
  }
}

.qrReaderError {
  display: block;
}
