.qrReader {
  position: relative;
  height: 375px;
}

.qrReaderCanvas {
  display: none;
}

.qrReaderVideo {
  display: none;
  height: 375px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  &.visible {
    display: block;
  }
}

.qrReaderButton {
  background-color: white;
  border-radius: 50%;
  border: 0;
  bottom: 0;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
  height: 35px;
  margin: 15px;
  outline: 0;
  padding: 5px;
  position: absolute;
  right: 0;
  width: 35px;

  &:hover {
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.4));
  }
}

.qrReaderButtonIcon {
  background-color: #333;
}

.qrReaderStatus {
  align-items: center;
  color: white;
  display: flex;
  height: 375px;
  justify-content: center;
  left: 0;
  padding: 15px;
  position: absolute;
  right: 0;
  top: 0;

  &.info {
    background-color: gray;
  }

  &.error {
    background-color: red;
  }
}

.qrReaderError {
  display: block;
}

.qrReaderFileInput {
  display: none;
}
